<div *ngIf="modelControl.fcff.type === 'FCFF' && formOneData && next === 2">
    <h4 class="card-header">{{modelControl.fcff.header}}</h4>
    <form [formGroup]="fcffForm" class="outer-wrapper">
        <div class="row" >
            <div class="col-md-12">
                <div class='c-decorated-header'>
                    <h3><span style="padding-left: 2%;">Free Cash Flow to Firm</span></h3>
                    <div class='c-decorated-header_link-view-more'>
                    </div>
                  </div>
            </div>
              <!-- discount rate -->
              <div class="col-md-4 field" style="padding-top: 0%;">
                    <div class="material-textfield">
                      <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                          <mat-label>Discount Rate*</mat-label>
                          <span class="company-list-rmve" *ngIf="fcffForm.controls['discountRate']?.value" style="right:9%;z-index: 0;">
                          <mat-icon class="company-list-rmve-icon" (click)="clearInput('discountRate')">close</mat-icon>
                          </span>
                          <mat-select formControlName="discountRate" class="new-inp company-list-inp fcfe-list nature-of-instrument">
                          <mat-option [disabled]="discountR.length" *ngFor="let doc of discountR" class="auto-class" [value]="getDocList(doc)">
                              {{ doc.label }}
                          </mat-option>
                          </mat-select>
                          <mat-error class="company-list-error" *ngIf="fcffForm.controls['discountRate'].touched && fcffForm.controls['discountRate'].errors" style="margin-left: -5%;">
                            <span *ngIf="hasError('discountRate','required',fcffForm)" class="error-text">
                              Please select discount rate
                            </span>
                          </mat-error>
                      </mat-form-field>
                  </div>
            </div>

            <!-- discount period -->
            <div class="col-md-4 field" style="padding-top: 0%;">
                  <div class="material-textfield">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <mat-label>Discount Period*</mat-label>
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['discountingPeriod']?.value" style="right:9%;">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('discountingPeriod')">close</mat-icon>
                        </span>
                        <mat-select placeholder="Select Discount Period" formControlName="discountingPeriod" class="new-inp company-list-inp fcfe-list nature-of-instrument">
                        <mat-option *ngFor="let doc of modelControl.fcff.options.discountPeriod.options" class="auto-class" [value]="doc.name">
                            {{ doc.name }}
                        </mat-option>
                        </mat-select>
                        <mat-error class="company-list-error" *ngIf="fcffForm.controls['discountingPeriod'].touched && fcffForm.controls['discountingPeriod'].errors" style="margin-left: -5%;">
                          <span *ngIf="hasError('discountingPeriod','required',fcffForm)" class="error-text">
                            Please select discounting period
                          </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- cost of equity -->
            <div class="col-md-4 field" style="padding-top: 0%;">
                  <div class="material-textfield">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <mat-label>Cost Of Equity*</mat-label>
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['coeMethod']?.value" style="right:9%;">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('coeMethod')">close</mat-icon>
                        </span>
                        <mat-select placeholder="Select cost of equity method" formControlName="coeMethod" class="new-inp company-list-inp fcfe-list nature-of-instrument">
                        <mat-option *ngFor="let doc of equityM" class="auto-class" [value]="doc.type">
                            {{ doc.label }}
                        </mat-option>
                        </mat-select>
                        <mat-error class="company-list-error" *ngIf="fcffForm.controls['coeMethod'].touched && fcffForm.controls['coeMethod'].errors" style="margin-left: -5%;">
                          <span *ngIf="hasError('coeMethod','required',fcffForm)" class="error-text">
                            Please select cost of equity method
                          </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- risk free rate -->
            <div class="col-md-4 field" style="padding-top: 0%;">
                  <div class="material-textfield">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <mat-label>Risk free rate*</mat-label>
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['riskFreeRateYears']?.value" style="right:8%;">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('riskFreeRateYears')">close</mat-icon>
                        </span>
                        <mat-select placeholder="Select risk free rate" formControlName="riskFreeRateYears" class="new-inp company-list-inp fcfe-list nature-of-instrument">
                        <mat-option  class="auto-class" value="customRiskFreeRate">
                            Custom
                        </mat-option>
                        <mat-option *ngFor="let doc of modelControl.fcff.options.riskFreeRate.options" class="auto-class" [value]="doc.maturityInYrs">
                          Yield on {{ doc.maturityInYrs }} Years Indian Treasury Bond
                        </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="fcffForm.controls['riskFreeRate'].value" class="taxrate-hint" style="padding-left: 0px;">Risk-Free rate is {{fcffForm.controls['riskFreeRate'].value}}%</mat-hint>
                        <mat-error class="company-list-error" *ngIf="fcffForm.controls['riskFreeRateYears'].touched && fcffForm.controls['riskFreeRateYears'].errors" style="margin-left: -5%;">
                          <span *ngIf="hasError('riskFreeRateYears','required',fcffForm)" class="error-text">
                            Please select risk free rate
                          </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- expected market return -->
            <div class="col-md-4 field" style="padding-top: 0%;">
                  <div class="material-textfield">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <mat-label>Expected Market Return*</mat-label>
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['expMarketReturnType']?.value" style="right:8%;">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('expMarketReturnType')">close</mat-icon>
                        </span>
                        <mat-select placeholder="Select expected market return" formControlName="expMarketReturnType" class="new-inp company-list-inp fcfe-list nature-of-instrument">
                        <mat-option *ngFor="let doc of modelControl.fcff.options.expMarketReturnType.options" class="auto-class" [value]="doc.name">
                          {{doc.name}}
                        </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="fcffForm.controls['expMarketReturn'].value" class="taxrate-hint">Expected Market Return is {{fcffForm.controls['expMarketReturn'].value?.toFixed(2)}}%</mat-hint>
                        <mat-error class="company-list-error" *ngIf="fcffForm.controls['expMarketReturnType'].touched && fcffForm.controls['expMarketReturnType'].errors" style="margin-left: -5%;">
                          <span *ngIf="hasError('expMarketReturnType','required',fcffForm)" class="error-text">
                            Please select expected market return
                          </span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- beta -->
            <div class="col-md-4 field" style="padding-top: 0%;">
                  <div class="material-textfield">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <mat-label>Beta*</mat-label>
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['betaType']?.value" style="right:8%;">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('betaType')">close</mat-icon>
                        </span>
                        <mat-select placeholder="Select beta" formControlName="betaType" class="new-inp company-list-inp fcfe-list nature-of-instrument" (selectionChange)="betaChange($event)">
                        <mat-option *ngFor="let doc of loadBetaDropdown()" class="auto-class" [value]="doc.value">
                          {{doc.name}}
                        </mat-option>
                        </mat-select>
                        <mat-error class="company-list-error" *ngIf="fcffForm.controls['betaType'].touched && fcffForm.controls['betaType'].errors" style="margin-left: -5%;">
                          <span *ngIf="hasError('betaType','required',fcffForm)" class="error-text">
                            Please select Beta
                          </span>
                        </mat-error>
                        <mat-hint style="width: 100%;display: flex; align-items: center;">
                          <span style="width: 100%;" *ngIf="fcffForm.controls['betaType'].value">
                            <span *ngIf="fcffForm.controls['betaType'].value !== 'market_beta' && fcffForm.controls['betaType'].value !== 'stock_beta'">
                              <input type="radio" style="vertical-align: middle;" [checked]="selectedSubBetaType === 'meanBeta'" (change)="onRadioButtonChange($event)" value="meanBeta" name="betaRadio" id="betaRadio">
                              <span class="reset-ind3" style="vertical-align: middle;">Mean</span>
                            </span>
                            <span style="padding-left: 14%;" *ngIf="fcffForm.controls['betaType'].value !== 'market_beta' && fcffForm.controls['betaType'].value !== 'stock_beta'">
                              <input type="radio" style="vertical-align: middle;" [checked]="selectedSubBetaType === 'medianBeta'" (change)="onRadioButtonChange($event)" value="medianBeta" name="betaRadio" id="betaRadio">
                              <span class="reset-ind3" style="vertical-align: middle;">Median</span>
                            </span>
                            <span [ngClass]="(fcffForm.controls['betaType'].value === 'market_beta' || fcffForm.controls['betaType'].value === 'stock_beta') ? '' :  'add-padding-beta'">
                              <span *ngIf="fcffForm.controls['beta'].value && !betaLoader" style="vertical-align: middle;font-size: 11px;color: #1915bb;" class="reset-ind3">Beta is {{fcffForm.controls['beta'].value?.toFixed(2)}}</span>
                            </span>
                          </span>
                          <span>
                            <mat-progress-spinner style="vertical-align: middle" *ngIf="betaLoader" class="beta-spin" mode="indeterminate" diameter="20"></mat-progress-spinner>
                          </span>
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <!-- risk premium -->
            <div class="col-md-4 field" style="padding-top: 1%;">
                <div class="material-textfield">
                  <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                      <input (click)="onSlideToggleChange($event)" type="text" matInput formControlName="riskPremium" class="company-list-inp" placeholder="Enter specific risk premium">
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['riskPremium']?.value" style="right: 3%;">
                          <mat-icon class="company-list-rmve-icon" (click)="clearInput('riskPremium')">close</mat-icon>
                        </span>
                      <mat-label>
                        Specific Risk Premium*
                      </mat-label>
                      <mat-error class="company-list-error" *ngIf="fcffForm.controls['riskPremium'].touched && fcffForm.controls['riskPremium'].errors" style="margin-left: -5%;">
                        <span *ngIf="hasError('riskPremium','required',fcffForm)" class="error-text">
                          Please add specific risk premium
                        </span>
                      </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!--cost of debt  -->
            <div class="col-md-4 field" style="padding-top: 1%;">
                <div class="material-textfield">
                  <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                      <input type="text" matInput formControlName="costOfDebt" class="company-list-inp" placeholder="Enter cost of debt">
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['costOfDebt']?.value" style="right: 3%;">
                          <mat-icon class="company-list-rmve-icon" (click)="clearInput('costOfDebt')">close</mat-icon>
                        </span>
                      <mat-label>
                        Cost of debt*
                      </mat-label>
                      <mat-error class="company-list-error" *ngIf="fcffForm.controls['costOfDebt'].touched && fcffForm.controls['costOfDebt'].errors" style="margin-left: -5%;">
                        <span *ngIf="hasError('costOfDebt','required',fcffForm)" class="error-text">
                          Please enter cost of debt
                        </span>
                      </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <!-- capital structure -->
            <div class="col-md-4 field" style="padding-top: 1%;">
              <div class="material-textfield">
                <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                    <mat-label>Capital structure*</mat-label>
                    <span class="company-list-rmve" *ngIf="fcffForm.controls['capitalStructureType']?.value" style="right:8%;">
                    <mat-icon class="company-list-rmve-icon" (click)="clearInput('capitalStructureType')">close</mat-icon>
                    </span>
                    <mat-select placeholder="Select capital structure" formControlName="capitalStructureType" class="new-inp company-list-inp fcfe-list nature-of-instrument">
                    <mat-option *ngFor="let doc of cStructure" class="auto-class" [value]="doc.type">
                      {{doc.label}}
                    </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="totalCapital" class="taxrate-hint" style="padding-left: 0px;">Target Capital Structure is {{totalCapital}}%</mat-hint>
                    <mat-error class="company-list-error" *ngIf="fcffForm.controls['capitalStructureType'].touched && fcffForm.controls['capitalStructureType'].errors" style="margin-left: -5%;">
                      <span *ngIf="hasError('capitalStructureType','required',fcffForm)" class="error-text">
                        Please select capital structure
                      </span>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>

            <!-- cop share capital -->
            <div class="col-md-4 field" style="padding-top: 0%;">
                <div class="material-textfield">
                  <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                      <input type="text" matInput formControlName="copShareCapital" class="company-list-inp" placeholder="Enter cost of cost of preference">
                        <span class="company-list-rmve" *ngIf="fcffForm.controls['copShareCapital']?.value" style="right: 3%;">
                          <mat-icon class="company-list-rmve-icon" (click)="clearInput('copShareCapital')">close</mat-icon>
                        </span>
                      <mat-label>
                        Cost of preference*
                      </mat-label>
                      <mat-error class="company-list-error" *ngIf="fcffForm.controls['copShareCapital'].touched && fcffForm.controls['copShareCapital'].errors" style="margin-left: -5%;">
                        <span *ngIf="hasError('copShareCapital','required',fcffForm)" class="error-text">
                          Please enter cost of preference
                        </span>
                      </mat-error>
                    </mat-form-field>
                </div>
            </div>
            

            <div class="col-md-12" *ngIf="(adjCoe !== null && adjCoe !== 0)   && (coe !== null && coe !== 0)">
                <div class='c-decorated-header-coe'>
                    <h3><span style="padding-left: 2%;">Estimated Cost of Equity</span></h3>
                    <div class='c-decorated-header_link-view-more'>
                    </div>
                  </div>
            </div>
            <div class="col-md-12 text-center" style="padding: 2%; padding-top: 1%;padding-bottom: 1%;" *ngIf="(adjCoe !== null && adjCoe !== 0)   && (coe !== null && coe !== 0)">
                <div >
                    <div class="row">
                      <div class="col-md-4" *ngIf="wacc !== null" style="text-align:center;">
                        <div class="card border-0">
                            <div class="card-body">
                                <span class="card-title">WACC</span> 
                                <span class="separator"></span>
                                <span class="card-text">{{wacc.toFixed(2)}}%</span>
                            </div>
                        </div>
                      </div>
                      <div [ngClass]="wacc !== null ? 'col-md-4' : 'col-md-6'">
                        <div class="card border-0">
                          <div class="card-body">
                            <span class="card-title">Cost Of Equity</span>
                            <span class="separator"></span>
                            <span class="card-text">{{coe.toFixed(2)}}%</span>
                          </div>
                        </div>
                      </div>
                      <div [ngClass]="wacc !== null ? 'col-md-4' : 'col-md-6'">
                        <div class="card border-0">
                          <div class="card-body">
                            <span class="card-title">Adjusted Cost Of Equity</span>
                            <span class="separator"></span>
                            <span class="card-text">{{adjCoe.toFixed(2)}}%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

            </div>

            <div class="col-md-12" *ngIf="specificRiskPremiumModalForm.controls['companySize'].value || specificRiskPremiumModalForm.controls['marketPosition'].value || specificRiskPremiumModalForm.controls['liquidityFactor'].value || specificRiskPremiumModalForm.controls['competition'].value">
                <div class='c-decorated-header-rp'>
                    <h3><span style="padding-left: 2%;">Risk Premium</span></h3>
                    <div class='c-decorated-header_link-view-more'>
                    </div>
                  </div>
            </div>
            <div class="card-container col-md-12" style="padding: 2%;padding-top: 1%;" *ngIf="specificRiskPremiumModalForm.controls['companySize'].value || specificRiskPremiumModalForm.controls['marketPosition'].value || specificRiskPremiumModalForm.controls['liquidityFactor'].value || specificRiskPremiumModalForm.controls['competition'].value">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-est">
                            <div class="card-subtext"><span class="rp-relate-icon"><mat-icon> business</mat-icon></span>{{specificRiskPremiumModalForm.controls['companySize'].value}}%</div>
                            <div class="card-header-rp card-header">Company Size <span class="rp-icon"><mat-icon>keyboard_arrow_right</mat-icon></span></div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-est">
                            <div class="card-subtext"><span class="rp-relate-icon"><mat-icon>view_column</mat-icon></span>{{specificRiskPremiumModalForm.controls['marketPosition'].value}}%</div>
                            <div class="card-header-rp card-header">Market Position <span class="rp-icon"><mat-icon >keyboard_arrow_right</mat-icon></span></div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-est">
                            <div class="card-subtext"><span class="rp-relate-icon"><mat-icon>how_to_vote</mat-icon></span>{{specificRiskPremiumModalForm.controls['liquidityFactor'].value}}%</div>
                            <div class="card-header-rp card-header">Liquidity Factor <span class="rp-icon"><mat-icon>keyboard_arrow_right</mat-icon></span></div>
                          </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-est">
                            <div class="card-subtext"><span class="rp-relate-icon"><mat-icon>whatshot</mat-icon></span>{{specificRiskPremiumModalForm.controls['competition'].value}}%</div>
                            <div class="card-header-rp card-header">Competition <span class="rp-icon"><mat-icon>keyboard_arrow_right</mat-icon></span></div>
                          </div>
                    </div>
                </div>
              </div>

            <div class="loader-container" *ngIf="isLoader">
                <div class="loader">
                  <div class="text">Please Wait</div>
                  <div class="dots-container">
                    <div class="dot dot1"></div>
                    <div class="dot dot2"></div>
                    <div class="dot dot3"></div>
                  </div>
                </div>
              </div>

              <div class="col-md-12 btn-prop">
                <button (click)="previous()" mat-raised-button class="button-back-mat">
                  <span class="button-back"><mat-icon>send</mat-icon></span>
                    Back
                    <!-- <mat-icon>arrow_left</mat-icon> -->

                </button>

            <button (click)="saveAndNext()" class="button-save-mat" mat-raised-button>
                Next
                <span class="button-save"><mat-icon>send</mat-icon></span>
             </button>
        </div>
        </div>
      </form>  
</div>