<div class="outer-section">
    <div class="outer-wrapper" *ngIf="modelControl.modelValuation.type === 'modelValuation'">
    <h4 class="card-header" >{{modelControl.modelValuation.header}}</h4>
    <form [formGroup]="modelValuation">
        <div class="row">
            <div class="col-md-6 field">
                <!-- <mat-label class="label">Company Name</mat-label> -->
                <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                    <input formControlName="company" [type]="modelControl.modelValuation.options.company.type" matInput [placeholder]="modelControl.modelValuation.options.company.placeholder">
                        <!-- <mat-error *ngIf="hasError(secondForm, 'valuation', 'required')">
                            Please enter a valuations
                        </mat-error> -->
                </mat-form-field>
            </div>
            
    
                <div class="col-md-6 field">
                    <mat-form-field class="full-width-input" [floatLabel]="floatLabelType">
                        <input formControlName="valuationDate" [placeholder]="modelControl.modelValuation.options.valuationDate.placeholder" matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!-- <mat-error *ngIf="hasError(secondForm, 'date', 'required')">
                            Please select Date
                          </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-md-6 field">
                    <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                        <input formControlName="location" [type]="modelControl.modelValuation.options.location.type" matInput [placeholder]="modelControl.modelValuation.options.location.placeholder">
                            <!-- <mat-error *ngIf="hasError(secondForm, 'valuation', 'required')">
                                Please enter a valuations
                            </mat-error> -->
                    </mat-form-field>
                </div>
    
               

                <div class="col-md-6 field">
                    <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                        <mat-select formControlName="industry" [placeholder]="modelControl.modelValuation.options.industry.placeholder">
                        <mat-option *ngFor="let doc of industries" [value]="doc.industry">{{doc.industry}}</mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="hasError(loginForm, 'company', 'required')">
                            Please select company
                          </mat-error> -->
                      </mat-form-field>
                </div>

                <div class="col-md-12 field" >
                    <div class="row">
                        <div class="col-md-3 modelview">
                            <mat-label class="label">{{modelControl.modelValuation.options.model.placeholder}}</mat-label>
                        </div>
                        <div class="col-md-9" *ngIf="modelControl.modelValuation.options.model.options">
                            <span *ngFor="let option of modelControl.modelValuation.options.model.options; let i = index">
                            <mat-checkbox [checked]="isSelected(option.value)" [value]="option.value" (change)="toggleCheckbox(option)" formControlName="model" class="example-margin"
                            color="primary">
                            {{option.name}}
                            </mat-checkbox>
                        </span>
                        </div>
                    </div>
                </div>

              
    
                <!-- <div class="col-md-6 field upload-doc">
                    <div class="row">
                        <div class="col-md-8">
                            <input
                              type="file"
                              hidden
                              #fileInput
                              accept="image/png, image/jpeg, .pdf, .xlsx"
                              (change)="onFileSelected($event)"
                            />
                            <mat-label class="label">Upload File</mat-label>
                            <p class="download">(If you want to download template,
                              <a [href]="downloadTemplate" target="_blank" style="font-weight: 500;">Click Me!</a>)
                            </p>
                          </div>
                          <div class="col-md-4" style="margin-top: auto; margin-bottom: auto;">
                            <button
                              type="button"
                              mat-raised-button
                              [ngClass]="'upload-btn-enabled'"
                              (click)="fileInput.click()"
                            >
                              <mat-icon>cloud_upload</mat-icon> Upload File
                            </button>
                          </div>
                    </div>
                </div> -->

                <div class="col-md-6 field"  *ngIf="modelValuation.controls['industry'].value && subIndustries.length > 0">
                    <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                        <mat-select #subIndustryVal (selectionChange)="subIndustryChange(subIndustryVal.value)" formControlName="subIndustry" [placeholder]="modelControl.modelValuation.options.subIndustry.placeholder">
                        <mat-option *ngFor="let doc of subIndustries"  [value]="doc._id">{{doc.subIndustry}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-md-6 mat-radio field" *ngIf="isRelativeValuation('FCFE') || isRelativeValuation('FCFF') || isRelativeValuation('Excess_Earnings')">
                    <mat-radio-group formControlName="projectionYearSelect" *ngIf="modelControl.modelValuation.options.projectionYears.options">
                        <mat-radio-button  *ngFor="let option of modelControl.modelValuation.options.projectionYears.options"
                        [value]="option.value">{{option.name}}</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-md-6 field" >
                    <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                        <input [type]="modelControl.modelValuation.options.outstandingShares.type"  formControlName="outstandingShares" matInput  [placeholder]="modelControl.modelValuation.options.outstandingShares.placeholder">
                      </mat-form-field>
                </div>

                <div class="col-md-6 field">
                    <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                        <mat-select formControlName="taxRateType" [placeholder]="modelControl.modelValuation.options.taxRate.placeholder">
                            <mat-option (click)="openDialog()" value="25.17"> Default</mat-option> 
                        <mat-option *ngFor="let doc of taxRate" (click)="openDialog(true)" [value]="doc.type">{{doc.label}}</mat-option>
                        </mat-select>
                        <mat-hint *ngIf="taxRateModelBox" class="taxrate-hint">Tax rate is {{taxRateModelBox}}</mat-hint>
                    </mat-form-field>
                </div>
            </div>
      </form>  
    </div>

    
    <div style="padding-bottom: 1%;text-align: center;">
    <button (click)="saveAndNext()" style="box-shadow: 1px 2px 15px #d1d1d1;color:#228822;"  mat-raised-button>
        Save
        <mat-icon style="font-weight: bold;color: green;">send</mat-icon>
     </button>
    
</div>
</div>
