<div class="outer-section" *ngIf="step === 1">
    <div class="outer-wrapper" *ngIf="modelControl.modelValuation.type === 'modelValuation'">
    <!-- <h4 class="card-header" >Company Details</h4> -->
    <div class='c-decorated-header'>
      <h3><span style="padding-left: 2%;">Company Details</span></h3>
      <div class='c-decorated-header_link-view-more'>
      </div>
    </div>
    <form [formGroup]="modelValuation">
        <div class="row">
          <!-- <div class="col-md-12 revalmodel" style="border-top: 1px solid #ccdfe3">
            <mat-label class="label">Company Details</mat-label>
            <span class="mat-bullet"><mat-icon>fiber_manual_record</mat-icon></span>
          </div> -->

              <!-- company -->
              <div class="col-md-6 field" style="padding-top: 0%;">
                <div class="material-textfield">
                  <mat-form-field appearance="fill" class="control-form-field " style="width: 100%;">
                      <input type="text" matInput formControlName="company" class="company-list-inp" (focus)="companyInputFocused()" (blur)="companyInputBlurred()" (keyup)="filterByBusinessDescriptor($event)" [matAutocomplete]="auto" placeholder="Enter company name">
                        <span class="company-list-rmve" *ngIf="modelValuation.controls['company']?.value && !companyListLoader">
                          <mat-icon class="company-list-rmve-icon" (click)="clearInput('company')">close</mat-icon>
                        </span>
                      <span class="outercmpny-spinner" *ngIf="companyListLoader">
                        <mat-progress-spinner style="vertical-align: middle" class="company-list-spinner" mode="indeterminate" diameter="20"></mat-progress-spinner>
                      </span>
                      <mat-label>
                        <div class="label-container">
                          Company Name
                          <span class="company-info-span" *ngIf="modelValuation.controls['company']?.value || companyInput">
                            <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.companyName" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                              <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                              fill="#ff0000"></path>
                              <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                              </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                            </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
                          </span>
                        </div>
                      </mat-label>
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelection($event)" class="mat-auto">
                        <mat-option *ngFor="let option of options" [value]="option.COMPANYNAME" style="text-transform: capitalize;" class="company-list">
                          {{ option.COMPANYNAME }}
                        </mat-option>
                      </mat-autocomplete>
                      <mat-error class="company-list-error" *ngIf="modelValuation.controls['company'].touched && modelValuation.controls['company'].errors">
                        <span *ngIf="hasError('company','required',modelValuation)">
                          Please provide a valid company name.
                        </span>
                    </mat-error>
                    </mat-form-field>
                    
                  </div>
                  
              </div>

                <!--valuation date  -->
                <div class="col-md-6 field" style="padding-top: 0%;">
                    <!-- <div class="material-textfield">
                      <input class="new-inp" formControlName="valuationDate" [placeholder]="modelControl.modelValuation.options.valuationDate.placeholder" type="date" />
                      <label>Valuation Date</label>
                      <mat-form-field>
                        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </div> -->
                    <div class="material-textfield">
                      <mat-form-field appearance="fill" class="control-form-field val-date" style="width: 100%;">
                        <mat-label>
                          <div class="label-container">
                            Valuation Date
                            <span class="company-info-span" *ngIf="modelValuation.controls['valuationDate']?.value">
                              <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.valuationDate" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                                <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                                fill="#ff0000"></path>
                                <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                                </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                              </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
                            </span>
                          </div>
                        </mat-label>
                        <span class="company-list-rmve" *ngIf="modelValuation.controls['valuationDate']?.value">
                          <mat-icon class="company-list-rmve-icon" (click)="clearInput('valuationDate')">close</mat-icon>
                        </span>
                          <input matInput [matDatepicker]="picker" formControlName="valuationDate" (click)="picker.open()" placeholder="Choose a date" class="company-list-inp">
                          
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                          <mat-error class="company-list-error" *ngIf="modelValuation.controls['valuationDate'].touched && modelValuation.controls['valuationDate'].errors">
                            <span *ngIf="hasError('valuationDate','required',modelValuation)" class="error-text" style="padding-left: 0%;">Please select valuation date</span>
                        </mat-error>
                      </mat-form-field>
                  </div>
                </div>

                <!-- Reporting unit -->
                <div class="col-md-6 field" style="padding-top: 0%;" *ngIf="hideReviewForm('reportingUnit')">
                  <div class="material-textfield">
                    <!-- <select id="reportingUnit" class="new-inp" formControlName="reportingUnit">
                      <option value="" disabled selected>Select reporting unit</option>
                      <option *ngFor="let doc of modelControl.reportDetails.options.reportingUnit"  [value]="doc.value">{{ doc.name }}</option>
                    </select>
                    <label for="reportingUnit">Units</label> -->
                      <mat-form-field appearance="fill" class="control-form-field" style="width: 100%;">
                          <mat-label>
                            <div class="label-container">
                              Units*
                              <span class="company-info-span" *ngIf="modelValuation.controls['reportingUnit']?.value" >
                                <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.reportingUnit" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                                  <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                                    fill="#ff0000"></path>
                                  <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                                  </polyline>
                                  <line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                                  </line>
                                  <path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path>
                                </svg>
                              </span>
                            </div>
                          </mat-label>
                          <span class="company-list-rmve" *ngIf="modelValuation.controls['reportingUnit']?.value" style="right:7%;">
                          <mat-icon class="company-list-rmve-icon" (click)="clearInput('reportingUnit')">close</mat-icon>
                          </span>
                          
                          <mat-select formControlName="reportingUnit" class="new-inp company-list-inp nature-of-instrument">
                          <mat-option *ngFor="let doc of modelControl.reportDetails.options.reportingUnit" class="auto-class" [value]="doc.value">
                              {{ doc.name }}
                          </mat-option>
                          </mat-select>
                          <mat-error class="company-list-error" *ngIf="modelValuation.controls['reportingUnit'].touched && modelValuation.controls['reportingUnit'].errors">
                            <span *ngIf="hasError('reportingUnit','required',modelValuation)" class="error-text" style="padding-left: 0%;">Please select reporting units</span>
                        </mat-error>
                      </mat-form-field>
                  </div>
                  <!-- <span *ngIf="modelValuation.controls['reportingUnit'].touched && modelValuation.controls['reportingUnit'].errors">
                    <span *ngIf="hasError('reportingUnit','required',modelValuation)" class="error-text">Please select reporting unit</span>
                  </span> -->
              </div>

              <!-- currency unit -->
              <div class="col-md-6 field" style="padding-top: 0%;" *ngIf="hideReviewForm()">
                <div class="material-textfield">
                  <!-- <select id="currencyUnit" class="new-inp" formControlName="currencyUnit">
                    <option value="" disabled selected>Select currency</option>
                    <option *ngFor="let doc of modelControl.reportDetails.options.currencyUnit"  [value]="doc.value">{{ doc.name }}</option>
                  </select>
                  <label for="currencyUnit">Currency</label> -->
                  <mat-form-field appearance="fill" class="control-form-field" style="width: 100%;">
                    <mat-label>
                      <div class="label-container">
                        Currency*
                        <span class="company-info-span" *ngIf="modelValuation.controls['currencyUnit']?.value">
                          <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.currencyUnit" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                            <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                              fill="#ff0000"></path>
                            <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                            </polyline>
                            <line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                            </line>
                            <path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path>
                          </svg>
                        </span>
                      </div>
                    </mat-label>
                    <span class="company-list-rmve" *ngIf="modelValuation.controls['currencyUnit']?.value" style="right:7%;">
                    <mat-icon class="company-list-rmve-icon" (click)="clearInput('currencyUnit')">close</mat-icon>
                    </span>
                    <mat-select formControlName="currencyUnit" class="new-inp company-list-inp nature-of-instrument">
                    <mat-option *ngFor="let doc of modelControl.reportDetails.options.currencyUnit" class="auto-class" [value]="doc.value">
                        {{ doc.name }}
                    </mat-option>
                    </mat-select>
                    <mat-error class="company-list-error" *ngIf="modelValuation.controls['currencyUnit'].touched && modelValuation.controls['currencyUnit'].errors">
                      <span *ngIf="hasError('currencyUnit','required',modelValuation)" class="error-text" style="padding-left: 0%;">Please select currency unit</span>
                  </mat-error>
                </mat-form-field>
                </div>
                <!-- <span *ngIf="modelValuation.controls['currencyUnit'].touched && modelValuation.controls['currencyUnit'].errors">
                  <span *ngIf="hasError('currencyUnit','required',modelValuation)" class="error-text">Please select currency unit</span>
                </span> -->
            </div>

                <!-- location -->
                <div class="col-md-6 field" style="padding-top: 0%;" *ngIf="hideReviewForm()">
                    <!-- <div class="material-textfield">
                      <input class="new-inp"  formControlName="location" [type]="modelControl.modelValuation.options.location.type" [placeholder]="modelControl.modelValuation.options.location.placeholder"/>
                      <label>Location</label>
                    </div> -->
                    <div class="material-textfield">
                      <mat-form-field appearance="fill" class="control-form-field" style="width: 100%;">
                          <input type="text" matInput formControlName="location" class="company-list-inp" placeholder="Enter Location">
                            <span class="company-list-rmve" *ngIf="modelValuation.controls['location']?.value">
                              <mat-icon class="company-list-rmve-icon" (click)="clearInput('location')">close</mat-icon>
                            </span>
                          <mat-label>
                            <div class="label-container">
                              Location
                              <span class="company-info-span" *ngIf="modelValuation.controls['location']?.value">
                                <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.location" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                                  <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                                  fill="#ff0000"></path>
                                  <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                                  </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                                </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
                              </span>
                            </div>
                          </mat-label>
                          
                          <mat-error class="company-list-error" *ngIf="modelValuation.controls['location'].touched && modelValuation.controls['location'].errors">
                            <span *ngIf="hasError('location','required',modelValuation)">
                              Please enter location.
                            </span>
                          </mat-error>
                        </mat-form-field>
                      </div>
                </div>
    
                <!--industry  -->
                <!-- <div class="col-md-6 field" *ngIf="isNotRuleElevenUa()">
                    <div class="material-textfield">
                      <select id="industry" class="new-inp" formControlName="industry">
                        <option value="" disabled selected>{{ modelControl.modelValuation.options.industry.placeholder }}</option>
                        <option *ngFor="let doc of industries" [ngValue]="doc.industry">{{ doc.industry }}</option>
                      </select>
                      <label for="industry">Industry</label>
                    </div>
                    <span *ngIf="modelValuation.controls['industry'].touched && modelValuation.controls['industry'].errors">
                      <span *ngIf="hasError('industry','required',modelValuation)" class="error-text">Please select industry</span>
                    </span>
                </div> -->

                <!--industry  cia industry-->
                <!-- <div class="col-md-6 field" *ngIf="isNotRuleElevenUaAndNav()">
                  <div class="material-textfield">
                    <select id="industry" class="new-inp" formControlName="industry">
                      <option value="" disabled selected>{{ modelControl.modelValuation.options.industry.placeholder }}</option>
                      <option *ngFor="let doc of industries" [ngValue]="doc.GICSDescriptor">{{ doc.GICSDescriptor }}</option>
                    </select>
                    <label for="industry">Industry</label>
                  </div>
                  <span *ngIf="modelValuation.controls['industry'].touched && modelValuation.controls['industry'].errors">
                    <span *ngIf="hasError('industry','required',modelValuation)" class="error-text">Please select industry</span>
                  </span>
              </div> -->

                <!-- outstanding shares -->
                <div class="col-md-6 field" style="padding-top: 0%;" *ngIf="hideReviewForm()">
                      <!-- <div class="material-textfield">
                        <input class="new-inp" [type]="modelControl.modelValuation.options.outstandingShares.type"  formControlName="outstandingShares" [placeholder]="modelControl.modelValuation.options.outstandingShares.placeholder"/>
                        <label>Outstanding Shares</label>
                  </div> -->
                  <div class="material-textfield">
                    <mat-form-field appearance="fill" class="control-form-field" style="width: 100%;">
                        <input type="text" matInput formControlName="outstandingShares" class="company-list-inp" placeholder="Enter outstanding shares">
                        
                          <span class="company-list-rmve" *ngIf="modelValuation.controls['outstandingShares']?.value">
                            <mat-icon class="company-list-rmve-icon" (click)="clearInput('outstandingShares')">close</mat-icon>
                          </span>
                        <mat-label>
                          <div class="label-container">
                            Outstanding shares
                            <span class="company-info-span" *ngIf="modelValuation.controls['outstandingShares']?.value">
                              <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.outstandingShares" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                                <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                                fill="#ff0000"></path>
                                <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                                </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                              </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
                            </span>
                          </div>
                        </mat-label>
                        <mat-error class="company-list-error" *ngIf="modelValuation.controls['outstandingShares'].touched && modelValuation.controls['outstandingShares'].errors">
                          <span *ngIf="hasError('outstandingShares','required',modelValuation)">
                            Please enter outstanding shares.
                          </span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                  <!-- <span *ngIf="modelValuation.controls['outstandingShares'].touched && modelValuation.controls['outstandingShares'].errors">
                    <span *ngIf="hasError('outstandingShares','required',modelValuation)" class="error-text">Please enter outstanding shares</span>
                  </span> -->
              </div>

              <!-- sub-industry -->
                <!-- <div class="col-md-6 field"  *ngIf="modelValuation.controls['industry'].value && selectedIndustry?.industry &&  subIndustries.length > 0 && isNotRuleElevenUa()">
                      <div class="material-textfield">
                        <select id="subIndustry" class="new-inp" #subIndustryVal (change)="subIndustryChange(subIndustryVal.value)" formControlName="subIndustry">
                          <option value="" disabled selected>Select sub-industry</option>
                          <option *ngFor="let doc of subIndustries"  [ngValue]="doc._id">{{doc.subIndustry}}</option>
                        </select>
                        <label for="subIndustry">Sub-Industry</label>
                      </div>
                      <span *ngIf="modelValuation.controls['subIndustry'].touched && modelValuation.controls['subIndustry'].errors">
                        <span *ngIf="hasError('subIndustry','required',modelValuation)" class="error-text">Please select sub-industry</span>
                      </span>
                </div> -->

                <!-- tax rate -->
                <div class="col-md-6 field" *ngIf="isNotRuleElevenUaAndNav()" style="padding-top: 0px;">
                    <div class="material-textfield">
                      <mat-form-field appearance="fill" class="control-form-field" style="width: 100%;">
                        <mat-label>
                          <div class="label-container">
                            Tax Rate*
                            <span class="company-info-span" *ngIf="modelValuation.controls['taxRateType']?.value">
                              <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.taxRate" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                                <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                                  fill="#ff0000"></path>
                                <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                                </polyline>
                                <line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                                </line>
                                <path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path>
                              </svg>
                            </span>
                          </div>
                        </mat-label>
                        <span class="company-list-rmve" *ngIf="modelValuation.controls['taxRateType']?.value" style="right:7%;">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('taxRateType')">close</mat-icon>
                        </span>                        
                        <mat-select formControlName="taxRateType" class="new-inp company-list-inp nature-of-instrument" (selectionChange)="onTaxRateChange($event)">
                        <mat-option value="25.17" selected class="auto-class" >
                            Default
                        </mat-option>
                        <mat-option *ngFor="let doc of taxRate" class="auto-class" [value]="doc.type">
                            {{ doc.label }}
                        </mat-option>
                      </mat-select>
                      <mat-hint *ngIf="taxRateModelBox" class="taxrate-hint" style="padding-left: 5px;margin-left: -1%;">Tax rate is {{taxRateModelBox}}%</mat-hint>
                    </mat-form-field>
                    </div>
                </div>            
                <!-- Face Value -->
                <div class="col-md-6 field" *ngIf="isNavOrElevenUa()" style="padding-top: 0px;">
                    <div class="material-textfield">
                      <mat-form-field appearance="fill" class="control-form-field" style="width: 100%;">
                        <input type="text" matInput formControlName="faceValue" class="company-list-inp" placeholder="Enter face value">                        
                          <span class="company-list-rmve" *ngIf="modelValuation.controls['faceValue']?.value">
                            <mat-icon class="company-list-rmve-icon" (click)="clearInput('faceValue')">close</mat-icon>
                          </span>
                        <mat-label>
                          <div class="label-container">
                            Face Value
                            <span class="company-info-span" *ngIf="modelValuation.controls['faceValue']?.value">
                              <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.faceValue" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                                <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                                fill="#ff0000"></path>
                                <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                                </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                              </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
                            </span>
                          </div>
                        </mat-label>
                        <mat-error class="company-list-error" *ngIf="modelValuation.controls['faceValue'].touched && modelValuation.controls['faceValue'].errors">
                          <span *ngIf="hasError('faceValue','required',modelValuation)">
                            Please enter face value.
                          </span>
                        </mat-error>
                      </mat-form-field>
                    </div>
                </div>            
            </div>
      </form>   
    </div>

    <div class="row" style="padding-bottom: 1%;padding-top: 2%;">
      <div class="col-xl-6">
        <div style="padding-left: 4%;text-align: left;" class="container">
          <button (click)="selectValuation()" [ngClass]="modelSelectStatus ? 'model-button' : 'show-button-grad'" mat-raised-button>
              Select Valuation Model
           </button>
           <span *ngIf="!modelSelectStatus" class="error-text">Please select valuation model</span>
          </div>
      </div>
      <div class="col-xl-12" style="padding-left: 2%;padding-right: 3%;padding-top: 1%;" *ngIf="modelValuation.controls['model'].value.length > 0">
        <div class="chip-container">
          <div class="chip" *ngFor="let indModel of modelValuation.controls['model'].value" style="padding-left: 2%;padding-right: 7%;padding-top: 2%;padding-bottom: 2%;">
            {{ allModels[indModel] }}
            <span class="icon-container">
              <mat-icon>done_all</mat-icon>
            </span>
            <span class="close-btn" (click)="removeTag(indModel)">&times;</span>
          </div>
        </div>
      </div>
      <div class="col-xl-12" *ngIf="fileName" style="padding-top: 1%;">
        <div class="filename-container" >
          <div class="title">Uploaded filename:</div>
          <span class="filename" (click)="downloadTemplateExternal()">{{fileName}}</span>
          <!-- Uncomment the below code, also from ts,to reupload excels :-) -->
          <!-- <span class="filename" (click)="fileInput.click()">{{fileName}}</span> -->
          <!-- <input #fileInput type="file" style="display: none;" (change)="reUploadFile($event)"> -->
        </div>
      </div>
      <div [ngClass]="fileName || modelValuation.controls['model'].value.length > 0 ? 'col-xl-12' : 'col-xl-6'">
        <div style="padding-bottom: 2%;" [ngStyle]="(fileName || modelValuation.controls['model'].value.length > 0) ? { 'padding-right': '2%', 'text-align': 'right' } : { 'padding-right': '4%', 'text-align': 'right' }" class="container">
          <button (click)="saveAndNext()" [ngClass]="fileName || modelValuation.controls['model'].value.length > 0 ? 'button-resave-mat' : 'button-save-mat'" mat-raised-button>
              Next
              <span class="button-save"><mat-icon style="font-weight: bold;color: #ffffff;">send</mat-icon></span>
           </button>
          </div>
      </div>
    </div>
</div>
