<div class="row">
  <div class="col">
    <div class="card mt-4">
      <h4 class="card-header">Let's get started with Valuation of a firm</h4>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <mat-horizontal-stepper class="example-stepper" #stepper>
              <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
                <form [formGroup]="firstFormGroup">
                  <section class="pt-5">
                    <div class="row">
                      <div class="col-6">
                        <div class="control-group form-group">
                          <label class="form-control-label" for="vDate">Valuation date</label>
                          <i class="fa fa-exclamation-circle mx-3"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            placement="right"></i>
                          <div class="input-group">
                            <input class="form-control" placeholder="mm-dd-yyyy" name="dp" id="vDate"
                              name="valuationDatef" formControlName="valuationDate" ngbDatepicker #d="ngbDatepicker" />
                            <i class="fa fa-calendar btn btn-md btn-default lh-base" (click)="d.toggle()"></i>
                          </div>
                          <!--</button> -->
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="control-group form-group">
                          <label class="form-control-label" for="cName">Company name</label>
                          <i class="fa fa-exclamation-circle mx-3"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            placement="right"></i>
                          <input class="form-control input-md" id="cName" name="company" formControlName="company"
                            type="text" placeholder="Selected company name" />
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="control-group form-group">
                          <label class="form-control-label" for="industry" id="industry"
                            name="industry">Industry</label>
                          <i class="fa fa-exclamation-circle mx-3"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            placement="right"></i>
                          <ng-select formControlName="industry" class="select2 w-100"
                            placeholder="Select industry name">
                            <ng-option [value]="item.industry" *ngFor="let item of industries">{{ item.industry
                              }}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-6" *ngIf="subIndustries.length">
                        <div class="control-group form-group">
                          <label class="form-control-label" for="subIndustry" id="subIndustry" name="subIndustry">Sub
                            Industry</label>
                          <i class="fa fa-exclamation-circle mx-3"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            placement="right"></i>
                          <ng-select formControlName="subIndustry" class="select2 w-100"
                            placeholder="Select subIndustry name">
                            <ng-option [value]="item._id" *ngFor="let item of subIndustries">{{ item.subIndustry
                              }}</ng-option>
                          </ng-select>
                        </div>
                      </div>

                      <div class="col-6">
                        <div class="control-group form-group">
                          <label class="form-control-label" for="pYears">Projection years</label>
                          <input class="form-control input-md" name="projectionYear" formControlName="projectionYears"
                            type="text" placeholder="Select projection years" />
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="control-group form-group">
                          <label class="form-control-label" for="vModule" id="vModule" name="model">Valuation
                            model</label>
                          <i class="fa fa-exclamation-circle mx-3"
                            ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                            placement="right"></i>
                          <ng-select class="select2 w-100" dropdownPosition="top" required
                            placeholder="Select valuation model" formControlName="model">
                            <ng-option selected="selected" disabled>
                              Select Valuation
                            </ng-option>
                            <ng-option [value]="item.type" *ngFor="let item of valuationM">{{ item.label }}</ng-option>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group form-elements mt-0">
                          <div class="custom-controls-stacked d-flex">
                            <label class="custom-control custom-radio">
                              <input type="radio" class="custom-control-input" name="example-radios" value="option1"
                                checked />
                              <span class="custom-control-label">Going concern</span>
                            </label>
                            <label class="custom-control custom-radio mx-2">
                              <input type="radio" class="custom-control-input" name="example-radios" value="option2" />
                              <span class="custom-control-label">Finite projection</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                  <div>
                    <button class="btn btn-primary mt-2" matStepperNext>
                      Next
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
                <form [formGroup]="secondFormGroup">
                  <section>

                    <!-- <div class="row">
                      <div class="col-md-4">
                        <div class="card-body">
                          <ngx-dropzone (change)="onFileSelected($event)">
                            <ngx-dropzone-label>Drag and drop filled in P&L and BS in excel format. To get template click the download button</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                              <ngx-dropzone-label>{{ f.name }}
                              </ngx-dropzone-label>
                            </ngx-dropzone-preview>
                          </ngx-dropzone>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="row">
                          <div class="col-md-6">.col-md-6</div>
                          <div class="col-md-6">.col-md-6</div>
                        </div>
                        <div class="pb-3">
                          <input class="form-control input-md" formControlName="outstandingShares"
                              name="outstandingShares" type="text" placeholder="No.of outstanding shares" />
                        </div>
                        <div class="pb-3">
                          <input class="form-control input-md" formControlName="outstandingShares"
                              name="outstandingShares" type="text" placeholder="No.of outstanding shares" />
                        </div>
                      </div>
                    </div> -->

                    

                    <div class="row mb-2">
                      
                      <div class="col-9">
                        <div>
                          <div class="card-body">
                            <ngx-dropzone (change)="onFileSelected($event)">
                              <ngx-dropzone-label>Drag and drop filled in P&L and BS in excel format. To get template click the download button</ngx-dropzone-label>
                              <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                                <ngx-dropzone-label>{{ f.name }}
                                </ngx-dropzone-label>
                              </ngx-dropzone-preview>
                            </ngx-dropzone>
                          </div>
                        </div>
                      </div>
                      <div class="col-1"></div>
                      <div class="col-2 templateC d-flex align-items-center">
                        <a [ngClass]="{
                            'user-select-none': isDownloadAllow == false
                          }" class="btn h4 btn-secondary text-white" [href]="downloadTemplate" target="_blank">
                          <i class="fa fa-download mx-3"></i>Get Template
                        </a>
                      </div>
                      <!-- Added for provisional valuation date -->
                      
                      <ng-container *ngIf="isRelative==true">
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="noOfOutstandingShares">No. of outstanding
                              shares</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>

                            <input class="form-control input-md" formControlName="outstandingShares"
                              name="outstandingShares" type="text" placeholder="No.of outstanding shares" />
                          </div>
                        </div>
                        <div class="col-6"></div>
                      </ng-container>

                      <ng-container *ngIf="isRelative == true">   
                        <!-- && companies.length -->
                        <div class="col-12">
                          <div class="form-group form-elements">
                            <label class="form-control-label" >Preference for Ratios</label>
                            <div class="custom-controls-stacked d-flex">
                              <label class="custom-control custom-radio mx-5">
                                <input [formControlName]="'type'" type="radio" class="custom-control-input" name="type"
                                  value="industry" checked />
                                <span class="custom-control-label"> Industry Based</span>
                              </label>
                              <label class="custom-control custom-radio mx-5">
                                <input [formControlName]="'type'" type="radio" class="custom-control-input" name="type"
                                  value="manual"  />
                                <span class="custom-control-label">Company Based</span>
                              </label>
                              <!-- <label class="custom-control custom-radio">
                                <input formControlName="type" type="radio" class="custom-control-input" name="type"
                                  value="automatic" />
                                <span class="custom-control-label">Specify Company </span>
                              </label> -->
                            </div>
                          </div>
                        </div>
                        <ng-container formArrayName="companies" *ngIf="this.secondFormGroup.controls['type'].value === 'manual'">
                          <ng-container *ngFor="let c of Companies.controls; let i = index;let last = last">
                            <div class="col-6">
                              <div class="control-group form-group">
                                <label class="form-control-label" for="company" id="company" name="company">Company
                                  Details</label>
                                <i class="fa fa-exclamation-circle mx-3"
                                  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                  placement="right"></i>
                                <ng-select [formControlName]="i" class="select2 w-100" placeholder="Select company">
                                  <ng-option [value]="item._id" *ngFor="let item of companies">{{ item.company
                                    }}</ng-option>
                                </ng-select>
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="d-flex">

                                <i *ngIf="i > 2" class="fa fa-minus-circle text-danger rmvcmp"
                                  (click)="removeCmp(i)"></i>
                                <i class="fa fa-plus-circle text-success rmvcmp mx-2 " *ngIf="companies.length && last"
                                  (click)="addCompany()"></i>
                              </div>
                            </div>
                          </ng-container>
                        </ng-container>
                        <!--  -->
                        <div class="col-6 d-flex justify-content-center h4">
                        </div>
                      </ng-container>
                    </div>
                    <div class="row">
                      <ng-container *ngIf="isRelative == false">
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="noOfOutstandingShares">No. of outstanding
                              shares</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>

                            <input class="form-control input-md" formControlName="outstandingShares"
                              name="outstandingShares" type="text" placeholder="No.of outstanding shares" />
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="tRate">Tax rate</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select class="select2 w-100" placeholder=" Select tax rate"
                              formControlName="taxRateType">
                              <ng-option value=""> 25.17%</ng-option> 
                              <ng-option [value]="item.type" *ngFor="let item of taxR">{{ item.label }}</ng-option>
                            </ng-select>
                            &nbsp;{{ EnteredTaXRate === '' ? " " : EnteredTaXRate + ' %'   }} 
                          </div>
                        </div>
                        
                        <div class="col-6" *ngIf="isTerminalShow">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="tGrowthRate">Terminal growth rate</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select class="select2 w-100" placeholder="Select discount rate"
                              formControlName="terminalGrowthRate">
                              <ng-option [value]="item.rate" *ngFor="let item of growthR">{{ item.rate }}</ng-option>
                            </ng-select>
                          </div>
                        </div>

                       
                      </ng-container>
                    </div>
                  </section>
                  <div>
                    <div>
                      <button class="btn btn-danger me-2" matStepperPrevious>
                        Back
                      </button>
                      <button class="btn btn-primary me-2" matStepperNext>
                        Next
                      </button>
                    </div>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="isRelative ? relativeFormGroup : thirdFormGroup" [editable]="isEditable">
                <form [formGroup]="thirdFormGroup">
                  <section class="pt-5">
                    <div class="row overflow-auto">
                      <ng-container *ngIf="isRelative == false">
                        
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="dRate">Discount rate</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select class="select2 w-100" placeholder="Select discount rate"
                              formControlName="discountRate">
                              <ng-option [value]="item.type" *ngFor="let item of discountR">{{ item.label }}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="equityMethod">Discounting period</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select class="select2 w-100" placeholder="Select cost of equity method"
                              formControlName="discountingPeriod">
                              <ng-option value="Full_Period">Full Period
                              </ng-option>
                              <ng-option value="Mid_Period">Mid Period
                              </ng-option>
                            </ng-select>
                          </div>
                        </div>
                        
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="equityMethod">Cost of equity method</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select class="select2 w-100" placeholder="Select cost of equity method"
                              formControlName="coeMethod">
                              <ng-option [value]="item.type" *ngFor="let item of equityM">{{ item.label }}</ng-option>
                            </ng-select>
                          </div>
                        </div>
                        
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="riskFreeRate">Risk free rate</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select dropdownPosition="top" class="select2 w-100" placeholder="Select Risk free rate"
                              formControlName="riskFreeRate">
                              <!-- <ng-option *ngFor="let item of riskF" [value]="item.type">{{ item.label }}</ng-option> -->
                              <ng-option *ngFor="let item of indianTreasuryY" [value]="item.latest">Yield on {{ item.maturityInYrs }} Years Indian Treasury Bond</ng-option>
                            </ng-select>
                            {{ riskRate }}
                          </div>
                        </div>
                        
                        
                        <!-- Adding Discounting rate logic here -->

                    
                        
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="marketReturn">Expected market return</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select class="select2 w-100" placeholder="Select expected market return"
                              formControlName="expMarketReturnType">
                              <!-- <ng-option [value]="item.type" *ngFor="let item of marketE">{{ item.label }}</ng-option> -->
                              <ng-option value="ACE" >Analyst Consensus Estimates</ng-option>
                              <ng-option><b>Returns based on historical data:</b></ng-option>
                              <ng-option [value]=item.cagr *ngFor="let item of historicalReturns">&nbsp; BSE500 since {{ item.year ===1999 ? 'Inception' : item.year }}</ng-option>
                            </ng-select>
                            {{anaConEst}}
                          </div>
                        </div>



                       
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="cName">Beta</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <ng-select class="select2 w-100" placeholder="Select beta" formControlName="betaType">
                              <!-- <ng-option [value]="item.type" *ngFor="let item of betaS">{{ item.label }}</ng-option> -->
                              <!-- <ng-option value="ACE" ><b>Industry Beta:</b></ng-option>
                              <ng-option [value]="item.beta" *ngFor="let item of betaIndustries">&nbsp; {{ item.industry}}</ng-option>
                              <ng-option><b>Relevered - Comparable beta of peers based on size and returns</b></ng-option>
                              <ng-option><b>Stock Beta</b></ng-option> -->
                              <ng-option value="levered"><b>Levered</b></ng-option>
                              <ng-option value="unlevered"><b>Unlevered</b></ng-option>
                            </ng-select>
                          </div>
                        </div>

                        <ng-container *ngIf="thirdFormGroup.value?.discountRate === 'WACC'">
                          <div class="col-6">
                            <div class="control-group form-group">
                              <label class="form-control-label" for="cName">Company specific risk premium</label>
                              <i class="fa fa-exclamation-circle mx-3"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="right"></i>
                              <ng-select class="select2 w-100" placeholder="Select Company Specific Risk Premium "
                                formControlName="riskPremium">
                                <ng-option [value]="item.riskPremium" *ngFor="let item of rPremium">{{ item.riskPremium
                                  }}</ng-option>
                              </ng-select>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="control-group form-group">
                              <label class="form-control-label" for="cName">Cost of preference share capital (in %)</label>
                              <i class="fa fa-exclamation-circle mx-3"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="right"></i>
                              <!-- <ng-select class="select2 w-100" placeholder="Select cost of Preference Share Capital"
                                formControlName="copShareCapital">
                                <ng-option [value]="item.type" *ngFor="let item of preShaCap">{{ item.label }}</ng-option>
                              </ng-select> -->
                              <input class="form-control input-md" formControlName="copShareCapital"
                              name="copShareCapital" type="text" placeholder="Add cost of preference share capital" />
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="control-group form-group">
                              <label class="form-control-label" for="cName">Cost of debt (in %)</label>
                              <i class="fa fa-exclamation-circle mx-3"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="right"></i>
                              <!-- <ng-select class="select2 w-100" placeholder="Select cost of debt "
                                formControlName="costOfDebtType">
                                <ng-option *ngFor="let item of debt" [value]="item.type">{{ item.label }}</ng-option>
                              </ng-select> -->
                              <!-- Changing to free text now but in future can use finance cost/Interest cost -->
                              <input class="form-control input-md" formControlName="costOfDebt"
                              name="costOfDebt" type="text" placeholder="Add finance/interest cost" />

                            </div>
                          </div>
                          <div class="col-6">
                            <div class="control-group form-group">
                              <label class="form-control-label" for="cName">Capital structure</label>
                              <i class="fa fa-exclamation-circle mx-3"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="right"></i>
                              <ng-select class="select2 w-100" placeholder="Select capital structure"
                                formControlName="capitalStructureType">
                                <ng-option [value]="item.type" *ngFor="let item of cStructure">{{ item.label }}</ng-option>
                              </ng-select>
                              <hr class="m-2" />
                              <p>
                                <b>Note :</b> If company based then show a text
                                which will get calculated value, If industry based
                                then value is derived from external service
                              </p>
                            </div>
                          </div>
                          <!-- <div class="col-6" *ngIf="thirdFormGroup.value?.capitalStructureType === 'Company_Based'">
                            <div class="control-group form-group">
                              <label class="form-control-label" for="cName">Proportion of preference share capital</label>
                              <i class="fa fa-exclamation-circle mx-3"
                                ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                placement="right"></i>
                              <ng-select class="select2 w-100" formControlName="popShareCapitalType"
                                placeholder="Select Proportion of Preference Share Capital ">
                                <ng-option [value]="item.type" *ngFor="let item of pppShareCaptial">{{ item.label }}</ng-option>
                              </ng-select>
                            </div>
                          </div> -->
                          <!-- <ng-container *ngIf="thirdFormGroup.value?.popShareCapitalType === 'CFBS'">
                            <div class="col-6">
                              <div class="control-group form-group">
                                <label class="form-control-label" for="proportionOfDebt">Proportion of Debt</label>
                                <i class="fa fa-exclamation-circle mx-3"
                                  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                  placement="right"></i>
                                <input class="form-control input-md"
                                  name="proportionOfDebt" type="text" placeholder="Proportion of Debt" />
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="control-group form-group">
                                <label class="form-control-label" for="proportionOfEquity">Proportion of Equity</label>
                                <i class="fa fa-exclamation-circle mx-3"
                                  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                  placement="right"></i>
                                <input class="form-control input-md"
                                  name="proportionOfEquity" type="text" placeholder="Proportion of Equity" />
                              </div>
                            </div>
                            <div class="col-6">
                              <div class="control-group form-group">
                                <label class="form-control-label" for="proportionOfPSC">Proportion of Preference Share Capital</label>
                                <i class="fa fa-exclamation-circle mx-3"
                                  ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                                  placement="right"></i>
                                <input class="form-control input-md"
                                  name="proportionOfPSC" type="text" placeholder="Proportion of Preference Share Capital" />
                              </div>
                            </div>
                          </ng-container> -->
                        </ng-container>
                        <div class="col-6">
                          <div class="control-group form-group">
                            <label class="form-control-label" for="cName">Other Adjustments</label>
                            <i class="fa fa-exclamation-circle mx-3"
                              ngbPopover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
                              placement="right"></i>
                            <!-- <ng-select class="select2 w-100" placeholder="Select cost of debt "
                              formControlName="costOfDebtType">
                              <ng-option *ngFor="let item of debt" [value]="item.type">{{ item.label }}</ng-option>
                            </ng-select> -->
                            <!-- Changing to free text now but in future can use finance cost/Interest cost -->
                            <input class="form-control input-md" formControlName="otherAdj"
                            name="otherAdj" type="text" placeholder="Add Adjustments value" />

                          </div>
                        </div>
                        
                      </ng-container>
                      <ng-container *ngIf="isRelative == true">
                        <table style="table-layout: fixed;"
                          class="table card-table table-vcenter text-nowrap table-primary align-items-center ">
                          <thead class="text-white">
                            <tr>
                              <!-- <th class="sl-wrapper">Sr.No</th> -->
                              <th class="name-wrapper">Company Name</th>
                              <th class="head-wrapper">P/E Ratio</th>
                              <th class="head-wrapper">P/B Ratio</th>
                              <th class="head-wrapper">EV/EBITDA</th>
                              <th class="head-wrapper">Price/Sales</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="this.secondFormGroup.controls['type'].value === 'manual'">
                            <tr *ngFor="let item of companies; let i = index" >
                              <!-- <td>{{ i + 1 }}</td> -->
                              <td>{{ item.company }}</td>
                              <td style="width: 100px">
                                <input type="number" [(ngModel)]="companies[i].peRatio" [value]="companies[i].peRatio"
                                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="
                                    findAverage('peRatio'); findMedian('peRatio')
                                  " />
                              </td>
                              <td style="width: 100px">
                                <input type="number" [(ngModel)]="companies[i].pbRatio" [value]="companies[i].pbRatio"
                                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="
                                    findAverage('pbRatio'); findMedian('pbRatio')
                                  " />
                              </td>
                              <td style="width: 100px">
                                <input type="number" [(ngModel)]="companies[i].ebitda" [value]="companies[i].ebitda"
                                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="
                                    findAverage('ebitda'); findMedian('ebitda')
                                  " />
                              </td>
                              <td style="width: 100px">
                                <input type="number" [(ngModel)]="companies[i].sales" [value]="companies[i].sales"
                                  [ngModelOptions]="{ standalone: true }" (ngModelChange)="
                                    findAverage('sales'); findMedian('sales')
                                  " />
                              </td>
                            </tr>
                            <tr>
                              <!-- <td></td> -->
                              <td><b>Average</b></td>
                              <td>
                                {{ companyAverage["peRatio"] | number : "1.2-2" }}
                              </td>
                              <td>
                                {{ companyAverage["pbRatio"] | number : "1.2-2" }}
                              </td>
                              <td>
                                {{ companyAverage["ebitda"] | number : "1.2-2" }}
                              </td>
                              <td>
                                {{ companyAverage["sales"] | number : "1.2-2" }}
                              </td>
                            </tr>
                            <tr>
                              <!-- <td></td> -->
                              <td><b>Median</b></td>
                              <td>
                                {{ companyMedian["peRatio"] | number : "1.2-2" }}
                              </td>
                              <td>
                                {{ companyMedian["pbRatio"] | number : "1.2-2" }}
                              </td>
                              <td>
                                {{ companyMedian["ebitda"] | number : "1.2-2" }}
                              </td>
                              <td>
                                {{ companyMedian["sales"] | number : "1.2-2" }}
                              </td>
                            </tr>
                          </tbody>
                          <!-- Show Industry ratios data -->
                          <tbody *ngIf="this.secondFormGroup.controls['type'].value === 'industry'">
                            <tr >
                              <td>{{ industriesRatio.industry }}</td>
                              <td>{{ industriesRatio.currentPE }}</td>
                              <td>{{ industriesRatio.pbv }}</td>
                              <td>{{ industriesRatio.evEBITDA_PV }}</td>
                              <td>{{ industriesRatio.priceSales }}</td>
                            </tr>
                          </tbody>


                        </table>
                      </ng-container>
                    </div>
                    <p class="text-danger">{{ errorMsg }}</p>
                  </section>
                  <div>
                    <button class="btn btn-danger me-2" matStepperPrevious>
                      Back
                    </button>
                    <button [disabled]="!checkValidForm" class="btn btn-primary me-2" (click)="submitForm(stepper)">
                      Next
                    </button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
                <form [formGroup]="fourthFormGroup">
                  <section>
                    <div *ngIf="isRelative == false">
                      <span class="h3">Valuation</span>
                      <p>
                        Valuation of a firm based on Proft loss and balance sheet
                        statements.
                      </p>
                      <span class="h3 m-0">Calculated Data</span>
                    </div>
                    <ng-container *ngIf="isRelative == false">
                      <div class="myTable">
                        <table id="valuationTable" class="text-nowrap mb-0">
                          <tr *ngFor="
                              let item of valuationDataReport;
                              let inx = index
                            ">
                            <th class="headcol" *ngIf="this.firstFormGroup.controls['model']?.value === 'FCFE'">{{ fcfeTableHeading[inx] }}</th>
                            <th class="headcol" *ngIf="this.firstFormGroup.controls['model']?.value === 'FCFF'">{{ fcffTableHeading[inx] }}</th>
                            <td *ngFor="let item of valuationDataReport[inx]">
                              <ng-container *ngIf="returnType(item) === 'string'">
                                {{ item }}
                              </ng-container> 
                              <ng-container *ngIf="returnType(item) !== 'string'">
                                {{ item | number : "1.2-2"  }}
                              </ng-container>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </ng-container>
                    <ng-container *ngIf="isRelative == true">
                      <table style="table-layout: fixed;"
                        class="table card-table table-vcenter text-nowrap table-primary align-items-center mb-6">
                        <thead>
                          <tr class="text-white">
                            <!-- <th class="sl-wrapper">Sr.No</th> -->
                            <th class="name-wrapper">Name</th>
                            <th class="head-wrapper">P/E Ratio as on Valuation Date</th>
                            <th class="head-wrapper">P/B Ratio as on Valuation Date</th>
                            <th class="head-wrapper">EV/EBITDA as on Valuation Date</th>
                            <th class="head-wrapper">Valuation Date Price/Sales Valuation Date</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="this.secondFormGroup.controls['type'].value === 'manual'">
                          <tr *ngFor="let item of companies; let i = index">
                            <!-- <td>{{ i + 1 }}</td> -->
                            <td>{{ item.company }}</td>
                            <td>{{ item.peRatio | number : '1.2-2'  }}</td>
                            <td>{{ item.pbRatio | number : '1.2-2'  }}</td>
                            <td>{{ item.ebitda | number : '1.2-2'  }}</td>
                            <td>{{ item.sales | number : '1.2-2'  }}</td>
                          </tr>

                        

                          <tr>
                            <!-- <td></td> -->
                            <td><b>Average</b></td>
                            <td>
                              {{ companyAverage["peRatio"] | number : "1.2-2" }}
                            </td>
                            <td>
                              {{ companyAverage["pbRatio"] | number : "1.2-2" }}
                            </td>
                            <td>
                              {{ companyAverage["ebitda"] | number : "1.2-2" }}
                            </td>
                            <td>
                              {{ companyAverage["sales"] | number : "1.2-2" }}
                            </td>
                          </tr>
                          <tr>
                            <!-- <td></td> -->
                            <td><b>Median</b></td>
                            <td>
                              {{ companyMedian["peRatio"] | number : "1.2-2" }}
                            </td>
                            <td>
                              {{ companyMedian["pbRatio"] | number : "1.2-2" }}
                            </td>
                            <td>
                              {{ companyMedian["ebitda"] | number : "1.2-2" }}
                            </td>
                            <td>
                              {{ companyMedian["sales"] | number : "1.2-2" }}
                            </td>
                          </tr>
                        </tbody>

                        <!-- Show Industry ratios data -->
                        <tbody *ngIf="this.secondFormGroup.controls['type'].value === 'industry'">
                          <tr >
                            <td>{{ industriesRatio.industry }}</td>
                            <td>{{ industriesRatio.currentPE }}</td>
                            <td>{{ industriesRatio.pbv }}</td>
                            <td>{{ industriesRatio.evEBITDA_PV }}</td>
                            <td>{{ industriesRatio.priceSales }}</td>
                          </tr>
                        </tbody>

                      </table>
                      <table style="table-layout: fixed;" class="table card-table table-vcenter text-nowrap table-primary align-items-center">
                        <thead>
                          <tr class="text-white">
                            <th colspan="2" style="border-right: none;">
                              Valuation of {{ this.firstFormGroup.controls['company'].value }}
                            </th>
                            <th colspan="2" style="border-left: none;">
                              Amount in INR (1,00,000)
                            </th>
                          </tr>
                          <tr class="text-white">
                            <th class="sl-wrapper">Sr.No</th>
                            <th style="min-width: 300px">Particulars</th>
                            <!-- <th>As on {{returnDate(firstFormGroup.value?.valuationDate) | date}}</th>
                            <th>As on {{returnDate(firstFormGroup.value?.valuationDate) | date}}</th> -->
                            <th>As on {{this.newDate | date}}</th>
                            <th>As on {{this.newDate | date}}</th>
                          </tr>
                          <tr class="text-white">
                            <th></th>
                            <th></th>
                            <th>Average</th>
                            <th>Median</th>
                          </tr>
                        </thead>
                        <tbody>
                          <ng-container *ngFor="let item of valuationDataReport">
                            <ng-container *ngIf="item.particular == 'pbRatio'">
                              <tr>
                                <td>1</td>
                                <td><b>P/B Ratio</b></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Net Worth of Company</td>
                                <td>{{ item.netWorthAvg | number : '1.2-2' }}</td>
                                <td>{{ item.netWorthMed | number : '1.2-2' }}</td>
                              </tr>
                              <!-- <tr>
                                <td></td>
                                <td>Book Value per Share</td>
                                <td>{{ item.bookValueAvg | number : '1.2-2' }}</td>
                                <td>{{ item.bookValueMed | number : '1.2-2' }}</td>
                              </tr> -->
                              <tr>
                                <td></td>
                                <td>P/B Ratio of Industry</td>
                                <td>{{ item.pbRatioAvg | number : '1.2-2' }}</td>
                                <td>{{ item.pbRatioMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Fair Value of Equity</td>
                                <td>{{ item.pbMarketPriceAvg | number : '1.2-2' }}</td>
                                <td>{{ item.pbMarketPriceMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr style="height: 40px">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </ng-container>
                            <ng-container *ngIf="item.particular == 'peRatio'">
                              <tr>
                                <td>2</td>
                                <td><b>P/E Ratio</b></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Profit after Taxes</td>
                                <td>{{ item.pat | number : '1.2-2' }}</td>
                                <td>{{ item.pat | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>P/E Ratio of Industry</td>
                                <td>{{ item.peRatioAvg | number : '1.2-2' }}</td>
                                <td>{{ item.peRatioMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Market Price</td>
                                <td>{{ item.peMarketPriceAvg | number : '1.2-2' }}</td>
                                <td>{{ item.peMarketPriceMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr style="height: 40px">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </ng-container>
                            <ng-container *ngIf="item.particular == 'ebitda'">
                              <tr style="height: 40px">
                                <td>3</td>
                                <td><b>EV/EBITDA</b></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>EBITDA</td>
                                <td>{{ item.ebitda | number : '1.2-2' }}</td>
                                <td>{{ item.ebitda | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>EV/EBITDA</td>
                                <td>{{ item.evAvg | number : '1.2-2' }}</td>
                                <td>{{ item.evMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Enterprise Value</td>
                                <td>{{ item.enterpriseAvg | number : '1.2-2' }}</td>
                                <td>{{ item.enterpriseMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Less : Value of Debt</td>
                                <td>{{ item.debtAvg | number : '1.2-2' }}</td>
                                <td>{{ item.debtMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Value of Equity</td>
                                <td>{{ item.ebitdaEquityAvg | number : '1.2-2' }}</td>
                                <td>{{ item.ebitdaEquityMed | number : '1.2-2' }}</td>
                              </tr>
                              <!-- <tr>
                                <td></td>
                                <td>Market Price</td>
                                <td>{{ item.ebitdaMarketPriceAvg | number : '1.2-2' }}</td>
                                <td>{{ item.ebitdaMarketPriceMed | number : '1.2-2' }}</td>
                              </tr> -->
                              <tr style="height: 40px">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </ng-container>
                            <ng-container *ngIf="item.particular == 'sales'">
                              <tr>
                                <td>4</td>
                                <td><b>Price to Sales</b></td>
                                <td></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Sales of company</td>
                                <td>{{ item.salesAvg | number : '1.2-2' }}</td>
                                <td>{{ item.salesMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>P/S Ratio</td>
                                <td>{{ item.salesRatioAvg | number : '1.2-2' }}</td>
                                <td>{{ item.salesRatioMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Value of Equity</td>
                                <td>{{ item.salesEquityAvg | number : '1.2-2' }}</td>
                                <td>{{ item.salesEquityMed | number : '1.2-2' }}</td>
                              </tr>
                              <!-- <tr>
                                <td></td>
                                <td>Market Price</td>
                                <td>{{ item.salesMarketPriceAvg | number : '1.2-2' }}</td>
                                <td>{{ item.salesMarketPriceMed | number : '1.2-2' }}</td>
                              </tr> -->
                              <tr style="height: 40px">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </ng-container>
                            <ng-container *ngIf="item.particular == 'result'">
                              <!-- <tr>
                                <td></td>
                                <td>Average value of Equity</td>
                                <td>{{ item.avgPricePerShareAvg | number : '1.2-2' }}</td>
                                <td>{{ item.avgPricePerShareMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr style="height: 40px">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr> -->
                              <tr>
                                <td></td>
                                <td>Average value of Equity</td>
                                <td>{{ item.avgPricePerShareAvg | number : '1.2-2' }}</td>
                                <td>{{ item.avgPricePerShareMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>
                                  Less: Illiquidity
                                </td>
                                <td>{{ item.locAvg | number : '1.2-2' }}</td>
                                <td>{{ item.locMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Final Price</td>
                                <td>{{ item.finalPriceAvg | number : '1.2-2' }}</td>
                                <td>{{ item.finalPriceMed | number : '1.2-2' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>No. of Shares</td>
                                <td>{{ item.outstandingShares | number : '1.0' }}</td>
                                <td>{{ item.outstandingShares | number : '1.0' }}</td>
                              </tr>
                              <tr>
                                <td></td>
                                <td>Fair Value per Share</td>
                                <td>{{ item.fairValuePerShareAvg | number : '1.2-2' }}</td>
                                <td>{{ item.fairValuePerShareMed | number : '1.2-2' }}</td>
                              </tr>
                              <!-- <tr>
                                <td></td>
                                <td>Tentative Issue Price (Average of above)</td>
                                <td colspan="2">
                                  {{ item.tentativeIssuePrice | number : '1.2-2' }}
                                </td>
                              </tr> -->
                              <br />
                            </ng-container>
                          </ng-container>
                        </tbody>
                        
                      </table>
                    </ng-container>
                    <div class="d-flex align-items-end justify-content-between">
                      <button class="btn btn-danger my-2" matStepperPrevious>
                        Back
                      </button>
                      <a class="btn btn-info my-2" [href]="exportResult">Export Result</a>
                    </div>
                  </section>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>