@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.full-width-input {
    width: 100%; /* Set the width to 100% to occupy the full width of the container */
  }
  
  .full-width-input mat-label,
  .full-width-input input {
    display: block; /* Display the label and input as block-level elements */
    width: 100%; /* Make the label and input take up the full width of the container */
    height: 75px;
  }
  .field{
    padding-left: 1.5%;
    padding-top: 3.5%;
    padding-right: 2.5%;
  }
  .label{
    border-radius: 5px;
    font-family: 'AR One Sans', sans-serif;
    font-size: 17px;
    color: #26879d;
    padding-left: 2%;
    cursor: pointer;
  }
  .label2{
    font-size: 17px;
    padding-right:10%;
    color: #797a79;

  }
  
  .upload-btn-disabled {
    font-weight: 700 !important;
    color: #373838 !important;
    border: solid 1px #dedede;
    opacity: 0.6;
    cursor: not-allowed;
    width: 30%;
    background-color: #acacac  !important;
  }
  .upload-btn-enabled {
    font-weight: 700 !important;
    color: #ffffff !important;
    border: solid 1px #dedede;
    opacity: 0.6;
    cursor: pointer;
    width: 100%;
    background-color: #1a0ef1  !important;
  }

  ::ng-deep .mat-form-field-appearance-fill .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: white !important;
  }

   ::ng-deep .mat-mdc-select .mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-placeholder,
   ::ng-deep .mat-form-field-appearance-fill .mdc-text-field--filled:not(.mdc-text-field--disabled) .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mat-mdc-form-field-input-control,
   ::ng-deep .mat-mdc-select .mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-value-text
 {
     font-size: 14px !important;
}
::ng-deep .full-width-input .mat-form-field-infix{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  mat-label{
    margin-bottom: 0px !important;
    font-size: 16px;
    font-weight: 500;
  }

  ::ng-deep mat-radio-group mat-radio-button .mdc-form-field>label{
    font-size: 14px;
    color: #797a79;
    margin: 0px !important;
    font-weight: 400;
  }
  .mat-radio{
    margin-top: auto;
    margin-bottom: auto;
  }
  .card-header{
    color: #4b6df3;
    font-size: 17px;
    font-weight: 500  ;
    font-family: 'AR One Sans', sans-serif;
    padding-left: 0px;
  }
  ::ng-deep mat-checkbox .mdc-form-field>label{
    font-size: 14px;
    color: #797a79;
    margin: 0px !important;
    font-weight: 400;
  }
.modelview{
  text-align: end;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 11.667% !important;
}
.outer-wrapper{
  box-shadow: 1px 2px 10px #cecece;
  border-radius: 10px;
  background-color: #ffffff;
}
mat-label{
  color:#38a3b8;
}
.revalmodel{
  margin-top: auto;
  margin-bottom: auto;
  padding: 1%;
}
mat-checkbox{
  padding-right: 1%;
}
.download{
  color: #a5a5a5;
  font-weight: 400;
  font-family: cursive;
  font-size: 12px;
}
.upload-doc{
  box-shadow: 1px 2px 13px #ffffff;
    border-radius: -3%;
    border: 1px solid #f4e9e9; // another gradient 1px solid #f5f3f3
    text-align: center;
}
.taxrate-hint{
  padding: 0px;
    color: #12a912;
    font-weight: 500;
    font-family: math;
}

// bookmark css
.bookmark-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px;
    border-top: 1px solid #caeeff;
    border-bottom: 1px solid #00ffd0;
    text-align: center;
    margin-top: auto;
    box-shadow: 1px 2px 2px #c1fff4;
    margin-bottom: auto;
    padding: 1%;
}

.bookmark {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #3498db; /* Bookmark color */
    margin-right: 10px;
}

.text-content {
    padding: 10px;
    border-radius: 5px;
    font-family: 'AR One Sans', sans-serif;
    font-size: 16px;
    color: #26879d;
    padding-left: 2%;
    cursor: pointer;
    transition: color .3s;
}
.text-content:hover{
    color: #1e9f3b;
}
.book-icon{
    transform: scale(2.2);
    color: rgb(43 231 216);
    padding-top: 5%;
}
// error message
.message-container {
  display: flex;
  align-items: center;
  background-color: #f8d7da; /* Red background color */
  color: #721c24; /* Dark red text color */
  padding: 15px;
  border: 1px solid #f5c6cb; /* Light red border color */
  border-radius: 5px;
  margin: 20px 0;
  margin-bottom: 3%;
}

.message-icon {
  margin-right: 10px;
  color: #721c24; /* Dark red color for the icon */
}

.message-icon i {
  font-size: 24px;
}

.message-content {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

::ng-deep .mat-select-value .mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-value-text{    
  padding: 0px !important;
  color: #004e67 !important;
    font-family: 'AR One Sans';
}
::ng-deep .mat-relative-val .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


// new scss
.card-body{
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 15px;
  box-shadow: 1px 2px 5px #d5d5d5;
}
.c-decorated-header {
  position: relative;
  padding-top: 1%;

}

.c-decorated-header h3 {
  position: relative;
  text-align: left;

  font-family: 'AR One Sans', sans-serif;
  font-size: 19px;
  color: #666666;
  cursor: pointer;
}

.c-decorated-header h3:after {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  left: 29%;
  top: 20%;
  bottom: 0;
  margin: auto;
  background: #e2e2e6;
}

.c-decorated-header h3 span {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  font-stretch: condensed;
  color: #757575;
  font-family: 'AR One Sans', sans-serif;

}

.c-decorated-header_link-view-more {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'AR One Sans', sans-serif;
  color: #aaaaaa;
  text-decoration: none;
  background: #fcf8fe;;
  padding: 5px;
}

// flotable header ends


// coe calculation starts
.separator::before {
  content: '';
  border-left: 2px solid #b4b4b4;
  padding: 4px 0 50px;
  margin: -20px 8px;
  display: inline-block;
}
// coe calculation ends


.button-save-mat{
  box-shadow: 1px 2px 15px #d1d1d1;
  color:#ffffff !important;
  background-color: #0cd18f !important;
  border-radius: 8px;
  position: relative;
  font-family: 'AR One Sans', sans-serif;
  font-weight: 500;
  width: 10%;
}
.button-save{
  position: absolute;
    left: 112%;
    transform: scale(0.7);
    top: -8%;
    mat-icon{
      font-weight: bold;
      color: #ffffff;
    }
}
.prev-button{
  box-shadow: 1px 2px 15px #d1d1d1;
  color:#ffffff !important;
  font-weight: bold !important;
  margin-right: 1%;
  background-color: #fe6060 !important;
  border-radius: 8px;
  mat-icon{
    font-weight: bold;
    color: #ffffff !important;
  }
}
.btn-prop{
  text-align: right;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 2%;
}

.material-textfield {
  position: relative;
}

label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  font-family: 'AR One Sans', sans-serif;
  font-weight: 500;
}

.new-inp {
  font-size: 1rem;
  outline: none;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  color: #6d6d6d;
  transition: 0.1s ease-out;
  font-family: 'AR One Sans', sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  padding-left: 2%;
  box-shadow: 1px 2px 10px #f0ebeb;
}

.new-inp:focus {
  border-color: #6200ee;
}

.new-inp:focus+label {
  color: #6200ee;
  top: 0;
  transform: translateY(-50%) scale(0.9) !important;
}

.new-inp:not(:placeholder-shown)+label {
  top: 0;
  transform: translateY(-50%) scale(0.9) !important;
}

.new-inp:not(:focus)::placeholder {
  opacity: 0;
}