<div *ngIf="modelControl.relativeValuation.type === 'relativeValuation' && isRelativeValuation(MODEL.RELATIVE_VALUATION) && next === 3">
    <h4 class="card-header">{{modelControl.relativeValuation.header}}</h4>
    <form [formGroup]="relativeValuation" class="outer-wrapper">
        <div class="row" style="padding-top: 1%;">
            <!-- <div class="col-md-12 revalmodel" *ngIf="formOneData?.preferenceCompanies.length > 0">
                <mat-label class="label">{{modelControl.relativeValuation.options.preferenceRatioSelect.placeholder}}</mat-label>
            </div> -->
            <div class="col-md-12">
              <div class='c-decorated-header'>
                  <h3><span style="padding-left: 2%;">{{modelControl.relativeValuation.options.preferenceRatioSelect.placeholder}}</span></h3>
                  <div class='c-decorated-header_link-view-more'>
                  </div>
                </div>
          </div>
            
          <div formArrayName="companies" class="col-md-12 field" style="padding-top: 0.5% !important;" *ngIf="relativeValuation.controls['preferenceRatioSelect'].value ==='Company Based'">
            <div class="row">
              <div style="padding-top: 2% !important;position: relative;padding-bottom: 3%;" class="col-md-4 field" *ngFor="let c of Companies.controls; let i = index; let last = last">
                <!-- <mat-form-field style="width: 71%;"  [floatLabel]="floatLabelType" class="mat-relative-val">
                  <mat-label>Company Name</mat-label>
                  <mat-select class="mat-select-value" [placeholder]="modelControl.relativeValuation.options.companyBasedSelection.placeholder" [formControlName]="i">
                    <mat-option [disabled]="item.company === 'No company Found'" [value]="item" *ngFor="let item of formOneData?.preferenceCompanies">{{item.company}}</mat-option>
                  </mat-select>
                </mat-form-field> -->

                <div class="material-textfield">
                  <select id="company" class="new-inp" [formControlName]="i">
                    <option [disabled]="item.COMPANYNAME === 'No company Found'" [ngValue]="item" *ngFor="let item of companyList">{{item.COMPANYNAME}}</option>
                  </select>
                  <label for="company">Company Name</label>
                </div>
                <span style="position: absolute;right: 13%;transform: scale(0.6);cursor: pointer;bottom: 68%;" *ngIf="i === companyList.length - 1 ? false :true" (click)="addInput()">
                  <!-- <mat-icon style="color: #39e239;">add</mat-icon> -->
                  <mat-icon style="color: #39e239;">control_point</mat-icon>
                </span>
                <span style="position: absolute;right: 8%;transform: scale(0.6);cursor: pointer;bottom: 68%;" *ngIf="i > 0" (click)="removeField(i)">
                  <!-- <mat-icon style="color: #dd0e0e;">remove</mat-icon> -->
                  <!-- <mat-icon style="color: #dd0e0e;">cancel</mat-icon> -->
                  <mat-icon style="color: #dd0e0e;">remove_circle_outline</mat-icon>
                </span>
              </div>
            </div>
          </div>

          <div *ngIf="companyList.length === 0 && !selectedIndustry" class="message-container col-md-12">
            <div class="message-icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="message-content">
              The selected industry does not have associated companies. Kindly select another industry to proceed or contact support.
            </div>
        </div>
          <div *ngIf="companyList.length === 0 && !selectedIndustry" class="message-container col-md-12">
            <div class="message-icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="message-content">
              Please select an industry to proceed.
            </div>
        </div>

        <div class="col-md-12">
          <div class='c-decorated-header'>
              <h3 class="sub-items"><span style="padding-left: 2%;">{{modelControl.relativeValuation.options.subItems.placeholder}}</span></h3>
              <div class='c-decorated-header_link-view-more'>
              </div>
            </div>
      </div>

      <div class="col-md-4 col-xl-4 field" style="padding-top: 0%;">
        <div class="material-textfield">
            <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                <mat-label>Less:discount Rate*</mat-label>
                <span class="company-list-rmve" *ngIf="relativeValuation.controls['discountRateValue']?.value" style="right:9%;">
                <mat-icon class="company-list-rmve-icon" (click)="clearInput('discountRateValue')">close</mat-icon>
                </span>
                <!-- <span class="company-info-span" *ngIf="relativeValuation.controls['discountRateValue']?.value"  style="z-index: 1;left: 10%;">
                  <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.discountRateValue" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                    <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                      fill="#ff0000"></path>
                    <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                    </polyline>
                    <line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                    </line>
                    <path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path>
                  </svg>
                </span> -->
                
                <mat-select formControlName="discountRateValue" class="new-inp company-list-inp nature-of-instrument rel-val-label" placeholder="Select less discount rate">
                <mat-option *ngFor="let doc of modelControl.relativeValuation.options.discountRateValue.options" class="auto-class" [value]="doc.value">
                    {{ doc.name }}
                </mat-option>
                </mat-select>
                <mat-error class="company-list-error" *ngIf="relativeValuation.controls['discountRateValue'].touched && relativeValuation.controls['discountRateValue'].errors">
                  <span *ngIf="hasError('discountRateValue','required',relativeValuation)" class="error-text" style="padding-left: 0%;">Please select discount rate</span>
              </mat-error>
            </mat-form-field>
        </div>
    </div>

    <div class="col-md-12 btn-prop">
      <button (click)="previous()" mat-raised-button class="button-back-mat">
        <span class="button-back"><mat-icon>send</mat-icon></span>
          Back
          <!-- <mat-icon>arrow_left</mat-icon> -->

      </button>

  <button (click)="saveAndNext()" class="button-save-mat" mat-raised-button>
      Next
      <span class="button-save"><mat-icon>send</mat-icon></span>
   </button>
</div>
        </div>
      </form>  
</div>