<div class="outer-wrapper" *ngIf="modelControl.relativeValuation.type === 'relativeValuation' && isRelativeValuation(MODEL.RELATIVE_VALUATION)">
    <h4 class="card-header">{{modelControl.relativeValuation.header}}</h4>
    <form [formGroup]="relativeValuation">
        <div class="row" style="padding-top: 1%;">
            <div class="col-md-12 revalmodel" *ngIf="formOneData?.preferenceCompanies.length > 0">
                <mat-label class="label">{{modelControl.relativeValuation.options.preferenceRatioSelect.placeholder}}</mat-label>
            </div>
            <!-- <div class="col-md-8">
                <mat-radio-group formControlName="preferenceRatioSelect" *ngIf = "modelControl.relativeValuation.options.preferenceRatioSelect.options">
                    <mat-radio-button  *ngFor="let option of modelControl.relativeValuation.options.preferenceRatioSelect.options"
                    [value]="option.name">{{option.name}}</mat-radio-button>
                </mat-radio-group>
            </div> -->
            
          <div formArrayName="companies" class="col-md-12 field" style="padding-top: 0.5% !important;" *ngIf="relativeValuation.controls['preferenceRatioSelect'].value ==='Company Based' && formOneData?.preferenceCompanies.length > 0">
            <div class="row">
              <div style="padding-top: 0% !important;" class="col-md-4 field" *ngFor="let c of Companies.controls; let i = index; let last = last">
                <mat-form-field style="width: 71%;"  [floatLabel]="floatLabelType" class="mat-relative-val">
                  <mat-select class="mat-select-value" [placeholder]="modelControl.relativeValuation.options.companyBasedSelection.placeholder" [formControlName]="i">
                    <mat-option [disabled]="item.company === 'No company Found'" [value]="item" *ngFor="let item of formOneData?.preferenceCompanies">{{item.company}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-icon-button color="primary" *ngIf="i === formOneData?.preferenceCompanies.length - 1 ? false :true" (click)="addInput()">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="warn" *ngIf="i > 0" (click)="removeField(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <div *ngIf="formOneData?.preferenceCompanies.length === 0 && formOneData?.industry" class="message-container col-md-12">
            <div class="message-icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="message-content">
              The selected industry does not have associated companies. Kindly select another industry to proceed or contact support.
            </div>
        </div>
          <div *ngIf="formOneData?.preferenceCompanies.length === 0 && !formOneData?.industry" class="message-container col-md-12">
            <div class="message-icon">
                <i class="fas fa-exclamation-circle"></i>
            </div>
            <div class="message-content">
              Please select an industry to proceed.
            </div>
        </div>

          <div class="col-md-12" style="text-align: center;padding-bottom: 1%;padding-top: 15%;">
            <button (click)="previous()" mat-raised-button style="box-shadow: 1px 2px 15px #d1d1d1;color:#bb0d0d;font-weight: bold !important;margin-right: 1%;">
                Back
                <mat-icon style="font-weight: bold;color: #d42121;">arrow_left</mat-icon>
            </button>
            <button [disabled]="formOneData?.preferenceCompanies.length === 0" (click)="saveAndNext()" style="box-shadow: 1px 2px 15px #d1d1d1;color:#228822;margin-right: 1%"  mat-raised-button>
           Next
                <mat-icon style="font-weight: bold;color: green;">send</mat-icon>
        </button>
       
    </div>
        </div>
      </form>  
</div>