<div *ngIf="modelControl.comparableIndustries.type === 'comparableIndustries' && isRelativeValuation(MODEL.COMPARABLE_INDUSTRIES)">
    <h4 class="card-header">{{modelControl.comparableIndustries.header}}</h4>
    <form [formGroup]="comparableIndustries" class="outer-wrapper">
        <div class="row" style="padding-top: 1%;">
                <!-- <div class="col-md-12 revalmodel" *ngIf="formOneData?.industry">
                    <mat-label class="label">{{modelControl.comparableIndustries.options.preferenceRatioSelect.placeholder}}</mat-label>
                </div> -->
                <div class="col-md-12" *ngIf="formOneData?.industry">
                    <div class='c-decorated-header'>
                        <h3><span style="padding-left: 2%;">{{modelControl.comparableIndustries.options.preferenceRatioSelect.placeholder}}</span></h3>
                        <div class='c-decorated-header_link-view-more'>
                        </div>
                      </div>
                </div>
                <div class="bookmark-container" *ngIf="formOneData?.industry">
                    <div>
                        <!-- <mat-icon class="book-icon">label_important</mat-icon> -->
                        <mat-icon class="book-icon">location_city</mat-icon>
                    </div>
                    <div class="text-content">
                        {{formOneData.industry}}
                    </div>
                </div>

            <div *ngIf="!formOneData?.industry" class="message-container col-md-12">
                <div class="message-icon">
                    <i class="fas fa-exclamation-circle"></i>
                </div>
                <div class="message-content">
                    Please select an industry to proceed.
                </div>
            </div>

        

    <div class="col-md-12 btn-prop">
        <button (click)="previous()" mat-raised-button class="prev-button">
            Back
            <mat-icon>arrow_left</mat-icon>
        </button>

    <button (click)="saveAndNext()" [disabled]="!formOneData?.industry" class="button-save-mat" mat-raised-button>
        Next
        <span class="button-save"><mat-icon>send</mat-icon></span>
     </button>
</div>
        </div>
    </form>  
</div>