


<!-- 
  <div class="row">
    <div class="col">
      <div class="card mt-4">
        <h4 class="card-header label" style="font-weight: 400;">Valuation of Company</h4>
        
        <h4 style="text-align: center;padding-top: 1.5%;font-weight: 400;color:#858985;margin-bottom: 0px !important;">{{headerLabel}}</h4>
        <div class="card-body">
          <mat-stepper #stepper (selectionChange)="onStepChange($event,stepper)">
            <mat-step  [stepControl]="firstFormGroup" errorMessage="Name is required."><app-group-model-controls [currentStepIndex]="currentStepIndex" (groupModelControls)="groupModelControls($event)"></app-group-model-controls>
            </mat-step>
            <mat-step  [stepControl]="secondFormGroup" errorMessage="Name is required.">
             
              
              <app-fcfe-details (fcfeDetailsPrev)="fcfeDetailsPrev($event)" [hidden]="next !== 1" (fcfeDetails)="fcfeDetails($event)" [formOneData]="formOneData"></app-fcfe-details>
              <app-fcff-details (fcffDetailsPrev)="fcffDetailsPrev($event)" (fcffDetails)="fcffDetails($event)" [hidden]="next !== 2" [formOneData]="formOneData"></app-fcff-details>
              <app-relative-valuation-details (relativeValDetailsPrev)="relativeValDetailsPrev($event)" (relativeValDetails)="relativeValDetails($event)" [hidden]="next !== 3" [formOneData]="formOneData"></app-relative-valuation-details>
              <app-excess-earning-details (excessEarnDetailsPrev)="excessEarnDetailsPrev($event)" (excessEarnDetails)="excessEarnDetails($event)" [hidden]="next !== 4" [formOneData]="formOneData"></app-excess-earning-details>
              <app-comparable-industries-details (comparableIndustriesDetailsPrev)="comparableIndustriesDetailsPrev($event)" (comparableIndustriesDetails)="comparableIndustriesDetails($event)" [hidden]="next !== 5" [formOneData]="formOneData"></app-comparable-industries-details>
              <app-net-asset-value-details (navDetailsPrev)="navDetailsPrev($event)" (navDetails)="navDetails($event)" [hidden]="next !== 6" [formOneData]="formOneData"></app-net-asset-value-details>
            </mat-step>
            <mat-step  [stepControl]="thirdFormGroup" errorMessage="Address is required.">
              <app-group-model-review (groupReviewControls)="groupReviewControls($event)" [currentStepIndex]="stepper.selectedIndex" (previousPage)="previous($event)" [transferStepperTwo]="formOneAndTwoData"
              ></app-group-model-review>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup" errorMessage="Address is required.">
                <app-group-model-result [transferStepperthree]="transferStepperthree"  (previousPage)="previous($event)" (resultData)="resultData($event)"></app-group-model-result>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup" errorMessage="Address is required.">
                <app-report-details [transferStepperFour]="transferStepperFour" (previousPage)="previous($event)"></app-report-details>
            </mat-step>
          </mat-stepper>

         
        </div>
      </div>
    </div>
  </div> -->




  <div class="row" style="background-color: #ffffff;" *ngIf="!isProcessExistLoader">
    <div class="col">
      <div class="card mt-4" style="background-color: #fcf8fe;padding-bottom: 4%;">       
        <div class='c-decorated-header'>
          <h3><span style="padding-left: 2%;">Valuation of Company</span></h3>
          <div class='c-decorated-header_link-view-more'>
            <a ><span style="border: #2dd79e;color: #2dd79e;"> Step {{step}} </span>of {{getTotalSteps() ? '6' : '5'}}
            <span style="font-size: 11px;color: #0d56e0;" *ngIf="uniqueProcessIdentifierId">(Working # {{uniqueProcessIdentifierId}})</span>
            </a>
          </div>
        </div>
        <h4 style="text-align: center;padding-top: 1.5%;font-weight: 400;color:#858985;margin-bottom: 0px !important;">{{headerLabel}}</h4>
        <div class="card-body">
          <div class="row" style="padding-right: 1%;">
            <!-- Left Side Navbar -->
            <div class="col-md-2">
              <app-navbar-details></app-navbar-details>
            </div>
            <!-- Right Side Content -->
            <div class="col-md-10">
              <!-- <router-outlet></router-outlet> -->
              <app-group-model-controls [step]="step" (groupModelControls)="groupModelControls($event)" [hidden]="step !== 1" [firstStageInput]="formOneData" (refId)="refId($event)"></app-group-model-controls>
              <app-screen-input-details [hidden]="step !== 2" [step]="step" (previousPage)="previous($event)" (screenInputDetails)="screenInputDetails($event)" [formOneData]="formOneData" [secondStageInput]="formTwoData"></app-screen-input-details>

              <div [hidden]="step !== 3">
                <!-- tab trial starts -->
                <div class="tab-container">
                  <div class="tab-element" [ngClass]="{ 'active': next === 1 }" *ngIf="ifModelExist('FCFE',formOneData?.model)" (click)="loadCurrentTab(1)">Free Cash Flow To Equity</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 2 }" *ngIf="ifModelExist('FCFF',formOneData?.model)" (click)="loadCurrentTab(2)">Free Cash Flow To Firm</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 3 }" *ngIf="ifModelExist('Relative_Valuation',formOneData?.model)" (click)="loadCurrentTab(3)">Comparable Companies</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 4 }" *ngIf="ifModelExist('Excess_Earnings',formOneData?.model)" (click)="loadCurrentTab(4)">Excess Earning</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 5 }" *ngIf="ifModelExist('CTM',formOneData?.model)" (click)="loadCurrentTab(5)">Comparable Transaction</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 6 }" *ngIf="ifModelExist('NAV',formOneData?.model)" (click)="loadCurrentTab(6)">Net Asset Value</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 7 }" *ngIf="ifModelExist('ruleElevenUa',formOneData?.model)" (click)="loadCurrentTab(7)">Rule 11 UA</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 8 }" *ngIf="ifModelExist('slumpSale',formOneData?.model)" (click)="loadCurrentTab(8)">Slump Sale</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 9 }" *ngIf="ifModelExist('berkus',formOneData?.model)" (click)="loadCurrentTab(9)">Berkus</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 10 }" *ngIf="ifModelExist('riskFactor',formOneData?.model)" (click)="loadCurrentTab(10)">Risk Factor</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 11 }" *ngIf="ifModelExist('scoreCard',formOneData?.model)" (click)="loadCurrentTab(11)">Score Card</div>
                  <div class="tab-element" [ngClass]="{ 'active': next === 12 }" *ngIf="ifModelExist('ventureCapital',formOneData?.model)" (click)="loadCurrentTab(12)">Venture Capital</div>
                </div>
                <!-- tab trial ends -->
                
                <app-fcfe-details [sensitivityAnalysisToggle]="false" (fcfeDetailsPrev)="fcfeDetailsPrev($event)" [hidden]="next !== 1" (fcfeDetails)="fcfeDetails($event)" [formOneData]="formOneData" [thirdStageInput]="formThreeData" [formTwoData]="formTwoData" [next]="next"></app-fcfe-details>
                <app-fcff-details [sensitivityAnalysisToggle]="false" (fcffDetailsPrev)="fcffDetailsPrev($event)" (fcffDetails)="fcffDetails($event)" [hidden]="next !== 2" [formOneData]="formOneData" [thirdStageInput]="formThreeData" [next]="next" [formTwoData]="formTwoData"></app-fcff-details>
                <app-relative-valuation-details (relativeValDetailsPrev)="relativeValDetailsPrev($event)" (relativeValDetails)="relativeValDetails($event)" [hidden]="next !== 3" [formOneData]="formOneData" [thirdStageInput]="formThreeData" [formTwoData]="formTwoData" [next]="next"></app-relative-valuation-details>
                <app-excess-earning-details (excessEarnDetailsPrev)="excessEarnDetailsPrev($event)" (excessEarnDetails)="excessEarnDetails($event)" [hidden]="next !== 4" [formOneData]="formOneData" [thirdStageInput]="formThreeData" [next]="next" [formTwoData]="formTwoData"></app-excess-earning-details>
                <app-comparable-industries-details (comparableIndustriesDetailsPrev)="comparableIndustriesDetailsPrev($event)" (comparableIndustriesDetails)="comparableIndustriesDetails($event)" [hidden]="next !== 5" [formOneData]="formOneData" [thirdStageInput]="formThreeData"></app-comparable-industries-details>
                <app-net-asset-value-details (navDetailsPrev)="navDetailsPrev($event)" (navDetails)="navDetails($event)" [hidden]="next !== 6" [formOneData]="formOneData" [thirdStageInput]="formThreeData"></app-net-asset-value-details>
                <app-eleven-ua (ruleElevenUaDetailsPrev)="ruleElevenUaDetailsPrev($event)" (ruleElevenUaDetails)="ruleElevenUaDetails($event)" [hidden]="next !== 7" [formOneData]="formOneData" [thirdStageInput]="formThreeData"></app-eleven-ua>
                <app-slump-sale (slumpSaleDetailsPrev)="slumpSaleDetailsPrev($event)" (slumpSaleDetails)="slumpSaleDetails($event)" [hidden]="next !== 8" [formOneData]="formOneData" [thirdStageInput]="formThreeData"></app-slump-sale>
                <app-berkus [hidden]="next !== 9" [berkusStep]="berkusStep" (berkusstep)="berkusstep($event)"></app-berkus>
                <app-risk-factor [hidden]="next !== 10" (riskFactor)="riskFactor($event)"></app-risk-factor>
                <app-score-card [hidden]="next !== 11" (scoreCard)="scoreCard($event)"></app-score-card>
                <app-venture-capital [hidden]="next !== 12" (ventureCapital)="ventureCapital($event)"></app-venture-capital>
              </div>

              <app-group-model-review (groupReviewControls)="groupReviewControls($event)" [step]="step" (previousPage)="previous($event)" [transferStepperTwo]="formOneAndThreeData" [hidden]="step !== 4" [fourthStageInput]="formFourData"></app-group-model-review>
              
              <app-group-model-result [transferStepperthree]="transferStepperthree"  (previousPage)="previous($event)" (resultData)="resultData($event)" [hidden]="step !== 5" [fifthStageInput]="formFiveData"></app-group-model-result>
              
              <app-report-details [transferStepperFour]="transferStepperFour" (previousPage)="previous($event)" [hidden]="step !== 6" [sixthStageInput]="formSixData"></app-report-details>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>

<div *ngIf="isProcessExistLoader">
  <app-ngx-ui-loader [loader]="'mainForm'" *ngIf="processLoader"></app-ngx-ui-loader>
</div>
