<div class="row">
    <div class="col">
      <div class="card mt-4">
        <h4 class="card-header label" style="font-weight: 400;">Valuation of Company</h4>
        <!-- <div class="col-md-12 revalmodel">
          <mat-label class="label">Valuation Of Company</mat-label>
          <span class="mat-bullet"><mat-icon>fiber_manual_record</mat-icon></span>
        </div> -->
        <h4 style="text-align: center;padding-top: 1.5%;font-weight: 400;color:#858985;margin-bottom: 0px !important;">{{headerLabel}}</h4>
        <div class="card-body">
          <mat-stepper #stepper (selectionChange)="onStepChange($event,stepper)">
            <mat-step  [stepControl]="firstFormGroup" errorMessage="Name is required."><app-group-model-controls [currentStepIndex]="currentStepIndex" (groupModelControls)="groupModelControls($event)"></app-group-model-controls>
            </mat-step>
            <mat-step  [stepControl]="secondFormGroup" errorMessage="Name is required.">
              <!-- bread crumb starts,store this into another component for maintaining the integrity and reuseablity -->
              <!-- <div class="breadcrumb-container">
                <div class="breadcrumb">
                  <span class="separator" >&rarr;</span>
                  <a (click)="createBreadcrumb('FCFE') || fcfePrev">FCFE</a>
                  <span class="separator" >&rarr;</span>
                  <a (click)="createBreadcrumb('FCFF') || fcffPrev">FCFF</a>
                  <span class="separator" >&rarr;</span>
                  <a (click)="createBreadcrumb('Relative_Valuation') || relativePrev">Relative Valuation</a>
                  <span class="separator">&rarr;</span>
                  <a (click)="createBreadcrumb('Excess_Earnings')">Excess Earnings</a>
                </div>
              </div> -->
              <!-- bread crumb ends -->
              
              <app-fcfe-details (fcfeDetailsPrev)="fcfeDetailsPrev($event)" [hidden]="next !== 1" (fcfeDetails)="fcfeDetails($event)" [formOneData]="formOneData"></app-fcfe-details>
              <app-fcff-details (fcffDetailsPrev)="fcffDetailsPrev($event)" (fcffDetails)="fcffDetails($event)" [hidden]="next !== 2" [formOneData]="formOneData"></app-fcff-details>
              <app-relative-valuation-details (relativeValDetailsPrev)="relativeValDetailsPrev($event)" (relativeValDetails)="relativeValDetails($event)" [hidden]="next !== 3" [formOneData]="formOneData"></app-relative-valuation-details>
              <app-excess-earning-details (excessEarnDetailsPrev)="excessEarnDetailsPrev($event)" (excessEarnDetails)="excessEarnDetails($event)" [hidden]="next !== 4" [formOneData]="formOneData"></app-excess-earning-details>
              <app-comparable-industries-details (comparableIndustriesDetailsPrev)="comparableIndustriesDetailsPrev($event)" (comparableIndustriesDetails)="comparableIndustriesDetails($event)" [hidden]="next !== 5" [formOneData]="formOneData"></app-comparable-industries-details>
              <app-net-asset-value-details (navDetailsPrev)="navDetailsPrev($event)" (navDetails)="navDetails($event)" [hidden]="next !== 6" [formOneData]="formOneData"></app-net-asset-value-details>
            </mat-step>
            <mat-step  [stepControl]="thirdFormGroup" errorMessage="Address is required.">
              <app-group-model-review (groupReviewControls)="groupReviewControls($event)" [currentStepIndex]="stepper.selectedIndex" (previousPage)="previous($event)" [transferStepperTwo]="formOneAndTwoData"
              ></app-group-model-review>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup" errorMessage="Address is required.">
                <app-group-model-result [transferStepperthree]="transferStepperthree"  (previousPage)="previous($event)" (resultData)="resultData($event)"></app-group-model-result>
            </mat-step>
            <mat-step [stepControl]="fifthFormGroup" errorMessage="Address is required.">
                <app-report-details [transferStepperFour]="transferStepperFour" (previousPage)="previous($event)"></app-report-details>
            </mat-step>
          </mat-stepper>
        </div>
      </div>
    </div>
  </div>