::ng-deep {
    .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
      background-color: var(--primary-bg-color) !important;
    }
   
  }
  
.card-body{
  padding: 0px !important;
}

.card{  
    box-shadow: 2px 1px 17px #bbccbb;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
:host ::ng-deep .mat-horizontal-content-container {
  padding:0 !important;
}



.custom-stepper {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-indicator {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.completed .step-indicator {
  border-color: green;
  background-color: green;
}

.pending .step-indicator {
  border-color: red;
  background-color: white;
}

.tick-mark,
.exclamation-mark {
  font-size: 20px;
}

.step-label {
  text-align: center;
}

.divider {
  height: 2px;
  width: 23%; /* Adjust the width of the divider line */
  background-color: #ccc; /* Color of the divider line */
  margin-top: 1%;
}

.completed-divider {
  background-color: #50e783; /* Change the color of the completed divider line to green */
  height: 2px;
  width: 23%; /* Adjust the width of the divider line */
  margin-top: 1%;
}

.succed{
  background-color: #50e783 !important;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.pending{
  background-color: red !important;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}


// trial bootstrap stepper starts
:root {
  --primary-color: rgb(11, 78, 179);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  // margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step-succed {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #50e783;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-step-succed::after{
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
  width: max-content;
  font-weight: 500;
  font-size: 13px;
}

// .progress-step::before {
//   counter-increment: step;
//   content: counter(step);
// }

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
  width: max-content;
  font-weight: 500;
  font-size: 13px;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/* Form */
.form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}


/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}
// trial bootstrap stepper ends

// bread crumbs
.breadcrumb-container {
  background: linear-gradient(135deg, #59b7a7, #9ff2f9); /* Classy gradient background */
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  font-size: 16px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

a:hover {
  color: #e74c3c;
}

.separator {
  margin: 0 5px;
  color: #fff; /* Separator color matches text color */
  font-weight: bold;
}

.current-page {
  font-weight: bold;
  font-size: 18px;
  color: #1c6a41;
}

