::ng-deep {
    .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
      background-color: var(--primary-bg-color) !important;
    }
   
  }
  
.card-body{
  padding: 0px !important;
}

.card{  
    box-shadow: 2px 1px 17px #bbccbb;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
:host ::ng-deep .mat-horizontal-content-container {
  padding:0 !important;
}



.custom-stepper {
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step-indicator {
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.completed .step-indicator {
  border-color: green;
  background-color: green;
}

.pending .step-indicator {
  border-color: red;
  background-color: white;
}

.tick-mark,
.exclamation-mark {
  font-size: 20px;
}

.step-label {
  text-align: center;
}

.divider {
  height: 2px;
  width: 23%; /* Adjust the width of the divider line */
  background-color: #ccc; /* Color of the divider line */
  margin-top: 1%;
}

.completed-divider {
  background-color: #50e783; /* Change the color of the completed divider line to green */
  height: 2px;
  width: 23%; /* Adjust the width of the divider line */
  margin-top: 1%;
}

.succed{
  background-color: #50e783 !important;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.pending{
  background-color: red !important;
  width: 30px;
  height: 30px;
  border: 2px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}


// trial bootstrap stepper starts
:root {
  --primary-color: rgb(11, 78, 179);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}
/* Global Stylings */
label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  // margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step-succed {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #50e783;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-step-succed::after{
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
  width: max-content;
  font-weight: 500;
  font-size: 13px;
}

// .progress-step::before {
//   counter-increment: step;
//   content: counter(step);
// }

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
  width: max-content;
  font-weight: 500;
  font-size: 13px;
}

.progress-step-active {
  background-color: var(--primary-color);
  color: #f3f3f3;
}

/* Form */
.form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}


/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #f3f3f3;
  text-align: center;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px var(--primary-color);
}
// trial bootstrap stepper ends

// bread crumbs
.breadcrumb-container {
  background: linear-gradient(135deg, #59b7a7, #9ff2f9); /* Classy gradient background */
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.breadcrumb {
  font-size: 16px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

a:hover {
  color: #e74c3c;
}

.separator {
  margin: 0 5px;
  color: #fff; /* Separator color matches text color */
  font-weight: bold;
}

.current-page {
  font-weight: bold;
  font-size: 18px;
  color: #1c6a41;
}



// new css
.revalmodel{
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 1%;
  position: relative;
  padding-left: 1.8%;
}

.label{
  border-radius: 5px;
  font-family: 'AR One Sans', sans-serif;
  font-size: 19px;
  color: #26879d;
  padding-left: 2%;
  cursor: pointer;
  transition:color .3s;
  padding-top: 1%;
}

.label:hover{
  color: #26879d;
}

// .label2{
//   color:#F00; 
//   border:1px solid #CCC;
//   }
//   .label2:after{
//       border-bottom:8px solid green;
//       display: block;
//       margin-left:35px;
//       content: " ";
//     width:80%;
//   }

.c-decorated-header {
  position: relative;
}

.c-decorated-header h3 {
  position: relative;
  text-align: left;

  font-family: 'AR One Sans', sans-serif;
  font-size: 19px;
  color: #3355dd;
  cursor: pointer;
}

.c-decorated-header{
  padding-top: 1%;
}
.c-decorated-header h3:after {
  content: "";
  height: 1px;
  position: absolute;
  right: 0;
  left: 237px;
  top: 7px;
  bottom: 0;
  margin: auto;
  background: #e2e2e6;
}

.c-decorated-header h3 span {
  position: relative;
  font-size: 19px;
  font-weight: 500;
  font-stretch: condensed;
}

.c-decorated-header_link-view-more {
  position: absolute;
  top: 12px;
  right: 40px;
  font-size: 15px;
  font-weight: 400;
  font-family: 'AR One Sans', sans-serif;
  color: #aaaaaa;
  text-decoration: none;
  background: #fcf8fe;;
  padding: 5px;
}

// tab scss starts
/* Add this to your styles.css or component-specific styles */

.tab-container {
  display: flex;
  background-color: #ffffff; /* Light green background color */
  // padding: 10px;
  box-shadow: 1px 2px 5px #e8e8e8;
  border-radius: 16px;
  
}

.tab-element {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'AR One Sans', sans-serif;
  color: #464646;
  font-size: 14px;
}

.tab-element.active {
  // background-color: #dff5f2; /* Highlight color for active tab */
  background-color: #cdf6f0;
  color: #3b3b3b;
  pointer-events: none; /* Disable click events */
  border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 14px;
    font-family: 'AR One Sans', sans-serif;
    cursor: not-allowed;
    border:1px solid #66c7bb;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition */
    // pointer-events: none;
}

// tab scss ends
