<div class="row">
    <div class="col">
      <div class="card mt-4">
        <h4 class="card-header" style="font-weight: 400;">Valuation of Firm</h4>
        <h4 style="text-align: center;padding-top: 1.5%;font-weight: 400;color:#858985;margin-bottom: 0px !important;">{{headerLabel}}</h4>
        <div class="card-body">
          <mat-stepper #stepper (selectionChange)="onStepChange($event,stepper)">
            <mat-step  [stepControl]="firstFormGroup" errorMessage="Name is required."><app-group-model-controls [currentStepIndex]="currentStepIndex" (groupModelControls)="groupModelControls($event)" ></app-group-model-controls>
            </mat-step>
            <mat-step  [stepControl]="secondFormGroup" errorMessage="Name is required.">
              <app-fcfe-details (fcfeDetailsPrev)="fcfeDetailsPrev($event)" [hidden]="next !== 1" (fcfeDetails)="fcfeDetails($event)" [formOneData]="formOneData"></app-fcfe-details>
              <app-fcff-details (fcffDetailsPrev)="fcffDetailsPrev($event)" (fcffDetails)="fcffDetails($event)" [hidden]="next !== 2" [formOneData]="formOneData"></app-fcff-details>
              <app-relative-valuation-details (relativeValDetailsPrev)="relativeValDetailsPrev($event)" (relativeValDetails)="relativeValDetails($event)" [hidden]="next !== 3" [formOneData]="formOneData"></app-relative-valuation-details>
              <app-excess-earning-details (excessEarnDetailsPrev)="excessEarnDetailsPrev($event)" (excessEarnDetails)="excessEarnDetails($event)" [hidden]="next !== 4" [formOneData]="formOneData"></app-excess-earning-details>
            </mat-step>
            <mat-step  [stepControl]="thirdFormGroup" errorMessage="Address is required.">
              <app-group-model-review (groupReviewControls)="groupReviewControls($event)" [currentStepIndex]="stepper.selectedIndex" (previousPage)="previous($event)" [transferStepperTwo]="formOneAndTwoData"
              ></app-group-model-review>
            </mat-step>
            <mat-step [stepControl]="fourthFormGroup" errorMessage="Address is required.">
                <app-group-model-result [transferStepperthree]="transferStepperthree"  (previousPage)="previous($event)"></app-group-model-result>
            </mat-step>
          </mat-stepper>
        </div>
      </div>
    </div>
  </div>