<div class="outer-wrapper">
    <div class="registration-wrapper container" [formGroup]="forgetPasswordForm">
            <div class="text-center">
                <h3 class="reg-h">Reset Password Form</h3>
              </div>

            <!-- Email -->
            <ng-container >
                <div class="material-textfield reg-field" *ngIf="level === 'askEmail'">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <input [type]="authJson.authOptions.forgetPassword.options.email.type" matInput formControlName="email" class="company-list-inp" [placeholder]="authJson.authOptions.forgetPassword.options.email.placeholder">
                        <span class="company-list-rmve" *ngIf="forgetPasswordForm.controls['email']?.value">
                            <mat-icon class="company-list-rmve-icon" (click)="clearInput('email')">close</mat-icon>
                        </span>
                        <span class="outercmpny-spinner" *ngIf="isOtpSending">
                            <mat-progress-spinner style="vertical-align: middle" class="company-list-spinner" mode="indeterminate" diameter="20"></mat-progress-spinner>
                          </span>
                        <mat-label>
                        {{authJson.authOptions.forgetPassword.options.email.label}}
                        </mat-label>
                        <mat-error class="company-list-error" *ngIf="forgetPasswordForm.controls['email'].touched && forgetPasswordForm.controls['email'].errors">
                        <span *ngIf="hasError('email','required',forgetPasswordForm)" class="error-text" style="padding-left: 0%;">Email-id is required</span>
                        <span *ngIf="hasError('email','email',forgetPasswordForm)" class="error-text" style="padding-left: 0%;">Email-id format is incorrect</span>
                    </mat-error>
                    </mat-form-field>
                </div>
    
                <div class="otp-input-container reg-field" *ngIf="level === 'askOtp'">
                    <label for="otp-input" class="otp-label">Enter OTP:</label>
                    <input type="text" class="otp-input" maxlength="1" pattern="\d{1}" inputmode="numeric" #otpInput1 
                           (input)="moveToNextInput($event, otpInput2)" (keydown.backspace)="moveToPreviousInput($event, otpInput1)" />
                    <input type="text" class="otp-input" maxlength="1" pattern="\d{1}" inputmode="numeric" #otpInput2 
                           (input)="moveToNextInput($event, otpInput3)" (keydown.backspace)="moveToPreviousInput($event, otpInput1)" />
                    <input type="text" class="otp-input" maxlength="1" pattern="\d{1}" inputmode="numeric" #otpInput3 
                           (input)="moveToNextInput($event, otpInput4)" (keydown.backspace)="moveToPreviousInput($event, otpInput2)" />
                    <input type="text" class="otp-input" maxlength="1" pattern="\d{1}" inputmode="numeric" #otpInput4 
                           (input)="moveToNextInput($event, otpInput5)" (keydown.backspace)="moveToPreviousInput($event, otpInput3)" />
                    <input type="text" class="otp-input" maxlength="1" pattern="\d{1}" inputmode="numeric" #otpInput5 
                           (input)="moveToNextInput($event, otpInput6)" (keydown.backspace)="moveToPreviousInput($event, otpInput4)" />
                    <input type="text" class="otp-input" maxlength="1" pattern="\d{1}" inputmode="numeric" #otpInput6 
                           (input)="moveToNextInput($event, null)" (keydown.backspace)="moveToPreviousInput($event, otpInput5)" />
                </div>
            </ng-container>

       <div class="row" *ngIf="level === 'askPassword'">
        <div class="col-xl-12">
            <div class="material-textfield reg-field">
               <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                   <input [type]="showPassword ? 'text' : 'password'" matInput formControlName="newPassword" class="company-list-inp" [placeholder]="authJson.authOptions.forgetPassword.options.newPassword.placeholder">
                   <span class="company-list-rmve" *ngIf="forgetPasswordForm.controls['newPassword']?.value" style="right: 7%;">
                    <mat-icon [style.color]="showPassword ? '#1852be' : '#6d6d6d'" (click)="togglePasswordVisibility()" class="show-pass">remove_red_eye</mat-icon>
                    </span>
                   <span class="company-list-rmve" *ngIf="forgetPasswordForm.controls['newPassword']?.value">
                       <mat-icon class="company-list-rmve-icon" (click)="clearInput('newPassword')">close</mat-icon>
                   </span>
                   <mat-label>
                   {{authJson.authOptions.forgetPassword.options.newPassword.label}}
                   </mat-label>
                   <mat-error class="company-list-error" *ngIf="forgetPasswordForm.controls['newPassword'].touched && forgetPasswordForm.controls['newPassword'].errors">
                   <span *ngIf="hasError('newPassword','required',forgetPasswordForm)" class="error-text" style="padding-left: 0%;">Enter new password</span>
               </mat-error>
               </mat-form-field>
           </div>
        </div>
        <div class="col-xl-12">
            <div class="material-textfield reg-field">
                <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                    <input [type]="authJson.authOptions.forgetPassword.options.confirmPassword.type" matInput formControlName="confirmPassword" class="company-list-inp" [placeholder]="authJson.authOptions.forgetPassword.options.confirmPassword.placeholder">
                       
                    <span class="company-list-rmve" *ngIf="forgetPasswordForm.controls['confirmPassword']?.value">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('confirmPassword')">close</mat-icon>
                    </span>
                    <mat-label>
                    {{authJson.authOptions.forgetPassword.options.confirmPassword.label}}
                    </mat-label>
                    <mat-error class="company-list-error" *ngIf="forgetPasswordForm.controls['confirmPassword'].touched && forgetPasswordForm.controls['confirmPassword'].errors">
                    <span *ngIf="hasError('confirmPassword','required',forgetPasswordForm) || hasError('confirmPassword','mismatch',forgetPasswordForm)" class="error-text" style="padding-left: 0%;">Please check your password</span>
                </mat-error>
                </mat-form-field>
            </div>
        </div>
       </div>

        <div class="row" style="padding-top: 1%;padding-bottom: 2%;">
            <div class="col-xl-5" style="display: flex; align-items: center;">
                <span>
                    <a (click)="backNavigation()" style="display: flex; align-items: center; text-decoration: none;" class="forget-back">
                        <mat-icon style="transform: scale(0.6);">keyboard_backspace</mat-icon>
                        <span style="margin-left: 0px;">{{ level === 'askEmail' ? 'Back to login' : 'Back'}}</span>
                    </a>
                </span>
            </div>
            
            <div class="col-xl-7" style="text-align: right;" *ngIf="level !== 'askPassword'">
                <button class="reg-button-save-mat" mat-raised-button (click)="level === 'askEmail' ? sendOtp() : verifyOtp()">
                    {{level === 'askEmail' ? 'Send Otp' : 'Verify Otp'}}
                    <span class="button-save"><mat-icon>send</mat-icon></span>
                </button>
            </div>
            <div class="col-xl-7" style="text-align: right;" *ngIf="level === 'askPassword'">
                <button class="reg-button-save-mat" mat-raised-button (click)="updatePassword()">
                    Confirm
                    <span class="button-save"><mat-icon>send</mat-icon></span>
                </button>
            </div>
          </div>
    </div>
</div>