.outer-wrapper{
    background-color: #ffffff;
    border-radius: 12px;
}
.main-outer-wrapper{
    padding: 1.5%;
}

.material-textfield {
    position: relative;
    height: auto;
  }
  .material-textfield textarea{
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
  }
  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 500;
  }
  .textarea-label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 20%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 500;
  }
  
  .new-inp {
    font-size: 1rem;
    outline: none;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    color: #6d6d6d;
    transition: 0.1s ease-out;
    font-family: 'AR One Sans', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    padding-left: 2%;
    box-shadow: 1px 2px 10px #f0ebeb;
    height: 50px;
  }
  
  .new-inp:focus {
    border-color: #6200ee;
  }
  
  .new-inp:focus+label {
    color: #6200ee;
    top: 3%;
    transform: translateY(-50%) scale(0.8) !important;
  }
  
  .new-inp:not(:placeholder-shown)+label {
    top: 3%;
    transform: translateY(-50%) scale(0.8) !important;
  }
  
  .new-inp:not(:focus)::placeholder {
    opacity: 0;
  }
  
  .field{
    padding-left: 2.5%;
    padding-top: 2%;
    padding-right: 2.5%;
    padding-bottom: 2%;
  }

  
.c-decorated-header {
    position: relative;
    padding-top: 2%;
  }
  
  .c-decorated-header h3 {
    position: relative;
    text-align: left;
  
    font-family: 'AR One Sans', sans-serif;
    font-size: 19px;
    color: #666666;
    cursor: pointer;
  }
  
  .c-decorated-header h3:after, .c-decorated-header2 h3:after {
    content: "";
    height: 1px;
    position: absolute;
    right: 0;
    left: 19%;
    top: 20%;
    bottom: 0;
    margin: auto;
    background: #e2e2e6;
  }
  .c-decorated-header2 h3:after{
    left: 17%;
  }
  
  .c-decorated-header h3 span {
    position: relative;
    font-size: 19px;
    font-weight: 500;
    font-stretch: condensed;
  }

  .download-temp{
    padding-right: 3%;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
  }
  .download-temp:hover{
    color: rgb(221, 26, 26);
    transition: ease-in-out 0.3s;
    cursor: pointer;
  }

  .upload-bt{
    background-color: #2aa1bf;
    color:#ffffff;
    position: relative;
    border-radius: 10px;
    padding-left: 6%;
    padding-right: 4%;
    border: 1px solid #2aa1bf;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    font-family: 'AR One Sans', sans-serif;
  }
  .button-save-mat{
    box-shadow: 1px 2px 15px #d1d1d1;
    color:#ffffff !important;
    background-color: #0cd18f !important;
    border-radius: 8px;
    position: relative;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 500;
    width: 50%;
  }
  .button-save{
    position: absolute;
      left: 112%;
      transform: scale(0.7);
      top: -8%;
      mat-icon{
        font-weight: bold;
        color: #ffffff;
      }
  }
  .pos-upload-absolute{
    position: absolute;
    left: 5%;
    mat-icon{
      transform: scale(0.8);
    }
  }
  
  .file-name{
    color: #004e67;
    font-family: 'AR One Sans', sans-serif;
    font-size: 10px;
    font-weight: bold;
    padding-left: 2%;
    cursor: pointer;
  }
