td,
th {
  margin: 0;
  border: 1px solid grey;
  white-space: nowrap;
  border-top-width: 0px;
  padding: 5px;
}
.table{
  border: 1px solid grey;

}

.pagination-container {
  text-align: end;
  margin-top: 20px;
}

.pagination {
  display: inline-block;
}

.pagination-button {
  font-size: 12px;
  padding: 0px 13px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #f0f0f0;
}

.pagination-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-info {
  font-size: 12px;
  margin: 0 10px;
  color:#7f7979;
  font-family: inherit;
}

.valuation-list {
  margin-top: 20px;
}

.valuation-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}