<div class="row">
  <div class="col">
    <div class="card" style="border-radius: 20px;background-color: #fcf8fe;">
      <!-- <h4 class="card-header">Activity</h4> -->
      <div class='c-decorated-header'>
        <h3><span style="padding-left: 2%;">Activity</span></h3>
        <div class='c-decorated-header_link-view-more'>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 field">
          <div class="material-textfield">
            <input class="new-inp" type="text" (keyup)="filterByCompany($event)" placeholder="Enter Company Name or ref-id"/>
            <label>Search by company/Reference Id</label>
          </div>
      </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col" style="box-shadow: 1px 4px 8px #e2e2e2;padding-left: 0px;padding-right: 0px;">
              <table class="table">
                <tr class="header">
                  <th *ngFor="let item of columnName" [ngStyle]="(item === 'Reference Id') ? { 'width': '10%'} : (item === 'Date') ? { 'width':'15%' } : (item === 'Status') ? { 'width':'12%' } : (item === 'Action') ? { 'width':'8%' } : (item === 'Valuation') ? { 'width' : '15%' } : { 'width':'auto' }">{{item}}</th>       
                </tr>
                <tr *ngFor="let item of activity">
                  <td>{{ item?.processIdentifierId ? item?.processIdentifierId : '-'  }}</td>
                  <td>{{ item.createdOn | date :'MMM d, yyyy h:mm a' }} </td>
                  <td>{{ item?.firstStageInput?.company ? item?.firstStageInput?.company : '-'  }}</td>
                  <td style="width: 30%;" class="modelC">{{ getModel(item?.firstStageInput?.model) }}</td>
                  <!-- <td> {{item?.fourthStageInput?.totalWeightageModel?.weightedVal || item?.thirdStageInput?.appData?.valuationResult[0].valuation ? item?.firstStageInput?.currencyUnit : ''}} {{ item?.fourthStageInput?.totalWeightageModel?.weightedVal ?  (item?.fourthStageInput?.totalWeightageModel?.weightedVal?.toFixed(2) | number : '1.2-2') : (item?.thirdStageInput?.appData?.valuationResult[0].valuation?.finalPriceAvg ? (item?.thirdStageInput?.appData?.valuationResult[0].valuation?.finalPriceAvg?.toFixed(2) | number : '1.2-2') :   item?.thirdStageInput?.appData?.valuationResult[0].valuation ? (item?.thirdStageInput?.appData?.valuationResult[0]?.valuation.toFixed(2) |  number : '1.2-2') : '-') }}</td> -->
                  <td>
                    {{getValuation(item.firstStageInput?.model, item)}}
                  </td>
                  <td>
                    <button [ngClass]="item?.sixthStageInput ? 'btn btn-success completed-doc-bt' :  (item?.fourthStageInput?.appData?.valuationResult ? item?.fourthStageInput?.appData?.valuationResult[0]?.valuation : null) || item?.fifthStageInput?.totalWeightageModel?.weightedVal ? 'btn btn-success report-pending-bt' : item.step === 3 || item.step === 2 ? 'btn btn-success pending-doc-bt' : item.step === 1 ? 'btn btn-success draft-doc-bt' : 'btn btn-success pending-doc-bt'" >{{ item?.sixthStageInput ? 'Completed' : (item?.fourthStageInput?.appData?.valuationResult ? item?.fourthStageInput?.appData?.valuationResult[0]?.valuation : null) || item?.fifthStageInput?.totalWeightageModel?.weightedVal ? 'Report Pending' : item.step === 3 || item.step === 2 ? 'Pending' : item.step === 1 ? 'Draft' : 'Pending' }}
                      <span class="completed-doc-icon" *ngIf="item?.fifthStageInput"><mat-icon>check_circle_outline</mat-icon></span>
                      <span class="completed-doc-icon" *ngIf="((item?.fourthStageInput?.appData?.valuationResult ? item?.fourthStageInput?.appData?.valuationResult[0]?.valuation : null) || item?.fifthStageInput?.totalWeightageModel?.weightedVal) && !item?.sixthStageInput"><mat-icon>hourglass_empty</mat-icon></span>
                      <span class="completed-doc-icon" *ngIf="item.step === 3 || item.step === 2"><mat-icon>query_builder</mat-icon></span>
                      <span class="completed-doc-icon" *ngIf="item.step === 1"><mat-icon>photo_filter</mat-icon></span>
                    </button>
                  </td>
                  <td>

                    <button mat-icon-button class="act" [matMenuTriggerFor]="menu">
                      <span style="position: absolute;top: 0%;">
                        <mat-icon style="transform: scale(0.9)">more_vert</mat-icon>
                      </span>
                    </button>
                    
                    <mat-menu #menu="matMenu" xPosition="before">
                      <button mat-menu-item (click)="loadProcess(item._id)" class="action-button">
                        <span matTooltip="Resume valuation" style="width: 150px;display: block;text-align: left;padding-left: 9%;" matTooltipPosition="left" class="resume-label" matTooltipClass='activity-resume-tooltip'>
                          <img style="height: 13px;width: 13px;cursor: pointer;" src="../../../../assets/images/icons/report-edit.png" alt="">
                        <span style="font-size: 14px;padding-left: 9%;font-family: 'AR One Sans', sans-serif !important;">Resume</span>
                      </span>
                      </button>
                      <button mat-menu-item (click)="downloadReport(item?.sixthStageInput,item?.firstStageInput?.model, item?.firstStageInput?.company)" class="action-button">
                        <span matTooltip="Download valuation report" style="width: 150px;display: block;text-align: left;padding-left: 9%;" class="download-label" matTooltipPosition="left" matTooltipClass="activity-download-tooltip">
                          <img style="height: 13px;width: 13px;cursor: pointer;" src="../../../../assets/images/icons/down-arrow.png" alt="">
                        <span style="font-size: 14px;padding-left: 9%;font-family: 'AR One Sans', sans-serif !important;">Download</span>
                      </span>
                      </button>
                      <button mat-menu-item (click)="downloadMrlReport(item._id)" class="action-button" *ngIf="item?.sixthStageInput">
                        <span matTooltip="Generate MRL pdf" style="width: 150px;display: block;text-align: left;padding-left: 9%;" class="mrl-label" matTooltipPosition="left" matTooltipClass="activity-mrl-tooltip">
                          <img style="height: 13px;width: 13px;cursor: pointer;" src="../../../../assets/images/icons/mrl-pdf.png" alt="">
                        <span style="font-size: 14px;padding-left: 9%;font-family: 'AR One Sans', sans-serif !important;">Generate MRL</span>
                        </span>
                      </button>
                    </mat-menu>
                  </td>
                </tr>
              </table>
              <!-- paginator section starts -->
              <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="onPageChange($event)"
              aria-label="Select page"
              class="table-paginator"
              #paginatorRef>
              </mat-paginator>
              <!-- paginator section ends -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-ngx-ui-loader [loader]="'activityTab'" *ngIf="processLoader"></app-ngx-ui-loader>
