<!-- <div class="app-header header top-header">
  <div class="container-fluid main-container">
    <div class="d-flex">
      <div class="dropdown side-nav">
        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" (click)="toggleSidebar()">
          <a class="open-toggle" href="javascript:void(0)">
            <i class="bx bx-menu-alt-left header-icon"></i>
          </a>
          <a class="close-toggle" href="javascript:void(0)">
            <i class="bx bx-x header-icon"></i>
          </a>
        </a>
      </div>
      <a class="header-brand" routerLink="/dashboard/sales">
        <img src="./assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Slica logo" />
        <img src="./assets/images/brand/logo1.png" class="header-brand-img dark-logo" alt="Slica logo" />
        <img src="./assets/images/brand/icon.png" class="header-brand-img mobile-logo" alt="Slica logo" />
        <img src="./assets/images/brand/icon1.png" class="header-brand-img darkmobile-logo" alt="Slica logo" />
      </a>

      <div class="d-flex order-lg-2 ms-lg-auto">
        <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button" (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed">
          <span class="navbar-toggler-icon fe fe-more-vertical"></span>
        </button>

        <div ngbDropdown class="d-flex">
          <a class="nav-link icon theme-layout nav-link-bg layout-setting" appToggleTheme>
            <span class="dark-layout">
           <i class="bx bx-sun header-icon"></i>
            </span>
            <span class="light-layout">
             <i class="bx bx-moon header-icon"></i>
            </span>
          </a>
        </div>
        <div class="dropdown header-fullscreen">
            <a class="nav-link icon full-screen-link" id="fullscreen-button" appFullscreen>
                <i class="bx bx-fullscreen header-icon"></i>
            </a>
  
        </div>
        <div class="navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4" #collapse="ngbCollapse"
            [(ngbCollapse)]="isCollapsed">
            <div class="d-flex order-lg-2">
              <div class="dropdown profile-dropdown">
                <a href="javascript:void(0)" class="nav-link icon px-1">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="img"
                    class="avatar brround" />
                </a>
              </div>

              <div class="dropdown header-sidebar">
                <a (click)="toggleSidebarNotification()" class="nav-link icon sidebar-right-mobile"
                  data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
                  <i class="bx bx-menu-alt-right header-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="demo-icon nav-link icon" (click)="toggleSwitcher()">
          <i class="fe fe-settings fa-spin text_primary"></i>
        </div>
        <div class="dropdown header-sidebar">
          <a (click)="toggleSidebarNotification()" class="nav-link icon sidebar-right-mobile" data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
              <i class="bx bx-menu-alt-right header-icon"></i>
          </a>
      </div>
      </div>
    </div>
  </div>
</div> -->



<!-- new header -->
<div class="app-header header top-header new-head">
  <div class="container-fluid main-container">
    <div class="d-flex">
      <!-- <div class="dropdown side-nav">
        <a aria-label="Hide Sidebar" class="app-sidebar__toggle" data-bs-toggle="sidebar" >
          <a class="open-toggle" href="javascript:void(0)">
            <i class="bx bx-menu-alt-left header-icon"></i>
          </a>
          <a class="close-toggle" href="javascript:void(0)">
            <i class="bx bx-x header-icon"></i>
          </a>
        </a>
      </div> -->
      <div class="main-sidebar-header active new-img-css" style="border-right: 0px;border-bottom: 0px;">
          <a class="desktop-logo logo-light active" 
            ><img
              src="assets\images\brand\infin logo.jpg"
              class="main-logo"
              alt="logo"
          /></a>
    
          <a class="logo-icon mobile-logo icon-light active"
            ><img src="../../../../assets/images/brand/icccon.ico" alt="logo"
          /></a>
        </div>
      <a class="header-brand" routerLink="/dashboard/sales">
        <img src="./assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Slica logo" />
        <img src="./assets/images/brand/logo1.png" class="header-brand-img dark-logo" alt="Slica logo" />
        <img src="./assets/images/brand/icon.png" class="header-brand-img mobile-logo" alt="Slica logo" />
        <img src="./assets/images/brand/icon1.png" class="header-brand-img darkmobile-logo" alt="Slica logo" />
      </a>

      <div class="d-flex order-lg-2 ms-lg-auto">
        <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
          >
          <span class="navbar-toggler-icon fe fe-more-vertical"></span>
        </button>

        <!-- <div ngbDropdown class="d-flex">
          <a class="nav-link icon theme-layout nav-link-bg layout-setting" appToggleTheme>
            <span class="dark-layout">
           <i class="bx bx-sun header-icon"></i>
            </span>
            <span class="light-layout">
             <i class="bx bx-moon header-icon"></i>
            </span>
          </a>
        </div> -->
        <!-- <div class="dropdown header-fullscreen">
            <a class="nav-link icon full-screen-link" id="fullscreen-button" appFullscreen>
                <i class="bx bx-fullscreen header-icon"></i>
            </a>
  
        </div> -->
        
        <div class="demo-icon nav-link icon" *ngIf="isLoggedIn()">
          <span style="width: 70px;display: block;text-align: left;padding-left: 2%;" class="download-label nav-h" routerLink="dashboard/">
            <img style="height: 19px;width: 19px;cursor: pointer;" src="../../../../assets/images/icons/home.png" alt="">
          <span style="font-size: 15px;padding-left: 4%;font-family: 'AR One Sans', sans-serif !important;">Home</span>
        </span>
        </div>
        <div class="demo-icon nav-link icon">
          <span style="width: 115px;display: block;text-align: left;padding-left: 2%;" class="download-label nav-h" routerLink="contact-sales">
            <img style="height: 19px;width: 19px;cursor: pointer;" src="../../../../assets/images/icons/contactus.png" alt="">
          <span style="font-size: 15px;padding-left: 4%;font-family: 'AR One Sans', sans-serif !important;">Contact Us</span>
        </span>
        </div>
        <div class="demo-icon nav-link icon">
          <span style="width: 90px;display: block;text-align: left;padding-left: 2%;" class="download-label nav-h">
            <img style="height: 19px;width: 19px;cursor: pointer;" src="../../../../assets/images/icons/cloud.png" alt="">
          <span style="font-size: 15px;padding-left: 4%;font-family: 'AR One Sans', sans-serif !important;">Services</span>
        </span>
        </div>
        <div class="demo-icon nav-link icon" *ngIf="!isLoggedIn()">
          <span style="width: 70px;display: block;text-align: left;padding-left: 2%;" class="download-label nav-h" routerLink="../">
            <img style="height: 17px;width: 17px;cursor: pointer;" src="../../../../assets/images/icons/signup.png" alt="">
          <span style="font-size: 15px;padding-left: 7%;font-family: 'AR One Sans', sans-serif !important;">Login</span>
        </span>
        </div>
        <!-- <div class="demo-icon nav-link icon">
          <span style="width: 90px;display: block;text-align: left;padding-left: 2%;" class="download-label nav-h" routerLink="register">
            <img style="height: 17px;width: 17px;cursor: pointer;" src="../../../../assets/images/icons/register.png" alt="">
          <span style="font-size: 15px;padding-left: 5%;font-family: 'AR One Sans', sans-serif !important;">Register</span>
        </span>
        </div> -->
        <div class="navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
          <div class="collapse navbar-collapse" id="navbarSupportedContent-4" 
           >
            <div class="d-flex order-lg-2">
              <div class="dropdown profile-dropdown" *ngIf="isLoggedIn()">
                <a href="javascript:void(0)" class="nav-link icon px-1" (mouseover)="toggleDropdown(true)" (mouseleave)="toggleDropdown(false)">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="img"
                    class="avatar brround" />
                </a>
                <div class="dropdown-content" [ngClass]="{ 'show': isDropdownOpen }">
                  <ul class="side-menu">
                    <li class="slide drop-d">
                      <span style="padding-right: 12%;">
                        <img src="../../../../assets/images/icons/user.png" style="height: 17px;width: 17px;" alt="">
                      </span>Profile
                    </li>
                    <li class="slide drop-d" (click)="checkStatus('signOut')">
                      <span style="padding-right: 12%;">
                        <img src="../../../../assets/images/icons/sign-out.png" style="height: 17px;width: 17px;" alt="">
                      </span>Sign Out
                    </li>
                  </ul>
                </div>
              </div>

              <div class="dropdown header-sidebar">
                <a  class="nav-link icon sidebar-right-mobile"
                  data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right" *ngIf="isLoggedIn()">
                  <i class="bx bx-menu-alt-right header-icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="demo-icon nav-link icon">
          <i class="fe fe-settings fa-spin text_primary" *ngIf="isLoggedIn()"></i>
        </div>
        
        <!-- <div class="dropdown header-sidebar">
          <a  class="nav-link icon sidebar-right-mobile" data-bs-toggle="sidebar-right" data-bs-target=".sidebar-right">
              <i class="bx bx-menu-alt-right header-icon"></i>
          </a>
      </div> -->
      </div>
    </div>
  </div>
</div>