
<div class="contact-outer-wrapper" style="height: 1000px;">
    <div class="contact-header" style="text-align: left;width: 70%;margin: auto;">
        <h1 class="header-label">Now or Never for Enterprise Digital Transformations</h1>
        <div class="short-line"></div>
        <p class="sub-header-one">Enterprises are pushing forward with Digital Transformations in response to increasing economic turmoil. Gartner predicts the 2023 worldwide IT spending will be a whopping 4.6 trillion dollars!</p>
        <p class="sub-header-one">A team of result oriented professionals and providing <span style="color: #DA3643;">Cost Effective Valuation Services</span> that meet the highest professional and regulatory standards.</p>
        <p class="sub-header-two">Get in touch for a <span style="color: #DA3643;">Free Expert Consultation</span> on all your digital needs.</p>
    </div>
  
  <div class="container content-wrapper">
    <form (ngSubmit)="submitForm()">
        <div class="row sub-main-wrapper">
            <div class="col-xl-4 col-md-4 left-image">
                <div class="background-image">
                    <div class="overlay"></div>
                    <h2>Contact Us</h2>
                    <div class="short-line" style="margin:auto;width: 55%;position: relative;"></div>
                    <p class="sub-header-three">Get in touch for a Free Expert Consultation on all your digital needs!</p>
                    <div class="short-green-line"></div>
                </div>
            </div>
            <div class="col-xl-8 col-md-8 right-content-wrapper" >
                <div class="row" >
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter First Name"/>
                            <label>First Name*</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter Last Name"/>
                            <label>Last Name*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter business email"/>
                            <label>Business Email*</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter company"/>
                            <label>Company*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter designation"/>
                            <label>Designation*</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter mobile number"/>
                            <label>Mobile No.*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12 field">
                        <div class="material-textfield">
                            <textarea rows="5" class="new-inp" placeholder="Enter descriptive comment"></textarea>
                            <label class="textarea-label">Tell us more</label>
                        </div>
                    </div>
                </div>
                <div class="field submit-wrapper">
                    <input type="submit" class="contact-button">
                </div>
            </div>
        </div>
    </form>
  </div>
</div>
  