<div class="contact-outer-wrapper" >
    <div class="contact-header" style="text-align: left;width: 70%;margin: auto;">
        <h1 class="header-label">Business Valuation Services</h1>
        <div class="short-line"></div>
        <p class="sub-header-one text-justify">Providing business valuation services using financial statements for companies to determine their economic value based on financial performance.Our process involves analyzing various financial statements, such as balance sheets, income statements, and cash flow statements, to determine the company's worth.</p>
        <!-- <p class="sub-header-one"></p> -->
        <p class="sub-header-one text-justify">We are a team of result oriented professionals and providing <span style="color: #36da97;">Cost Effective Valuation Services</span> that meet the highest professional and regulatory standards.</p>
    </div>
  
  <div class="container content-wrapper">
    <form (ngSubmit)="submitForm()">
        <div class="row sub-main-wrapper">
            <div class="col-xl-5 col-md-5 left-image">
                <div class="background-image">
                    <div class="overlay"></div>
                    <h2>Contact Us</h2>
                    <div class="short-line" style="margin:auto;width: 55%;position: relative;"></div>
                    <!-- <p class="sub-header-three">Get in touch with us for a <span class="compl-consl">Complimentary Consultation</span> and discover how our business valuation services can help you make informed decisions about your company's financial future.</p> -->
                    <p class="sub-header-three">Discover how our business valuation services can help you make informed decisions about your company's financial future.</p>
                    <div class="short-green-line"></div>
                </div>
            </div>
            <div class="col-xl-7 col-md-7 right-content-wrapper" >
                <div class="row" >
                    <div class="col-xl-12 col-md-12 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter First Name"/>
                            <label>Full Name*</label>
                        </div>
                    </div>
                    <!-- <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter Last Name"/>
                            <label>Last Name*</label>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter business email"/>
                            <label>Business Email*</label>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter mobile number"/>
                            <label>Mobile No.*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-xl-6 col-md-6 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter designation"/>
                            <label>Designation*</label>
                        </div>
                    </div> -->
                    <div class="col-xl-12 col-md-12 field">
                        <div class="material-textfield">
                            <input class="new-inp" placeholder="Enter company"/>
                            <label>Company*</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12 field">
                        <div class="material-textfield">
                            <textarea rows="5" class="new-inp" placeholder="Enter descriptive comment"></textarea>
                            <label class="textarea-label">Business query...</label>
                        </div>
                    </div>
                </div>
                <div class="field submit-wrapper">
                    <input type="submit" class="contact-button">
                </div>
            </div>
        </div>
    </form>
  </div>
  <div style="padding-bottom: 4% !important;"></div>
</div>
  