  <!-- NAV FORM -->
  <div *ngIf="controls.NAV.type === 'NAV' && formOneData" class="pt-2">
    <form [formGroup]="navForm" class="outer-wrapper" *ngIf="navRegConfig.length">
        <div class="row">
          <ng-container *ngFor="let config of navRegConfig">
              <div [ngClass]="!config.type ? 'col-xl-8 col-md-8 field' : 'col-xl-12'">
                  <div *ngIf="!config.type && config.controlName">
                    <div class="material-textfield" *ngIf="navForm.controls[config.controlName].value === 'book_value'" style="width: 75%;">
                      <select 
                        [id]="config.controlName" 
                        class="new-inp" 
                        [formControlName]="config.controlName" 
                        #controlSelector 
                        (change)="onSelectorChange(controlSelector.value, config.controlName)"
                        >
                          <option value="" disabled>Select type</option>
                          <option *ngFor="let data of config.options" [value]="data.value">{{ data.name }}</option>
                      </select>
                      <label [for]="config.controlName">{{ config.label }}</label>
                    </div>
                    <div class="row" *ngIf="navForm.controls[config.controlName].value !== 'book_value'">
                      <div class="col-xl-9 col-md-9">
                        <div class="material-textfield">
                          <input class="new-inp" [formControlName]="config.controlName" type="text" [placeholder]="config.placeholder"/>
                          <label>{{ config.label }}</label>
                        </div>
                      </div>
                      <div class="col-xl-2 col-md-2">
                        <mat-radio-group>
                          <mat-radio-button 
                            class="nav-radio-button" 
                            matTooltipClass="nav-tooltip" 
                            [matTooltip]="config.tooltip"
                            matTooltipPosition="above" 
                            value="market_value" 
                            [color]="'primary'" 
                            (change)="resetBookValue('book_value', config.controlName)"
                            >
                          </mat-radio-button>
                        </mat-radio-group>
                      </div>
                    </div>
                    <br>
                  </div>
              
                <ng-container *ngIf="config.type === 'header'">
                  <div class="col-xl-12">
                    <div [class]='config.class'>
                      <h3>
                        <span style="padding-left: 2%;">{{config.label}}</span>
                      </h3>
                      <div class='c-decorated-header_link-view-more'>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
          </ng-container>

            <div class="col-md-12 btn-prop">
              <button (click)="previous()" mat-raised-button class="button-back-mat">
                <span class="button-back"><mat-icon>send</mat-icon></span>
                  Back
              </button>

          <button (click)="saveAndNext()" class="button-save-mat" mat-raised-button>
              Next
              <span class="button-save"><mat-icon>send</mat-icon></span>
          </button>
      </div>
        </div>
      </form>  
</div>