@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.full-width-input {
    width: 50%; /* Set the width to 100% to occupy the full width of the container */
  }
  .col-md-6 mat-form-field{
    width: 100% !important;
  }

  .label{
    border-radius: 5px;
    font-family: 'AR One Sans', sans-serif;
    font-size: 17px;
    color: #26879d;
    padding-left: 2%;
    cursor: pointer;
    transition:color .3s;
  }
  
  ::ng-deep .mat-relative-val input
  {
    color: #004e67 !important;
    font-family: 'AR One Sans';
  }
  mat-label{
    color:#38a3b8;
  }
  .field{
    padding-left: 2.5%;
    padding-top: 0.5%;
    padding-right: 2.5%;
  }

.card-header{
    color: #1c6e8f;
    border-top: 1px solid #e3e3f7;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
  }

// keep this css
.revalmodel{
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 1%;
    position: relative;
    padding-left: 1.8%;
  }
  .label:hover{
    color: #26879d;
  }

  .mat-bullet{
    position: absolute;
    left: 2%;
    top: 30%;
    mat-icon{
        transform: scale(.5);
        color: #26879d;
    }
  }

  ::ng-deep .mat-select-value .mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-value-text{    
    padding: 0px !important;
    color: #004e67 !important;
      font-family: 'AR One Sans';
  }
  ::ng-deep .mat-relative-val .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }