<div class="task-manager" style="background-color: #fcf8fe;padding: 1%;">
  <div class="page-content left-content" style="margin:0px">
    <!-- <div class="header">Hey, Sanket</div> -->
    <div><p class="header">Hi, <span id="dynamicName">User</span></p></div>
    <div class="content-categories" style="padding-left: 4%;">
      <div class="label-wrapper">
        <label class="category" for="opt-1" (click)="setActiveLink('opt-1')" [class.active]="activeLink === 'opt-1'">All</label>
      </div>
      <div class="label-wrapper">
        <label class="category" for="opt-2" (click)="setActiveLink('opt-2')" [class.active]="activeLink === 'opt-2'">Important</label>
      </div>
      <div class="label-wrapper">
        <label class="category" for="opt-3" (click)="setActiveLink('opt-3')" [class.active]="activeLink === 'opt-3'">Notes</label>
      </div>
      <div class="label-wrapper">
        <label class="category" for="opt-4" (click)="setActiveLink('opt-4')" [class.active]="activeLink === 'opt-4'">Links</label>
      </div>
    </div>
    <div class="tasks-wrapper" style="padding-top: 0%;">
      <div style="padding-left: 1%;">
        <div class="left-header">Upcoming Valuation Tasks</div>
      </div>

        <div class="row task-list-wrapper">
          <div class="col-xl-6">
            <div class="form-check">
              <label class="dashboard-left-label" for="flexRadioDefault3">
                Dashboard Design Implementation
              </label>
            </div>
          </div>
          <div class="col-xl-6 dashboard-right-label">
            <p> 
              <span class="item-list-tag waiting-item">Waiting</span>
            </p>
          </div>
        </div>

        <div class="row task-list-wrapper">
          <div class="col-xl-6">
            <div class="form-check">
              <label class="dashboard-left-label" for="flexRadioDefault3">
                Create a userflow
              </label>
            </div>
          </div>
          <div class="col-xl-6 dashboard-right-label">
            <p> 
              <span class="item-list-tag progress-item">Progress</span>
            </p>
          </div>
        </div>

        <div class="row task-list-wrapper">
          <div class="col-xl-6">
            <div class="form-check">
              <label class="dashboard-left-label" for="flexRadioDefault3">
                Application Implementation
              </label>
            </div>
          </div>
          <div class="col-xl-6 dashboard-right-label">
            <p> 
              <span class="item-list-tag review-item">Review</span>
            </p>
          </div>
        </div>

        <div class="row task-list-wrapper">
          <div class="col-xl-6">
            <div class="form-check">
              <label class="dashboard-left-label" for="flexRadioDefault3">
                Discouted Cash Flow View
              </label>
            </div>
          </div>
          <div class="col-xl-6 dashboard-right-label">
            <p> 
              <span class="item-list-tag progress-item">Progress</span>
            </p>
          </div>
        </div>
        <div class="row task-list-wrapper">
          <div class="col-xl-6">
            <div class="form-check">
              <label class="dashboard-left-label" for="flexRadioDefault3">
                Data Checklist Form
              </label>
            </div>
          </div>
          <div class="col-xl-6 dashboard-right-label">
            <p> 
              <span class="item-list-tag start-item" (click)="loadDataCheckListForm()">Start</span>
            </p>
          </div>
        </div>
    </div>
  </div>
  <div class="right-bar">
    <div class="header" style="padding-top: 30px;">Valuation Stats</div>
    <div class="right-content">
      <div *ngFor="let records of totalRecords">
        <div class="task-box yellow">
          <div class="description-task">
            <div class="time">{{records.createdOn | date :'MMM d, yyyy h:mm a'}}</div>
            <div class="task-name">{{getCompanyName(records)}}</div>
            <div class="ref-id">#{{getCompanyId(records)}}</div>
            <div class="ref-id">Model - {{valuationModels(records)}}</div>
          </div>
          <div class="more-button"></div>
          <div class="members">
              <span class="stat">Status</span> <span class="stat-result" [ngClass]="getStatus(records)">- {{getCompanyStatus(records)}}</span>
          </div>
          <div class="members" *ngIf="valuationFinalValue(records)">
              <span><img src="../../../../assets/images/icons/valuation.png" style="height: 20px;width: 20px;" alt=""></span><span class="stat-valuation"><h4 class="modal-subtitle">Valuation</h4></span> <span class="stat-result">- {{valuationCurrencyUnit(records)}} {{valuationFinalValue(records)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>