<div *ngIf="currentStepIndex===2" [formGroup]="reviewForm">
    <div>
        <h4 class="card-header">Financial Data Segment</h4>
        <div>
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="Profit & Loss">
                    <app-profit-loss-data [transferStepperTwo]="transferStepperTwo" (profitLossData)="profitLossData($event)" [currentStepIndex]="currentStepIndex"></app-profit-loss-data>
                </mat-tab>
                <mat-tab label="Balance Sheet">
                    <app-balance-sheet-details [transferStepperTwo]="transferStepperTwo" (balanceSheetData)="balanceSheetData($event)"></app-balance-sheet-details>
                </mat-tab>
                <mat-tab label="Assessment of Working Capital">
                    <app-assessment-details [transferStepperTwo]="transferStepperTwo"></app-assessment-details>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div *ngIf="!transferStepperTwo?.excelSheetId" style="margin-top: auto;margin-bottom: auto;">
            <p style="padding: 2% !important;
            color: #c91919;
            font-size: 19px;">No Records Found</p>
        </div>
    </div>  

    <!-- relative valuations table section starts,whenever want to use just uncomment this-->
    <!-- <div class="outer-wrapper" *ngIf="isRelativeValuation('Relative_Valuation')" style="padding-top: 2%;">
        <h4 class="card-header">Relative Valuations</h4>
       <div *ngIf="(transferStepperTwo?.companies || transferStepperTwo?.industries) || (transferStepperTwo?.preferenceRatioSelect === '' || !transferStepperTwo?.preferenceRatioSelect)">
        <app-relative-valuations-table [tableData]="tableData"></app-relative-valuations-table>
       </div>
    </div> -->
    <!-- relative valuations table section ends -->

     <!-- Modify paramter set in starts -->
     <div class="outer-wrapper" style="padding-top: 2%;" *ngIf="isRelativeValuation('FCFE') || isFcff('FCFF')">
        <h4 class="card-header">Other adjustments</h4>
       <!-- <div class="container-fluid" *ngIf="transferStepperTwo">
        <div class="row">
            <div class="col-md-4 outer-main-div" *ngIf="transferStepperTwo?.beta">
                <mat-card class="main-block" >
                    <div class="row">
                        <div class="col-md-2 outer-div-mat-icon-bar">
                            <mat-icon class="mat-icon-left-bar">list_alt</mat-icon>
                        </div>
                        <div class="col-md-10 inner-col-data">
                            <mat-card-subtitle>
                            <mat-icon class="mat-check-circle">check_circle</mat-icon>
                            <span>Industrial Beta</span></mat-card-subtitle>
                           <p class="betaType"><span style="color: gray;font-size: 25px;">--</span> Levered  <span style="color:#00caff;">{{betaValue}}%</span></p>                
                            <mat-card-actions>
                            <button mat-button> <mat-icon>first_page</mat-icon>Edit</button>
                            </mat-card-actions>
                        </div>
                    </div>
                  </mat-card>
            </div>
            <div class="col-md-4 outer-main-div" *ngIf="transferStepperTwo?.costOfDebt">
                <mat-card class="main-block">
                    <div class="row">
                        <div class="col-md-2 outer-div-mat-icon-bar">
                            <mat-icon class="mat-icon-left-bar">developer_board</mat-icon>
                        </div>
                        <div class="col-md-10 inner-col-data">
                            <mat-card-subtitle>
                            <mat-icon class="mat-check-circle">check_circle</mat-icon>
                            <span>Cost of Debt</span></mat-card-subtitle>
                            <p class="debtType"><span style="color: gray;font-size: 25px;">--</span> {{debtValue}}%</p>
                            
                            <mat-card-actions>
                            <button mat-button> <mat-icon>first_page</mat-icon>Edit</button>
                            </mat-card-actions>
                        </div>
                    </div>
                  </mat-card>
            </div>
            <div class="col-md-4 outer-main-div" *ngIf="transferStepperTwo?.taxRate">
                <mat-card class="main-block">
                    <div class="row">
                        <div class="col-md-2 outer-div-mat-icon-bar">
                            <mat-icon class="mat-icon-left-bar">nfc</mat-icon>
                        </div>
                        <div class="col-md-10 inner-col-data">
                            <mat-card-subtitle>
                            <mat-icon class="mat-check-circle">check_circle</mat-icon>
                            <span>Taxation Rate</span></mat-card-subtitle>
                            <p class="taxType"><span style="color: gray;font-size: 25px;">--</span> {{taxRateValue}}% </p>
                            <mat-card-actions>
                                <button mat-button> <mat-icon>first_page</mat-icon>Edit</button>
                            </mat-card-actions>
                        </div>
                    </div>
                  </mat-card>
            </div>
        </div>
       </div> -->
       <!-- other adjustments -->
       <div class="container-fluid" style="padding-top: 2%;">
        <div class="row">
            <div class="col-md-6 field">
                <mat-form-field class="full-width-input" [floatLabel]="floatLabelType">
                    <input formControlName="otherAdj" [type]="modelControl.fcfe.options.otherAdj.type" matInput  [placeholder]="modelControl.fcfe.options.otherAdj.placeholder">
                </mat-form-field>
            </div>
        </div>
       </div>
    </div>
    <!--Modify parameter set in ends  -->
    
    <div style="text-align: center;padding-bottom: 1%;padding-top: 1%;">
        <button (click)="previous()" mat-raised-button style="box-shadow: 1px 2px 15px #d1d1d1;color:#bb0d0d;font-weight: bold !important;margin-right: 1%;">
            Back
            <mat-icon style="font-weight: bold;color: #d42121;">arrow_left</mat-icon>
        </button>
        <button *ngIf="updateExcel" (click)="saveAndNext()" style="box-shadow: 1px 2px 15px #d1d1d1;color:#228822;margin-right: 1%"  mat-raised-button>
       Update Excel
            <mat-icon style="font-weight: bold;color: green;">send</mat-icon>
    </button>
        <button *ngIf="!updateExcel" (click)="saveAndNext()" style="box-shadow: 1px 2px 15px #d1d1d1;color:#228822;margin-right: 1%"  mat-raised-button>
       Next
            <mat-icon style="font-weight: bold;color: green;">send</mat-icon>
    </button>
   
</div>
<div class="loader-overlay" *ngIf="isLoadingProfitLoss || isLoadingBalanceSheet ">
    <div class="loader">
      <div class="loader-spinner"></div>
      <div class="loader-message">Please wait...</div>
    </div>
  </div>
</div>