<div *ngIf="step === 4" [formGroup]="reviewForm">
    <h4 class="card-header">Financial Data Segment</h4>
    <div class="outer-wrapper">
    <div>
        <div class="mat-tab-g">
            <mat-tab-group mat-stretch-tabs="false" class="tab-group" mat-align-tabs="start" style="background-color: #ffffff;border-radius: 20px;" (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Profit & Loss" *ngIf="!hasSingleModel('ruleElevenUa') && !hasSingleModel('slumpSale') ">
                    <ng-template matTabContent>
                        <app-profit-loss-data *ngIf="selectedTab === 'Profit & Loss'" [transferStepperTwo]="transferStepperTwo" (profitLossData)="profitLossData($event)" [currentStepIndex]="step" [fourthStageInput]="fourthStageInput"></app-profit-loss-data>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Balance Sheet" *ngIf="!hasSingleModel('ruleElevenUa') && !hasSingleModel('slumpSale')">
                    <ng-template matTabContent>
                        <app-balance-sheet-details *ngIf="selectedTab === 'Balance Sheet'" [transferStepperTwo]="transferStepperTwo" (balanceSheetData)="balanceSheetData($event)" [fourthStageInput]="fourthStageInput"></app-balance-sheet-details>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Assessment of Working Capital" *ngIf="hasSingleModel('FCFE') || hasSingleModel('FCFF') || hasSingleModel('Excess_Earnings') " (selectedTabChange)="onTabChange($event)">
                    <ng-template matTabContent>
                        <app-assessment-details *ngIf="selectedTab === 'Assessment of Working Capital'" [transferStepperTwo]="transferStepperTwo" (assessmentSheetData)="assessmentSheetData($event)" [fourthStageInput]="fourthStageInput"></app-assessment-details>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Cash Flow" *ngIf="hasSingleModel('FCFE') || hasSingleModel('FCFF') || hasSingleModel('Excess_Earnings') " (selectedTabChange)="onTabChange($event)">
                    <ng-template matTabContent>
                        <app-cash-flow-details *ngIf="selectedTab === 'Cash Flow'" [transferStepperTwo]="transferStepperTwo" (cashFlowData)="cashFlowData($event)" [fourthStageInput]="fourthStageInput"></app-cash-flow-details>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Rule 11 UA" *ngIf="hasSingleModel('ruleElevenUa')">
                    <ng-template matTabContent>
                        <app-eleven-ua-details *ngIf="selectedTab === 'Rule 11 UA'" [transferStepperTwo]="transferStepperTwo" (ruleElevenSheetData)="ruleElevenSheetData($event)" [fourthStageInput]="fourthStageInput"></app-eleven-ua-details>
                    </ng-template>
                </mat-tab>
                <mat-tab label="Slump Sale" *ngIf="hasSingleModel('slumpSale')">
                    <ng-template matTabContent>
                        <app-slump-sale-details *ngIf="selectedTab === 'Slump Sale'" [transferStepperTwo]="transferStepperTwo" (slumpSaleSheetData)="slumpSaleSheetData($event)" [fourthStageInput]="fourthStageInput"></app-slump-sale-details>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
            
            
            <p class="currency-unit" *ngIf="fourthStageInput?.formOneData ? fourthStageInput?.formOneData?.excelSheetId : transferStepperTwo?.excelSheetId">Amount in 
                <!-- {{fourthStageInput?.formOneData ? fourthStageInput?.formOneData?.currencyUnit : transferStepperTwo.currencyUnit}} -->
                INR
                {{reportingUnit === 'absolute' ? '' : (reportingUnit)}}</p>
        </div>
        <div *ngIf="fourthStageInput?.formOneData ? !fourthStageInput?.formOneData?.excelSheetId :  !transferStepperTwo?.excelSheetId" style="margin-top: auto;margin-bottom: auto;">
            <p style="padding: 2% !important;
            color: #c91919;
            font-size: 19px;font-family: 'AR One Sans', sans-serif;">No Records Found</p>
        </div>
    </div>  

    <!-- relative valuations table section starts,whenever want to use just uncomment this-->
    <!-- <div class="outer-wrapper" *ngIf="isRelativeValuation('Relative_Valuation')" style="padding-top: 2%;">
        <h4 class="card-header">Relative Valuations</h4>
       <div *ngIf="(transferStepperTwo?.companies || transferStepperTwo?.industries) || (transferStepperTwo?.preferenceRatioSelect === '' || !transferStepperTwo?.preferenceRatioSelect)">
        <app-relative-valuations-table [tableData]="tableData"></app-relative-valuations-table>
       </div>
    </div> -->
    <!-- relative valuations table section ends -->

     <!-- Modify paramter set in starts -->
     <!-- <div class="outer-wrapper" style="padding-top: 2%;" *ngIf="isRelativeValuation('FCFE') || isFcff('FCFF')"> -->
        <!-- <h4 class="card-header">Other adjustments</h4> -->
       <!-- <div class="container-fluid" *ngIf="transferStepperTwo">
        <div class="row">
            <div class="col-md-4 outer-main-div" *ngIf="transferStepperTwo?.beta">
                <mat-card class="main-block" >
                    <div class="row">
                        <div class="col-md-2 outer-div-mat-icon-bar">
                            <mat-icon class="mat-icon-left-bar">list_alt</mat-icon>
                        </div>
                        <div class="col-md-10 inner-col-data">
                            <mat-card-subtitle>
                            <mat-icon class="mat-check-circle">check_circle</mat-icon>
                            <span>Industrial Beta</span></mat-card-subtitle>
                           <p class="betaType"><span style="color: gray;font-size: 25px;">--</span> Levered  <span style="color:#00caff;">{{betaValue}}%</span></p>                
                            <mat-card-actions>
                            <button mat-button> <mat-icon>first_page</mat-icon>Edit</button>
                            </mat-card-actions>
                        </div>
                    </div>
                  </mat-card>
            </div>
            <div class="col-md-4 outer-main-div" *ngIf="transferStepperTwo?.costOfDebt">
                <mat-card class="main-block">
                    <div class="row">
                        <div class="col-md-2 outer-div-mat-icon-bar">
                            <mat-icon class="mat-icon-left-bar">developer_board</mat-icon>
                        </div>
                        <div class="col-md-10 inner-col-data">
                            <mat-card-subtitle>
                            <mat-icon class="mat-check-circle">check_circle</mat-icon>
                            <span>Cost of Debt</span></mat-card-subtitle>
                            <p class="debtType"><span style="color: gray;font-size: 25px;">--</span> {{debtValue}}%</p>
                            
                            <mat-card-actions>
                            <button mat-button> <mat-icon>first_page</mat-icon>Edit</button>
                            </mat-card-actions>
                        </div>
                    </div>
                  </mat-card>
            </div>
            <div class="col-md-4 outer-main-div" *ngIf="transferStepperTwo?.taxRate">
                <mat-card class="main-block">
                    <div class="row">
                        <div class="col-md-2 outer-div-mat-icon-bar">
                            <mat-icon class="mat-icon-left-bar">nfc</mat-icon>
                        </div>
                        <div class="col-md-10 inner-col-data">
                            <mat-card-subtitle>
                            <mat-icon class="mat-check-circle">check_circle</mat-icon>
                            <span>Taxation Rate</span></mat-card-subtitle>
                            <p class="taxType"><span style="color: gray;font-size: 25px;">--</span> {{taxRateValue}}% </p>
                            <mat-card-actions>
                                <button mat-button> <mat-icon>first_page</mat-icon>Edit</button>
                            </mat-card-actions>
                        </div>
                    </div>
                  </mat-card>
            </div>
        </div>
       </div> -->
       <!-- other adjustments -->
       <div class="container-fluid" style="padding-top: 2%;">
        <div class="row">
            <div class="col-md-6 field col-xl-6" *ngIf="isRelativeValuation('FCFE') || isRelativeValuation('FCFF')">
                <div class="material-textfield">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <input [type]="modelControl.fcfe.options.otherAdj.type" matInput formControlName="otherAdj" class="company-list-inp" placeholder="Enter other adjustments">
                          <span class="company-list-rmve" *ngIf="reviewForm.controls['otherAdj']?.value">
                            <mat-icon class="company-list-rmve-icon" (click)="clearInput('otherAdj')">close</mat-icon>
                          </span>
                        <mat-label>
                          Add other adjustments*
                        </mat-label>
                        <mat-error class="company-list-error" *ngIf="reviewForm.controls['otherAdj'].touched && reviewForm.controls['otherAdj'].errors">
                          <span *ngIf="hasError('otherAdj','required',reviewForm)" class="error-text" style="padding-left: 0%;">Please enter other adjustments</span>
                      </mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-xl-6 col-md-6 field" *ngIf="hasSingleModel('ruleElevenUa')">
                <div class="material-textfield">
                    <mat-form-field appearance="fill" class="company-l" style="width: 100%;">
                        <mat-label>Basis of Financials*</mat-label>
                        <span class="company-list-rmve" *ngIf="reviewForm.controls['financialBasis']?.value" style="right:6%;">
                        <mat-icon class="company-list-rmve-icon" (click)="clearInput('financialBasis')">close</mat-icon>
                        </span>
                        <mat-select formControlName="financialBasis" class="new-inp company-list-inp financialBasis">
                        <mat-option *ngFor="let doc of modelControl.fcfe.options.financialBasis.options" class="auto-class" [value]="doc.value">
                            {{ doc.name }}
                        </mat-option>
                        </mat-select>
                        <mat-error class="company-list-error" *ngIf="reviewForm.controls['financialBasis'].touched && reviewForm.controls['financialBasis'].errors">
                            <span *ngIf="hasError('financialBasis','required',reviewForm)" class="error-text" style="padding-left: 0%;">Please select financial basis</span>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>
       <!-- </div> -->
    </div>
    <!--Modify parameter set in ends  -->

<div class="col-md-12 btn-prop">
    <button (click)="previous()" mat-raised-button class="button-back-mat">
      <span class="button-back"><mat-icon>send</mat-icon></span>
        Back
        <!-- <mat-icon>arrow_left</mat-icon> -->

    </button>

<button (click)="saveAndNext()" class="button-save-mat" mat-raised-button>
    Next
    <span class="button-save"><mat-icon>send</mat-icon></span>
 </button>
</div>
</div>
</div>