@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap');

mat-card-subtitle{
    padding-left: 6%;
    padding-top: 1%;
}
.inner-col-data{
    padding: 2%;
}

.outer-wrapper{
  box-shadow: 1px 2px 10px #cecece;
  // border-bottom-right-radius: 20px;
  // border-bottom-left-radius: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.mat-card-sub{
    color: #d8c7c7;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
  }
  .mat-head,.mat-head-debt,.mat-head-tax{
    font-size: 17px;
    font-weight: 500;
    color: #00caff;
  }
  .mat-head{
    padding-top: 8%;
  }
  .mat-head-debt{
    color:#e03636 !important;
    padding-top: 8%;
  }
  .mat-head-tax{
    color:#00ff71 !important;
    padding-top: 8%;
  }
  .card-header{
    color: #4b6df3;
    font-size: 17px;
    font-weight: 500  ;
    font-family: 'AR One Sans', sans-serif;
    padding-left: 0px;
    border-bottom: 0px;
  }
  .main-block:hover{
    background-color: #f7f7f7;
  }
  .main-block{
    box-shadow: 2px 2px 10px #cfd1cf;
  }
  .mat-icon-left-bar{
    font-size: 12vh;
    width: 100%;
    height: 100%;
  }
  .outer-div-mat-icon-bar{
    border-right: 1px solid #f1f1f1;
    padding-left: 4%;
    padding-top: 3%;
    color: #e9e9e9;
  }

mat-progress-spinner {
    box-shadow: 0 0 0 10px #eeeeee inset;
    border-radius: 50%;
    color: #00ff71 !important;
  }
  .percen-pass{
    color: green;
    
  }
  .percen-ok{
    color: rgb(240, 117, 15);
  }
  .percen-warn{
    color: rgb(255, 5, 5);
  }
  .outer-main-div{
    padding: 0.5%;
  }
  .percentage-class{
      position: absolute;
      top: 35%;
      left: 68%;
      font-size: 20px;
  }
  mat-card-actions{
    float: right;
  }

  .mat-check-circle{
    font-size: 14px;
    color:#54e054;
    position: absolute;
    left: 2%;
    top: 12%;
  }
  .inner-div-mat-spinner{
    margin-top: auto;
    margin-bottom: auto;
  }
  .betaType{
    // color: #00caff;;
    color: #797f80;
    font-size: 20px;
    font-weight: 500;
    padding-left: 6%;
    padding-top: 2%;
    margin-bottom: 0px;
  }
  .debtType{
    color: #e03636;
    font-size: 20px;
    font-weight: 500;
    padding-left: 6%;
    padding-top: 2%;
    margin-bottom: 0px;
  }
  .taxType{
    color: #00ff71;
    font-size: 20px;
    font-weight: 500;
    padding-left: 6%;
    padding-top: 2%;
    margin-bottom: 0px;
  }

  // loader css starts
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .loader-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  .loader-message {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  // loader css ends

  .full-width-input {
    width: 100%; /* Set the width to 100% to occupy the full width of the container */
  }



  ::ng-deep .tab-group .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels .mdc-tab-indicator--active .mdc-tab-indicator  .mdc-tab-indicator__content--underline{
    border: 2px solid #0cd18f;
  }
  ::ng-deep .tab-group .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels .mdc-tab-indicator--active .mdc-tab__content  .mdc-tab__text-label{
    // color: #23c496 !important;
    color: #27a682 !important;
    font-weight: 500;
  }
  ::ng-deep .tab-group .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels .mat-mdc-focus-indicator .mdc-tab__content  .mdc-tab__text-label{
    color: #2c2c2c;
    font-family: 'AR One Sans', sans-serif !important;
  }
  ::ng-deep .tab-group .mat-mdc-tab-header .mat-mdc-tab-label-container .mat-mdc-tab-list .mat-mdc-tab-labels .mat-mdc-focus-indicator{
    padding-left: 3%;
    padding-right: 3%;
  }

  .mat-tab-g{
    position: relative;
  }

  .currency-unit{
    font-size: 13px;
    font-weight: 500;
    color: #108274;
    position: absolute;
    top:1%;
    right: 2%;
    font-family: 'AR One Sans', sans-serif;
  }

  // floating input +label scss starts
  .material-textfield {
    position: relative;
  }
  
  label {
    position: absolute;
    font-size: 1rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    color: gray;
    padding: 0 0.3rem;
    margin: 0 0.5rem;
    transition: 0.1s ease-out;
    transform-origin: left top;
    pointer-events: none;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 500;
  }
  
  .new-inp {
    font-size: 1rem;
    outline: none;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    color: #6d6d6d;
    transition: 0.1s ease-out;
    font-family: 'AR One Sans', sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    padding-left: 2%;
    box-shadow: 1px 2px 10px #f0ebeb;
    height: 50px;
  }
  
  .new-inp:focus {
    border-color: #6200ee;
  }
  
  .new-inp:focus+label {
    color: #6200ee;
    top: 3%;
    transform: translateY(-50%) scale(0.8) !important;
  }
  
  .new-inp:not(:placeholder-shown)+label {
    top: 3%;
    transform: translateY(-50%) scale(0.8) !important;
  }
  
  .new-inp:not(:focus)::placeholder {
    opacity: 0;
  }
  // floating input +label scss ends
  

  .button-save-mat{
    box-shadow: 1px 2px 15px #d1d1d1;
    color:#ffffff !important;
    background-color: #0cd18f !important;
    border-radius: 8px;
    position: relative;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 500;
    width: 10%;
  }
  .button-back-mat{
    box-shadow: 1px 2px 15px #d1d1d1;
    margin-right: 1%;
    color:#ffffff !important;
    background-color: #fe6060 !important;
    // background-color: #0cd18f !important;
    border-radius: 8px;
    position: relative;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 500;
    width: 10%;
    padding-left: 4%;
  }
  .button-save{
    position: absolute;
      left: 112%;
      transform: scale(0.7);
      top: -8%;
      mat-icon{
        font-weight: bold;
        color: #ffffff;
      }
  }
  
  .button-back{
    position: absolute;
      right: 112%;
      transform: scale(0.7);
      top: -8%;
      mat-icon{
        font-weight: bold;
        color: #ffffff;
        transform: rotate(180deg);
      }
  }
  .prev-button{
    box-shadow: 1px 2px 15px #d1d1d1;
    color:#ffffff !important;
    font-weight: bold !important;
    margin-right: 1%;
    background-color: #fe6060 !important;
    border-radius: 8px;
    mat-icon{
      font-weight: bold;
      color: #ffffff !important;
    }
  }
  .btn-prop{
    text-align: right;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-right: 2%;
  }

  .error-text{
    padding-left: 3%;
    color: red;
    font-size: 10px;
    font-family: 'AR One Sans';
  }