  .card-header{
    font-weight: 500;
    color:#656765;
    font-size: 17px;
    border-top: 1px solid #e3e3f7;
    font-size: 17px;
  }

  .gray-slider-track {
    background-color: gray; /* Color of the track */
  }
  
  .gray-slider-thumb {
    background-color: gray; /* Color of the thumb */
  }
  ::ng-deep .mat-slider-track-fill, ::ng-deep .mat-slider-thumb {
    background-color: gray !important;
  }
  ::ng-deep .mat-accent mat-slider-visual-thumb .mdc-slider__thumb-knob {
    border-color: #3e77a1 !important;
  }

  ::ng-deep .mat-accent .mdc-slider__track .mdc-slider__track--inactive::before{
    background-color: rgb(96, 210, 210) !important;

  }
  ::ng-deep .mat-accent .mdc-slider__track .mdc-slider__track--active .mdc-slider__track--active_fill{
    border-color: #3e77a1 !important;
  }
  
  // table css
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #007bff;
    color: #fff;
  }
  
  thead th {
    padding: 10px;
    text-align: left;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }

  
  .bottom-head{
    font-weight: 700 !important;
    font-size: 14px;
    color: #b95252;
  }
  .bottom-val{
    color: #54545c;
    font-weight: 600;
    font-size: 13px;
  }