.full-width-input{
    width:100%
}
.head-modal{
    margin: 0px;
    font-size: 23px;
    font-weight: 500;
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 4%;
    font-family: system-ui;
    color:#9d9d9d
}
.expmarketret{
    margin: 0px;
    font-size: 23px;
    font-weight: 500;
    padding-top: 4%;
    padding-left: 4%;
    padding-bottom: 1%;
    font-family: system-ui;
    color:#9d9d9d
}
.close-modal{
    float: right;
    padding-right: 6%;
    padding-top: 1%;
    color:#807a7b;
    cursor: pointer;
}  
.modal-button-enable{
    box-shadow: 1px 2px 15px #d1d1d1;
    color:#228822;
}
.modal-button-disable{
    color: #a8bca8;
    background-color: #e6e6e6;
}
.valuer-button-disable{
    box-shadow: 1px 2px 15px #d1d1d1;
    color:#ffffff !important;
    background-color: #0cd18f !important;
    border-radius: 8px;
    position: relative;
    font-family: 'AR One Sans', sans-serif;
    font-weight: 500;
    width: 10%;
    opacity: .5;
}
.modal-subtitle{
    text-align: left;
    padding-left: 6%;
    font-size: 14px;
    font-family: revert;
    font-weight: 500;
    color: #3253d8;
    padding-bottom: 1%;
    font-family: 'AR One Sans', sans-serif;
    background-image: linear-gradient(to right, #3253d8, #162d8b ,#26b645 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: wave 120s linear infinite;
}


// new css
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.full-width-input {
    width: 100%; /* Set the width to 100% to occupy the full width of the container */
  }
  .col-md-6 mat-form-field{
    width: 100% !important;
  }

  .label{
    border-radius: 5px;
    font-family: 'AR One Sans', sans-serif;
    font-size: 19px;
    color: #666666;
    padding-left: 2%;
    cursor: pointer;
    transition:color .3s;
  }
  
  ::ng-deep .mat-relative-val input
  {
    color: #004e67 !important;
    font-family: 'AR One Sans';
  }
  mat-label{
    color:#38a3b8;
    font-size: 14px;
  }
  .field{
    padding-left: 2.5%;
    padding-top: 0.5%;
    padding-right: 2.5%;
  }

  .card-header{
    color: #4b6df3;
    font-size: 17px;
    font-weight: 500  ;
    font-family: 'AR One Sans', sans-serif;
    padding-left: 0px;
  }

  .card-title{
    font-size: 1.25rem;
    color: #004e67 !important;
    font-family: 'AR One Sans';
    font-weight: 500;
  }
  .card-text{
    font-size: 1.1rem;
    color: #1c6e8f !important;
    font-family: 'AR One Sans';
    font-weight: 500;
  }

// keep this css
.close-modal-valuer{
  float: right;
  padding-right: 4%;
  padding-top: 0%;
  color: #807a7b;
  cursor: pointer;
}
.revalmodel{
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    padding-top: 2%;
    padding-left: 2.8%;
    // border-bottom: 1px solid #bbcc
  }
  .label:hover{
    color: #26879d;
  }

  .mat-bullet{
    position: absolute;
    left: 2%;
    top: 34%;
    mat-icon{
        transform: scale(.5);
        color: #26879d;
    }
  }
  .mat-target-capital-structure{
    position: absolute;
    left: 2%;
    top: 43%;
    mat-icon{
        transform: scale(.5);
        color: #26879d;
    }
  }
  .total-caps{
    font-size: 15px;
    color: #3253d8;
    font-weight: 500;
    font-family: 'Teko', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .error-target-caps{
    float: right;
    color: #ff0a0a;
    padding-top: 1%;
    padding-right: 8%;
  }
  .total-caps-red{
    font-size: 19px;
    color: #e42727;
    font-weight: 500;
    font-family: 'Teko', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .mat-specific-risk-premium{
    position: absolute;
    left: 2%;
    top: 23%;
    mat-icon{
        transform: scale(.5);
        color: #26879d;
    }
  }

  mat-hint{
    font-family: 'Poppins', sans-serif;
    color: #219476;
    font-size: 10px;
    font-weight: 500;
  }

  ::ng-deep .mat-select-value .mat-mdc-select-trigger .mat-mdc-select-value .mat-mdc-select-value-text{    
    padding: 0px !important;
    color: #004e67 !important;
      font-family: 'AR One Sans';
  }
  ::ng-deep .mat-relative-val .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .mat-relative-val{
    height: 95%;
  }

//risk premium card css
.card-container {
  margin-left: auto;
  margin-right: auto;
}

.card-est {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s,box-shadow 0.2s, background-color 0.2s;
  cursor: pointer;
}

.card-est:hover {
  // transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.6);
  background-color: #f1f1f1;
}

.card-header-rp {
  font-size: 19px;
  font-weight: 500;
  // font-family: 'Ubuntu', sans-serif;
  font-family: 'AR One Sans';
  border-top: 1px solid #e3e3f7;
  color: #0075a3;
  display: table-cell;
}

.card-subtext {
  color: #0075a3;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 18px;
  padding-top: 4%;
  // font-family: 'Teko', sans-serif;
  font-family: 'AR One Sans';
  font-weight: 500;
}

.rp-p{
  color: #089e94;
  font-family: 'Oxygen', sans-serif;
  font-size: 20px;
  border-top: 1px solid #e3e3f7;
  font-weight: 500;
  padding-top: 2%;
  padding-left: 1%;
}

.webviewer{
  width: 100%;
  height: 100vh;
}

.mat-bullet-report{
  position: absolute;
  left: 2%;
  top: 34%;
  mat-icon{
    transform: scale(.5);
    color: #26879d;
}
}

input.form-check-input[type="radio"] {
  background-color: red !important;
  border: 1px solid #2980b9;
  border-radius: 50%;
}
.form-check{
  padding-left: 1.25rem;
  display: flex;
}
.n-models-fcfe{
  text-align: left;
}
.n-models-fcff{
  text-align: left;
}
.n-models-excessEarn{
  text-align: left;
}
.n-models-nav{
  text-align: left;
}
.n-models-ccm{
  text-align: left;
}
.n-models-ctm{
  text-align: left;
}
.n-models-market-price{
  text-align: left;
}

.form-check-label{
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}

.hp-text-fcfe{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}
.hp-text-fcff{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}
.hp-text-excessEarn{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}
.hp-text-nav,.hp-text-r11a{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}
.hp-text-ccm{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}
.hp-text-ctm{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}
.hp-text-market-price{
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: #979797;
  font-family: 'AR One Sans', sans-serif;
}

.excess-earn-hover:hover{
  .n-models-excessEarn label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-excessEarn input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}
.excess-earn-hover{
  margin-bottom: 6px;
  margin-top: 6px;
}
.fcfe-hover:hover{
  .n-models-fcfe label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-fcfe input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}
.fcfe-hover{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 6px;
}
.fcff-hover:hover{
  .n-models-fcff label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-fcff input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}
.fcff-hover{
  margin-top: 6px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 6px;
}
.nav-hover:hover{
  .n-models-nav label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-nav input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}
.ccm-hover:hover{
  .n-models-ccm label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-ccm input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}
.ccm-hover{
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 6px;
}
.ctm-hover:hover{
  .n-models-ctm label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-ctm input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}
.ctm-hover{
  margin-top: 6px;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 6px;
}
.market-price-hover:hover{
  .n-models-market-price label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-market-price input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}
.n-models-r11ua{
  padding-top: 2.5%;
}
.r11ua-hover:hover{
  .n-models-r11ua label{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .n-models-r11ua input{
    color: #27d69b;
    transition: ease-out 0.3s;
    cursor: pointer;
  }
  .tool-class svg {
    cursor: pointer !important;
    .path-svg{
      stroke:#27d69b !important;
      stroke-width:45px !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    .model-polyline{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
    line{
      stroke:#27d69b !important;
      transition: ease-out 0.3s !important;
      cursor: pointer !important;
    }
  }
}

.incomeApproach,.navApproach,.marketApproach,.ruleElevenUaApproach{
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  box-shadow: 1px 2px 10px #cccccc;
  padding: 4%;
  padding-top: 2.5%;
  padding-bottom: 0%;
  position: relative;
}
.navApproach,.marketApproach,.ruleElevenUaApproach{
  margin-top: 4%;
}
.navApproach,.marketApproach,.ruleElevenUaApproach{
  padding-bottom: 1%;
}
.ruleElevenUaApproach{
  padding-top: 1%;
}
.pos-absolute{
  position: absolute;
  top: -5.6%;
  background: white;
  font-size: 17px;
  font-family: 'AR One Sans', sans-serif;
  color: #666666;
}
.pos-absolute3{
  position: absolute;
  top: -9.6%;
  background: white;
  font-size: 17px;
  font-family: 'AR One Sans', sans-serif;
  color: #666666;
}
.pos-absolute2{
  position: absolute;
  top: -6.6%;
  background: white;
  font-size: 17px;
  font-family: 'AR One Sans', sans-serif;
  color: #666666;
}
.pos-absolute-nav{
  position: absolute;
  top: -25%;
  background: white;
  font-size: 17px;
  font-family: 'AR One Sans', sans-serif;
  color: #666666;
}
.pos-absolute-r11ua{
  position: absolute;
  top: -19%;
  background: white;
  font-size: 17px;
  font-family: 'AR One Sans', sans-serif;
  color: #666666;
}
.pos-absolute-startUpValuation{
  position: absolute;
  top: -7%;
  background: white;
  font-size: 17px;
  font-family: 'AR One Sans', sans-serif;
  color: #666666;
}
.pos-absolute-marketApproach{
  position: absolute;
  top: -9%;
  background: white;
  font-size: 17px;
  font-family: 'AR One Sans', sans-serif;
  color: #666666;
}

.projectionSelect{
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  box-shadow: 1px 2px 10px #e4e4e4;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1%;
}

.download-temp{
  padding-right: 3%;
  font-family: 'AR One Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.download-temp:hover{
  color: rgb(221, 26, 26);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.upload-bt{
  background-color: #2aa1bf;
  color:#ffffff;
  position: relative;
  border-radius: 10px;
  padding-left: 6%;
  padding-right: 4%;
  border: 1px solid #2aa1bf;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  font-family: 'AR One Sans', sans-serif;
}
.submit-bt{
  background-color: #0CD18F;
  color:#ffffff;
  border-radius: 10px;
  padding-left: 6%;
  padding-right: 4%;
  border: 1px solid #2aa1bf;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'AR One Sans', sans-serif;
  width: 7rem;
}
.submit-bt-disable{
  background-color: #0CD18F;
  color:#ffffff;
  opacity: 0.5;
  border-radius: 10px;
  padding-left: 6%;
  padding-right: 4%;
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: 'AR One Sans', sans-serif;cursor: not-allowed !important;
}

.pos-upload-absolute{
  position: absolute;
  left: 5%;
  mat-icon{
    transform: scale(0.8);
  }
}

.file-name{
  color: #004e67;
  font-family: 'AR One Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  padding-left: 2%;
  cursor: pointer;
}


// floating label input starts
.material-textfield {
  position: relative;
}

.going-concern-label {
  position: absolute;
  font-size: 1rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: gray;
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
  font-family: 'AR One Sans', sans-serif;
  font-weight: 500;
}

.new-inp {
  font-size: 1rem;
  outline: none;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  color: #6d6d6d;
  transition: 0.1s ease-out;
  font-family: 'AR One Sans', sans-serif;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  padding-left: 2%;
  box-shadow: 1px 2px 10px #f0ebeb;
  height: 50px;
}

.new-inp:focus {
  border-color: #6200ee;
}

.new-inp:focus+.going-concern-label {
  color: #6200ee;
  top: 3%;
  transform: translateY(-50%) scale(0.8) !important;
}

.new-inp:not(:placeholder-shown)+.going-concern-label {
  top: 3%;
  transform: translateY(-50%) scale(0.8) !important;
}

.new-inp:not(:focus)::placeholder {
  opacity: 0;
}
// floating label input ends


::ng-deep .progress-1 mat-slider-visual-thumb .mdc-slider__thumb-knob {
  border-color: #ead383 !important;
}

::ng-deep .progress-1 .mdc-slider__track .mdc-slider__track--active .mdc-slider__track--active_fill{
  border-color: #ead383 !important;
}

::ng-deep .progress-2 mat-slider-visual-thumb .mdc-slider__thumb-knob {
  border-color: #ff8833 !important;
}

::ng-deep .progress-2 .mdc-slider__track .mdc-slider__track--active .mdc-slider__track--active_fill{
  border-color: #ff8833 !important;
}
::ng-deep .progress-3 mat-slider-visual-thumb .mdc-slider__thumb-knob {
  border-color: #0cd18f !important;
}

::ng-deep .progress-3 .mdc-slider__track .mdc-slider__track--active .mdc-slider__track--active_fill{
  border-color: #0cd18f !important;
}

.valuer-details{
  padding-top: 4%;
}

.button-save-mat{
  box-shadow: 1px 2px 15px #d1d1d1;
  color:#ffffff !important;
  background-color: #0cd18f !important;
  border-radius: 8px;
  position: relative;
  font-family: 'AR One Sans', sans-serif;
  font-weight: 500;
  width: 10%;
}
.button-save{
  position: absolute;
    left: 112%;
    transform: scale(0.6);
    top: -8%;
    mat-icon{
      font-weight: bold;
      color: #ffffff;
    }
}
.prev-button{
  box-shadow: 1px 2px 15px #d1d1d1;
  color:#ffffff !important;
  font-weight: bold !important;
  margin-right: 1%;
  background-color: #fe6060 !important;
  border-radius: 8px;
  mat-icon{
    font-weight: bold;
    color: #ffffff !important;
  }
}
.btn-prop{
  text-align: right;
  padding-bottom: 1%;
  padding-top: 1%;
  padding-right: 2%;
}

.update-doc-bt{
  box-shadow: 1px 2px 15px #d1d1d1;
  color:#ffffff !important;
  background-color: #0cd18f ;
  border-radius: 8px;
  position: absolute;
  font-family: 'AR One Sans', sans-serif;
  font-weight: 500;
  width: 10%;
  padding-right: 1%;
  transition:  -webkit-box-reflect 0.4s;
  left: 84%;
  z-index: 1;
  top: 1.5%;
  font-size: 11px;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  padding-left: 2%;
  padding-right: 0%;
}

.update-doc-bt:hover{
  background: #4b6df3;
  color: #ffffff;
  box-shadow: 2px 0 8px #bababa;
  // -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
  transition: 0.4s;
}

::ng-deep ejs-documenteditorcontainer .e-de-ctn .e-de-ctnr-toolbar .e-de-tlbr-wrapper .e-de-toolbar .e-toolbar-items .e-de-toolbar-btn-start {
  display: none !important;
}
::ng-deep ejs-documenteditorcontainer .e-de-ctn .e-de-ctnr-toolbar .e-de-tlbr-wrapper .e-de-toolbar .e-toolbar-items .e-de-toolbar-btn-last {
  display: none !important;
}

.close-modal-update{
  position: absolute;
  right: 2%;
  top: 4%;
  mat-icon{
    transform: scale(.9);
    color: #ff032d !important;
    cursor: pointer;
  }
}

.error-text{
  padding-left: 3%;
  color: red;
  font-size: 10px;
  font-family: 'AR One Sans';
}

.qualitative-factors-tick{
  position: absolute;
  left: 4%;
  top: 57%;
  mat-icon{
    transform: scale(0.6);
    color: #0cd18f;
  }
}

@keyframes wave {
  to {
    background-position: 4500vh;
}
}

.update-doc-icon{
  position: absolute;
  left: 24%;
  top: 2%;
  mat-icon{
    transform: scale(0.7);
  }
}

#profile-log-switch{
  font-family: 'AR One Sans', sans-serif;
}

.rm-pad{
  margin-bottom: 6px;
  padding-top: 1%;
  padding-left: 3%;
}

.going-concern-added{
  padding-bottom: 2%;
}
.going-concern-not-added{
  padding-bottom: 0%;
}

::ng-deep .model-tooltip .mdc-tooltip__surface {
    max-width: 500px !important;
    font-size: 14px !important;
    outline: none;
    border: 1px solid #b4b4b4 !important;
    border-radius: 8px !important;
    color:#004e67 !important;
    transition: 0.1s ease-out !important;
    font-family: 'AR One Sans', sans-serif !important;
    line-height: 165% !important;
    padding:2% !important;
    box-shadow: 1px 2px 10px #eeeeee !important;
    background-color:#eeeeee !important;
    text-align:justify !important;
}

thead.sticky-header {
  position: sticky;
  top: 0;
  background-color: #f9f9f9;
  z-index: 1;
}


.t-header{
  font-size: 12px !important;
  padding: 0px !important;
  background-color: #e7faf4 !important;
  color: #0f8a76 !important;
  th{
    font-weight: 500 !important;
    text-align: left !important;
    padding-left: 2% !important;
  }
}
.content{
  height: 28px;
  .make-bold{
    color: #666666 !important;
  font-size: 13px !important;
  font-weight: 600;
  font-family: 'AR One Sans', sans-serif !important;
  padding-left: 2% !important;
  text-align: left ;
  }

  .make-light{
    color: #666666 !important;
  font-size: 13px !important;
  font-weight: 500;
  font-family: 'AR One Sans', sans-serif !important;
  text-align: left;
  padding-left: 2% !important;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr {
  background-color: #f2f2f2;
  font-weight: bold;
}

th {
  padding: 2px;
  text-align: left;
}

td {
  padding: 2px;
  text-align: left;
  border: 1px solid #e3e8e3;
}
tr:nth-child(even) {
  background-color: #f5f5f5;
}

tr:hover td {
  background-color: #f5f5f5;
  .line-item-even:hover{
    background-color: #f5f5f5 !important;
  }
}
tr:hover {
  background-color: #f5f5f5;
  .line-item-even{
    background-color: #f5f5f5 !important;
  }
}

.enhance-beta-label{
  text-align: center !important;
  border-bottom: 1px solid #bbccbb;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.beta-table{
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  color: #6d6d6d;
  transition: 0.3s ease-out;
  font-family: 'AR One Sans', sans-serif;
  box-shadow: 1px 2px 10px #f0ebeb;
}
.beta-table-container {
  overflow-y: auto;
  max-height: 500px;
}

.beta-metric {
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
  padding: 4px;
  box-shadow: 0px -4px 10px rgba(116, 116, 116, 0.1);
}

.beta-scollable {
  overflow-y: auto;
  max-height: calc(100vh - 50px);
}
.terminal-working-header{
  color: #666666 !important;
  font-size: 13px !important;
  font-weight: 500;
  font-family: 'AR One Sans', sans-serif !important;
  margin-bottom: 0px;
}
.terminal-value-bullet{
  font-size: 23px;
  vertical-align: middle;
  padding-right: 3px;
  color: #24b888;
}

.table-borderless td{
  padding: 0.75rem;
  background-color: #ffffff;
}
.table-borderless td:hover{
  background-color:white;
}

.company-list-inp{
  font-size: 1rem !important;
  outline: none;
  border: 1px solid #e4e4e4 !important;
  border-radius: 10px;
  color: #6d6d6d !important;
  transition: 0.1s ease-out !important;
  font-family: 'AR One Sans', sans-serif !important;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  padding-left: 2%;
  box-shadow: 1px 2px 10px #f0ebeb !important;
  height: 50px !important;
  position: relative;
}

::ng-deep .issuanceCheckbox .mdc-form-field .mdc-checkbox .mdc-checkbox__background{
  background-color: #089e94 !important;
  border-color: #29ff45 !important;
}
::ng-deep .issuanceCheckbox .mdc-form-field .mdc-checkbox .mdc-checkbox__background .mdc-checkbox__checkmark{
  color: #fff !important;
}
::ng-deep .issuanceCheckbox  .mdc-checkbox:hover .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background{
  background-color: #0dce6e;
  border-color: #18c0a7;
}

::ng-deep .issuanceCheckbox .mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background{
  border-color: #6d6d6d !important;
  background-color: transparent !important;
}

::ng-deep .act .mdc-icon-button__ripple::before,::ng-deep .act .mat-mdc-button-ripple {
  display: none !important;
}

.action-button{
  font-family: 'AR One Sans', sans-serif !important;
    font-size: 12px !important;
    outline: none;
    border: 1px solid #e4e4e4 !important;
    border-radius: 5px;
    color: #6d6d6d !important;
    transition: 0.1s ease-out !important;
    font-family: 'AR One Sans', sans-serif !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    width: 100%;
    box-shadow: 1px 2px 10px #eeeeee !important;
    height: 30px !important;
    min-height: 39px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.dcf-loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(125 125 125 / 50%);
  z-index: 9998;
}

.dcf-loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.dcf-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dcf-spinner {
  border: 4px solid rgb(255 255 255 / 68%);
  border-top: 4px solid #28bc7f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}

.sa-radio-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sa-radio-group span {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #666666;
  font-size: 13px;
  font-family: 'AR One Sans', sans-serif;
}

.sa-radio-group input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid #999;
  outline: none;
  margin-right: 4px;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

.sa-radio-group input[type="radio"]:checked {
  border-color: #4caf50;
}

.sa-radio-group input[type="radio"]:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #4caf50;
  margin: -1px;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

.sa-radio-group input[type="radio"]:checked:after {
  transform: scale(0.9);
}


.model-selection-loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(125 125 125 / 50%);
  z-index: 9998;
}

.model-selection-loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.model-selection-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.model-selection-spinner {
  border: 4px solid rgb(255 255 255 / 68%);
  border-top: 4px solid #28bc7f;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}
