
<div>
  <!-- Taxation Rate -->
  <div *ngIf="data === appValues.Normal_Tax_Rate.value || data === appValues.MAT_Rate.value">
    <span><mat-icon class="close-modal" (click)="modalData()">close</mat-icon></span>
    <h1 class="head-modal">{{label}}</h1>
    <div class="container">
      <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
        <input [type]="'text'" #taxRate matInput  [placeholder]="'Enter Rate'">
      </mat-form-field>
    </div>
    <div mat-dialog-actions style="float: right;"> 
      <button mat-raised-button [disabled]="!taxRate.value" [ngClass]="!taxRate.value ? 'modal-button-disable' : 'modal-button-enable'" (click)="modalData({taxRate:taxRate.value},'taxRate')"><mat-icon>keyboard_arrow_right</mat-icon>Save</button>
    </div>
  </div>

  <!-- analyst consensus Estimates -->
  <div *ngIf="data === appValues.ANALYST_CONSENSUS_ESTIMATES.value">
    <span><mat-icon class="close-modal" (click)="modalData()">close</mat-icon></span>
    <h1 class="head-modal">{{label}}</h1>
    <div class="container">
      <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
        <input [type]="'text'" #analystConsensusEstimates matInput  [placeholder]="'Enter Rate'">
      </mat-form-field>
    </div>
    <div mat-dialog-actions style="float: right;"> 
      <button mat-raised-button [disabled]="!analystConsensusEstimates.value" [ngClass]="!analystConsensusEstimates.value ? 'modal-button-disable' : 'modal-button-enable'" (click)="modalData({analystConsensusEstimates:analystConsensusEstimates.value},'analystConsensusEstimates')"><mat-icon>keyboard_arrow_right</mat-icon>Save</button>
    </div>
  </div>

  <!-- Projection Year and Terminal Growth Rate when going concern radio button is toggled -->
  <div *ngIf="data === appValues.GOING_CONCERN.value">
    <span><mat-icon class="close-modal" (click)="modalData()">close</mat-icon></span>
    <h1 class="head-modal">{{label}}</h1>
    <div class="container">
            <div class="row">
            <div class="col-md-12">
              <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                <input [type]="'text'" #projectionYear matInput  [placeholder]="'Enter Projection Years'">
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <mat-form-field class="full-width-input" [floatLabel]="floatLabelType" >
                <mat-select #terminalGrowthRate [placeholder]="modelControl.modelValuation.options.terminalGrowthRate.placeholder">
                <mat-option *ngFor="let doc of modelControl.modelValuation.options.terminalGrowthRate.options"  [value]="doc.value">{{doc.value}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            </div>
    </div>
    <div mat-dialog-actions style="float: right;">
      <button mat-raised-button [disabled]="!projectionYear.value || !terminalGrowthRate.value" [ngClass]="!projectionYear.value || !terminalGrowthRate.value ? 'modal-button-disable' : 'modal-button-enable'" (click)="modalData({projectionYear:projectionYear.value,terminalGrowthRate:terminalGrowthRate.value},'projection&terminal')"><mat-icon>keyboard_arrow_right</mat-icon>Save</button>
    </div>
  </div>

  <!-- Specific Risk Premium Details -->
  <div class="container-fluid" *ngIf="data === appValues.SPECIFIC_RISK_PREMIUM.value">
    <div class="row">
      <div class="col-md-12 revalmodel">
        <mat-label class="label" >{{label}}</mat-label>
        <span class="mat-specific-risk-premium"><mat-icon>fiber_manual_record</mat-icon></span>
        <span><mat-icon class="close-modal-valuer" (click)="modalData()">close</mat-icon></span>
        <h4 class="modal-subtitle"><span>-</span>Qualitative Factors</h4>
      </div>
      <div class="col-md-6" style="padding-top: 3%;">
        <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType" >
          <mat-label>Company Size</mat-label>
          <input [type]="'text'" #companySize matInput>
        </mat-form-field>
      </div>
     <div class="col-md-6" style="padding-top: 3%;">
      <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType" >
        <mat-label>Market Positioning</mat-label>
        <input [type]="'text'" #marketPosition matInput>
      </mat-form-field>
    </div>
     <div class="col-md-6">
      <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType" >
        <mat-label>Liquidity Factor</mat-label>
        <input [type]="'text'" #liquidityFactor matInput>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType" >
        <mat-label>Competition</mat-label>
        <input [type]="'text'" #competition matInput>
      </mat-form-field>
    </div>
   </div>
    <div mat-dialog-actions style="display: flex;align-items: center;justify-content: center;">
      <button mat-raised-button [disabled]="!companySize.value || !marketPosition.value || !liquidityFactor.value || !competition.value" [ngClass]="!companySize.value || !marketPosition.value || !liquidityFactor.value || !competition.value ? 'modal-button-disable' : 'modal-button-enable'" (click)="modalData({companySize:companySize.value,marketPosition:marketPosition.value,liquidityFactor:liquidityFactor.value,competition:competition.value},'specificRiskPremium')"><mat-icon>keyboard_arrow_right</mat-icon>Save</button>
    </div>
  </div>

  <!-- Registered Valuer Details -->
  <div class="container-fluid" *ngIf="data === appValues.REGISTERED_VALUER_DETAILS.value">
    <div class="row" >
      <div class="col-md-12 revalmodel">
        <mat-label class="label" >Register Valuer</mat-label>
        <span class="mat-bullet"><mat-icon>fiber_manual_record</mat-icon></span>
        <span><mat-icon class="close-modal-valuer" (click)="modalData()">close</mat-icon></span>
      </div>
      <!-- discount rate -->
      <div class="col-md-6 field" style="padding-top: 3%;">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.REGISTERED_VALUER_DETAILS.data.registeredValuerName}}</mat-label>
              <input #registeredValuerName matInput>
          </mat-form-field>
      </div>
      <div class="col-md-6 field" style="padding-top: 3%;">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.REGISTERED_VALUER_DETAILS.data.registeredValuerMobileNumber}}</mat-label>
              <input #registeredValuerMobileNumber matInput>
          </mat-form-field>
      </div>
      <div class="col-md-6 field">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.REGISTERED_VALUER_DETAILS.data.registeredValuerEmailId}}</mat-label>
              <input #registeredValuerEmailId matInput>
          </mat-form-field>
      </div>
      <div class="col-md-6 field">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.REGISTERED_VALUER_DETAILS.data.registeredValuerIbbiId}}</mat-label>
              <input #registeredValuerIbbiId matInput>
          </mat-form-field>
      </div>
      <div class="col-md-6 field">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.REGISTERED_VALUER_DETAILS.data.registeredValuerGeneralAddress}}</mat-label>
              <input #registeredValuerGeneralAddress matInput>
          </mat-form-field>
      </div>
      <div class="col-md-6 field">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.REGISTERED_VALUER_DETAILS.data.registeredValuerQualifications}}</mat-label>
              <input #registeredValuerQualifications matInput>
          </mat-form-field>
      </div>

  </div>
  <div mat-dialog-actions style="display: flex;align-items: center;justify-content: center;">
    <button mat-raised-button [disabled]="!registeredValuerMobileNumber.value || !registeredValuerEmailId.value || !registeredValuerName.value || !registeredValuerIbbiId.value || !registeredValuerGeneralAddress.value || !registeredValuerQualifications.value" [ngClass]="!registeredValuerMobileNumber.value || !registeredValuerEmailId.value || !registeredValuerName.value || !registeredValuerIbbiId.value || !registeredValuerGeneralAddress.value || !registeredValuerQualifications.value ? 'modal-button-disable' : 'modal-button-enable'" (click)="modalData({registeredValuerName:registeredValuerName.value,registeredValuerMobileNumber:registeredValuerMobileNumber.value,registeredValuerEmailId:registeredValuerEmailId.value,registeredValuerGeneralAddress:registeredValuerGeneralAddress.value,registeredValuerQualifications:registeredValuerQualifications.value,registeredValuerIbbiId:registeredValuerIbbiId.value},'registeredValuer')"><mat-icon>keyboard_arrow_right</mat-icon>Register</button>
  </div>
  </div>

  <!-- Target Capital Structure Details -->
  <div class="container-fluid" *ngIf="data === appValues.TARGET_CAPITAL_STRUCTURE.value">
    <div class="row" >
      <div class="col-md-12 revalmodel">
        <mat-label class="label" >{{label}}</mat-label>
        <span class="mat-target-capital-structure"><mat-icon>fiber_manual_record</mat-icon></span>
        <span><mat-icon class="close-modal-valuer" (click)="modalData()">close</mat-icon></span>
        <span class="error-target-caps" *ngIf="summationTargetCaps>100">Target Capital structure should not exceed 100%</span>
      </div>
      <!-- discount rate -->
      <div class="col-md-4 field" style="padding-top: 3%;">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.TARGET_CAPITAL_STRUCTURE.options.debtProp.name}}</mat-label>
              <input #debtProp matInput (keyup)="onTargetCapitalChange('debtProp',debtProp.value)">
          </mat-form-field>
      </div>
      <div class="col-md-4 field" style="padding-top: 3%;">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.TARGET_CAPITAL_STRUCTURE.options.equityProp.name}}</mat-label>
              <input #equityProp matInput (keyup)="onTargetCapitalChange('equityProp',equityProp.value)">
          </mat-form-field>
      </div>
      <div class="col-md-4 field" style="padding-top: 3%;">
          <mat-form-field class="full-width-input mat-relative-val" [floatLabel]="floatLabelType">
              <mat-label>{{appValues.TARGET_CAPITAL_STRUCTURE.options.prefProp.name}}</mat-label>
              <input #prefProp matInput (keyup)="onTargetCapitalChange('prefProp',prefProp.value)">
          </mat-form-field>
      </div>

  </div>
  <div mat-dialog-actions>
    <p [ngClass]="summationTargetCaps > 100 ? 'total-caps-red' : 'total-caps'">Total Target Capital Structure - {{summationTargetCaps}}%</p>
    <button style="text-align: center;margin:auto;" mat-raised-button [disabled]="!debtProp.value || !equityProp.value || !prefProp.value || summationTargetCaps > 100" [ngClass]="!debtProp.value || !equityProp.value || !prefProp.value || summationTargetCaps > 100 ? 'modal-button-disable' : 'modal-button-enable'" (click)="modalData({debtProportion:debtProp.value,equityProportion:equityProp.value,preferenceProportion:prefProp.value},'targetCapitalStructure')"><mat-icon>keyboard_arrow_right</mat-icon>Register</button>
  </div>
  </div>

  <div [innerHTML]="htmlContent" contenteditable="true" class="container webviewer" *ngIf="data?.value === appValues.PREVIEW_DOC.value">
  </div>