<!-- main-sidebar -->
<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
<div class="sticky">
  <aside class="app-sidebar sidebar-scroll">
    <div class="main-sidebar-header active">
      <a class="desktop-logo logo-light active" href="index.html"
        ><img
          src="../assets/images/brand/logo.png"
          class="main-logo"
          alt="logo"
      /></a>
      <!-- <a class="desktop-logo logo-dark active" href="index.html"
        ><img
          src="../assets/images/brand/logo1.png"
          class="main-logo"
          alt="logo"
      /></a> -->
      <!-- <a class="logo-icon mobile-logo icon-light active" href="index.html"
        ><img src="../assets/images/brand/icon.png" alt="logo"
      /></a>
      <a class="logo-icon mobile-logo icon-dark active" href="index.html"
        ><img src="../assets/images/brand/icon1.png" alt="logo"
      /></a> -->
    </div>
    <div class="main-sidemenu">
      <div class="slide-left disabled" id="slide-left">
        <i class="bx bx-chevron-left"></i>
      </div>
      <ul class="side-menu">
        <li class="side-item side-item-category">Components</li>
        <li class="slide">
          <a
            class="side-menu__item without-sub"
            data-bs-toggle="slide"
            routerLink="/dashboard"
          >
            <i class="side-menu__icon bx bx-grid-alt"></i>
            <span class="side-menu__label">valution</span>
          </a>
          <a
            class="side-menu__item without-sub"
            data-bs-toggle="slide"
            routerLink="/dashboard/activity"
          >
            <i class="side-menu__icon bx bx-grid-alt"></i>
            <span class="side-menu__label">Activity</span>
          </a>
        </li>
      </ul>

      <div class="slide-right" id="slide-right">
        <i class="bx bx-chevron-right"></i>
      </div>
    </div>
  </aside>
</div>
<!-- main-sidebar -->
