
<!-- <div class="app-sidebar__overlay" data-bs-toggle="sidebar" (click)="sidebarClose()"></div>
<div class="sticky">
  <aside class="app-sidebar sidebar-scroll">
    <div class="main-sidebar-header active">
      <a class="desktop-logo logo-light active" 
        ><img
          src="assets\images\brand\infin logo.jpg"
          class="main-logo"
          alt="logo"
      /></a>

      <a class="logo-icon mobile-logo icon-light active"
        ><img src="../../../../assets/images/brand/icccon.ico" alt="logo"
      /></a>
    </div>
    <div class="main-sidemenu">
      <ul class="side-menu">
       
        <li class="slide">
          <a
            *ngFor="let item of menues"
            class="side-menu__item without-sub"
            data-bs-toggle="slide"
            [routerLink]="item.link"
          >
            <i class="side-menu__icon bx bx-grid-alt"><i [class]="item.icon"></i></i>
          
            <span class="side-menu__label">{{ item.title }}</span>
          </a>
        </li>
      </ul>
    </div>
    
  </aside>
</div> -->




<!-- new navbar -->

<div class="app-sidebar__overlay" data-bs-toggle="sidebar" (click)="sidebarClose()"></div>
<div class="sticky">
  <aside class="app-sidebar sidebar-scroll new-aside">
    <div class="main-sidemenu" style="margin-top:40px">
      <ul class="side-menu">
        <li class="slide">
         <div  class="new-menu" [class.selected]="selectedMenuItem === '/dashboard/panel'" (click)="selectMenuItem('/dashboard/panel')">
          <p class="icon-c">
            <i class="side-menu__icon bx bx-grid-alt">
              <i>
                <mat-icon style="transform: scale(1.2);padding-top: 8%;">view_module</mat-icon>
              </i>
            </i>
          </p>
          <p class="label-c">
            <a>
              Dashboard
            </a>
            </p>
         </div>
         <div  class="new-menu" [class.selected]="selectedMenuItem === '/dashboard/valuation'" (click)="selectMenuItem('/dashboard/valuation')">
          <p class="icon-c">
            <i class="side-menu__icon bx bx-grid-alt">
              <i class="fa fa-usd mx-2">

              </i>
            </i>
          </p>
          <p class="label-c">
            <a>
              Valuation
            </a>
            </p>
         </div>
         <div  class="new-menu" [class.selected]="selectedMenuItem === '/dashboard/activity'" (click)="selectMenuItem('/dashboard/activity')">
           <p class="icon-c"><i class="side-menu__icon bx bx-grid-alt" ><i class="fa fa-clock-o mx-2"></i></i></p>
           <p class="label-c">
            <a>
              Activity
            </a>
            </p>
         </div>
        </li>
      </ul>
    </div>
    
  </aside>
</div>
