::ng-deep mat-row mat-cell,mat-header-cell,mat-table{
    border:  0.5px solid #d1d0d0 !important;
}
mat-header-cell{
    font-size: 13px;
    font-weight: 600;
    font-family: system-ui;
    display: flex;
    justify-content: center;
    padding: 0px !important;
}
::ng-deep mat-row mat-cell{
    display: flex;
    justify-content: center;
    padding: 0px !important;
    font-size: 12px !important;
    text-align: center !important;
}