<div class="scroll-container" style="position: relative;">
  <div class="excel-loader-overlay" *ngIf="plLoader">
    <div class="excel-loader-container">
      <div class="excel-loader">
        <div class="excel-spinner"></div>
      </div>
    </div>
  </div>
    <mat-table [dataSource]="profitAndLossDataSource" [ngClass]="contentIsBig(profitAndLossDataSource) ? 'increase-table-width mat-p scroll-content' : 'mat-p scroll-content'" *ngIf="excelSheetId && (!isRelativeValuation('Relative_Valuation') && !isRelativeValuation('CTM') && !isRelativeValuation('NAV'))">
      <ng-container *ngFor="let column of displayColumns;let columnIndex = index" [matColumnDef]="column">
        <mat-header-cell *matHeaderCellDef [ngClass]="column === 'Particulars' ? 'inc-width mat-pl-part' : column === 'Sr no.'? 'mat-column-serialNo' : ''">{{ column }}</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="columnIndex === 0 ? 'serialNo' : checkHeader(element,columnIndex) ? 'highlight-header' :  checkSubHeader(element,columnIndex) ? 'label-highlight' : checkType(element[column]) && !isNumberOrEmpty(element[column]) ? 'label-c' : '' ">
          <ng-container *ngIf="checkType(element[column]) && (columnIndex === 0 || columnIndex === 1)">
            <span>{{ element[column] }}</span>
          </ng-container>
          <ng-container *ngIf="ifOnlyNumber(element) && columnIndex !== 0 && columnIndex !== 1 && !checkIfEditable(element)">
            <span class="num-width-adj" style="font-size: 13px;font-weight: 500;color: #666666;">{{ formatNegativeAndPositiveValues(element[column])  }}</span>
          </ng-container>
            <input class="new-inp" style="text-align: center;color: #666666 !important;font-weight: 500;" (blur)="onInputChange($event.target, column,element)" placeholder="-" type="text" [value]="formatNegativeAndPositiveValues(element[column])" *ngIf="checkIfEditable(element) && columnIndex !== 0 && columnIndex !== 1"/>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
    </mat-table>
  </div>
  
<mat-table [dataSource]="profitAndLossDataSource" class="mat-p" *ngIf="excelSheetId && (isRelativeValuation('Relative_Valuation') || isRelativeValuation('CTM') || isRelativeValuation('NAV'))">
  <ng-container *ngFor="let column of displayColumns;let columnIndex = index" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef [ngClass]="column === 'Particulars' ? 'inc-width' : column === 'Sr no.'? 'mat-column-serialNo' : ''">{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="columnIndex === 0 ? 'serialNo' : checkHeader(element,columnIndex) ? 'highlight-header' :  checkSubHeader(element,columnIndex) ? 'label-highlight' : checkType(element[column]) && !isNumberOrEmpty(element[column]) ? 'label-c' : '' ">
      <ng-container *ngIf="checkType(element[column]) && (columnIndex === 0 || columnIndex === 1)">
        <span>{{ element[column] }}</span>
      </ng-container>
      <ng-container *ngIf="ifOnlyNumber(element) && columnIndex !== 0 && columnIndex !== 1 && !checkIfEditable(element)">
        <span style="font-size: 13px;font-weight: 500;color: #666666;" class="num-width-adj">{{ formatNegativeAndPositiveValues(element[column])}}</span>
      </ng-container>
        <input class="new-inp new-inp-auto" style="text-align: center;color: #666666 !important;font-weight: 500;" (blur)="onInputChange($event.target, column,element)" placeholder="-" type="text" [value]="formatNegativeAndPositiveValues(element[column])" *ngIf="checkIfEditable(element) && columnIndex !== 0 && columnIndex != 1"/>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
</mat-table>

<div class="loader-overlay" *ngIf="loadExcelTable">
  <mat-progress-spinner diameter="50" class="PandL-spinner"  mode="indeterminate"></mat-progress-spinner>
</div>

<div class="error-container" *ngIf="excelErrorMsg">
  <p class="error-message">Oops! No records found.</p>
  <p class="try-again">Please try following instruction, if issue persist contact administrator.</p>
  <ul class="instruction-list">
    <li>Try traversing between different tabs (Go back and forth between different forms)</li>
    <li>Check the uploaded Profit and Loss Excel, ensure the date format is correct</li>
    <li>Try re-uploading your excel once again.</li>
  </ul>
</div>
