<!-- <mat-table [dataSource]="data" *ngIf="transferStepperTwo?.excelSheetId && !isRelativeValuation('Relative_Valuation')">
  <ng-container >
    <ng-container matColumnDef="{{ column }}" *ngFor="let column of displayedColumns">
      <mat-header-cell *matHeaderCellDef>{{ column }}</mat-header-cell>
      <mat-cell  *matCellDef="let element" [ngClass]="checkType(element[column]) ? 'label-c' : ''">{{ element[column] ? element[column] : '---' }}</mat-cell>
    </ng-container>
  
    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </ng-container>
</mat-table> -->
<!-- <mat-table [dataSource]="data" *ngIf="transferStepperTwo?.excelSheetId && (!isRelativeValuation('Relative_Valuation') && !isRelativeValuation('CTM') && !isRelativeValuation('NAV'))">
  <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef [ngClass]="column === 'Particulars' ? 'inc-width' : ''">{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="{'label-c': checkType(element[column]) && !isNumberOrEmpty(element[column])}">
      <ng-container *ngIf="checkType(element[column])">
        <span >{{ element[column] ? element[column] : '---' }}</span>
      </ng-container>
      <mat-form-field [appearance]="appearance" style="margin-bottom: -15%;" *ngIf="isNumberOrEmpty(element[column])" [floatLabel]="floatLabelType">
        <input class="input-pl" style="text-align: center" [value]="element[column] ? convertIntoNumber(element[column]) : null "  matInput placeholder="---" (input)="onInputChange($event.target, column,element[column])">
      </mat-form-field>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> -->

<mat-table [dataSource]="balanceSheetDataSource" [ngClass]="contentIsBig(balanceSheetDataSource) ? 'increase-table-width mat-p scroll-content' : 'mat-p scroll-content'" *ngIf="excelSheetId && (!isRelativeValuation('Relative_Valuation') && !isRelativeValuation('CTM') && !isRelativeValuation('NAV'))">
  <ng-container *ngFor="let column of displayColumns;let columnIndex = index" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef [ngClass]="column === 'Particulars' ? 'inc-width' : ''">{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="checkHeader(element,columnIndex) ? 'highlight-header' :  checkSubHeader(element,columnIndex) ? 'label-highlight' : checkType(element[column]) && !isNumberOrEmpty(element[column]) ? 'label-c' : '' ">
      <ng-container *ngIf="checkType(element[column]) && columnIndex === 0">
        <span>{{ element[column] }}</span>
      </ng-container>
      <ng-container *ngIf="ifOnlyNumber(element) && columnIndex !== 0 && !checkIfEditable(element)">
        <span style="font-size: 13px;font-weight: 500;color: #666666;">{{ formatNegativeAndPositiveValues(element[column])}}</span>
      </ng-container>
        <input class="new-inp" style="text-align: center;color: #666666 !important;font-weight: 500;" (blur)="onInputChange($event.target, column,element)" placeholder="-" type="text" [value]="formatNegativeAndPositiveValues(element[column])" *ngIf="checkIfEditable(element) && columnIndex !== 0"/>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
</mat-table>


<mat-table [dataSource]="balanceSheetDataSource" class="mat-p" *ngIf="excelSheetId && (isRelativeValuation('Relative_Valuation') || isRelativeValuation('CTM') || isRelativeValuation('NAV'))">
  <ng-container *ngFor="let column of displayColumns;let columnIndex = index" [matColumnDef]="column">
    <mat-header-cell *matHeaderCellDef [ngClass]="column === 'Particulars' ? 'inc-width' : ''">{{ column }}</mat-header-cell>
    <mat-cell *matCellDef="let element" [ngClass]="checkHeader(element,columnIndex) ? 'highlight-header' :  checkSubHeader(element,columnIndex) ? 'label-highlight' : checkType(element[column]) && !isNumberOrEmpty(element[column]) ? 'label-c' : '' ">
      <ng-container *ngIf="checkType(element[column]) && columnIndex === 0">
        <span>{{ element[column] }}</span>
      </ng-container>
      <ng-container *ngIf="ifOnlyNumber(element) && columnIndex !== 0 && !checkIfEditable(element)">
        <span style="font-size: 13px;font-weight: 500;color: #666666;">{{ formatNegativeAndPositiveValues(element[column])}}</span>
      </ng-container>
        <input class="new-inp new-inp-auto" style="text-align: center;color: #666666 !important;font-weight: 500;" (blur)="onInputChange($event.target, column,element)" placeholder="-" type="text" [value]="formatNegativeAndPositiveValues(element[column])" *ngIf="checkIfEditable(element) && columnIndex !== 0"/>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
</mat-table>

<div class="loader-overlay" *ngIf="loadExcelTable">
  <mat-progress-spinner diameter="50" class="bs-spinner"  mode="indeterminate"></mat-progress-spinner>
</div>

<div class="error-container" *ngIf="excelErrorMsg">
  <p class="error-message">Oops! No records found.</p>
  <p class="try-again">Please try following instruction, if issue persist contact administrator.</p>
  <ul class="instruction-list">
    <li>Try traversing between different tabs (Go back and forth between different forms)</li>
    <li>Check the uploaded Balance sheet Excel, ensure the date format is correct</li>
    <li>Try re-uploading your excel once again.</li>
  </ul>
</div>