<div class="outer-section" *ngIf="step === 2">
    <div class="outer-wrapper" *ngIf="modelControl.inputScreen.type === 'inputScreen'">
    <div class='c-decorated-header'>
      <h3><span style="padding-left: 2%;">Input Screening</span></h3>
      <div class='c-decorated-header_link-view-more'>
      </div>
    </div>
    <form [formGroup]="inputScreenForm" class="inputscrn">
      <div class="beta-container" *ngIf="isOnlyDcfApproach()">
        <span class="text">Select beta from:</span>
        <div class="radio-group">
          <span>
            <input type="radio" formControlName="betaFrom" value="capitalIqBeta" (click)="betaSelection($event)">
            Capital IQ(S&P) 
            <span class="tool-class" style="vertical-align: sub;padding-left: 4px;">
              <svg [matTooltip]="helperText.capitalIqBetaDesc" matTooltipPosition="above" matTooltipClass='model-tooltip' xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:37px" 
                fill="#ff0000"></path>
                <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px">
              </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
            </span>
          </span>
          <span class="next-beta-radio">
            <input type="radio" formControlName="betaFrom" value="aswathDamodaran" (click)="betaSelection($event)">
            Aswath Damodaran
            <span class="tool-class" style="vertical-align: sub;padding-left: 4px;">
              <svg [matTooltip]="helperText.aswathDamodaranBetaDesc" matTooltipPosition="above" matTooltipClass='model-tooltip' xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:37px" 
                fill="#ff0000"></path>
                <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px">
                </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px">
              </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
            </span>
          </span>
        </div>
      </div>
      <ng-container *ngIf="showCapitalIqField">
        <!-- Great header starts -->
        <!-- <div class="capital-iq-header">
          <h1 class="header__text">
            <span class="header__text-inner">Capital Iq Beta Reference</span>
          </h1>
          <div class="header__underline"></div>
        </div> -->
        <!-- Great header ends -->
        
        <div class="row">
        <!-- industry Name level-3 -->
        <div class="col-md-6 field" style="padding-top: 0%;padding-left: 1.5%;">
          <div class="material-textfield">

            <div class="material-textfield">
              <mat-form-field appearance="fill" class="companyStatus" style="width: 100%;">
                <mat-label class="ind-4">{{modelControl.inputScreen.columns.industryL3.label}}</mat-label>
                <span class="company-list-rmve" *ngIf="inputScreenForm.controls['industryL3']?.value" style="right:5%;top: 44%;">
                  <mat-icon class="company-list-rmve-icon" (click)="clearInput('industryL3')">close</mat-icon>
                  </span>
                <mat-select formControlName="industryL3" class="new-inp company-stat">
                  <mat-option *ngFor="let doc of levelThreeIndustry" [value]="doc.GICSDescriptor" class="auto-class">
                    {{ doc.GICSDescriptor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span class="tool-class">
                <svg [matTooltip]="modelControl.inputScreen.columns.industryL3.tooltip" matTooltipPosition="above" style="color: 6200ee" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 256 256"><rect  fill="none"></rect>
                  <circle cx="128" cy="128" r="96" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle>
                  <polyline points="120 124 128 124 128 176 136 176" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polyline>
                  <circle cx="126" cy="84" r="16" fill="#6200ee"></circle></svg>
              </span>
          </div>
          </div>
        </div>

        <!-- Company type -->
        <!-- <div class="col-md-6 field" style="padding-top: 0%;">
          <div class="material-textfield">
            <mat-form-field appearance="fill" class="companyType" style="width: 100%;">
              <mat-label class="ind-4">{{modelControl.inputScreen.columns.companyType.label}}</mat-label>
              <mat-select [(ngModel)]="selectedCompanyType" [compareWith]="comparerCompany" (openedChange)="onDropdownFocus($event,'companyType')" (selectionChange)="onDropdownChange($event,'companyType')" formControlName="companyType" multiple class="new-inp company-type">
                <mat-option [disabled]="companyType.length" *ngFor="let company of companyType" [value]="company" class="auto-class">
                  {{ company.companytypename }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span class="company-type-info" [ngClass]="{'tool-class-company-type': companyTypeDropdownFocused || companyTypeDropdownValue}" style="left: 19.5%;"> 
              <svg [matTooltip]="modelControl.inputScreen.columns.companyType.tooltip" matTooltipPosition="above" style="color: 6200ee" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 256 256"><rect  fill="none"></rect>
                <circle cx="128" cy="128" r="96" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle>
                <polyline points="120 124 128 124 128 176 136 176" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polyline>
                <circle cx="126" cy="84" r="16" fill="#6200ee"></circle></svg>
            </span>
          </div>
        </div> -->

        <!-- Company name -->
        <div class="col-md-6 field" style="padding-top: 0%;">
          <div class="material-textfield">
            <mat-form-field appearance="fill" class="ind4" style="width: 100%;">
                <input type="text" matInput formControlName="companyName" class="autocomplete-inp" (focus)="companyInputFocused()" (blur)="companyInputBlurred()" (keyup)="filterByCompanyName($event)" [matAutocomplete]="autoCompanyList" placeholder="Enter company name">
                <span class="tool-class-business-desc" *ngIf="companyInput || inputScreenForm.controls['companyName']?.value">
                  <svg matTooltipClass='form-one-tooltip' [matTooltip]="helperText.companyName" matTooltipPosition="right" xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 512 512">
                    <path d="M248,64C146.39,64,64,146.39,64,248s82.39,184,184,184,184-82.39,184-184S349.61,64,248,64Z" class="path-svg" style="fill:none;stroke:#3355dd;stroke-miterlimit:10;stroke-width:32px;" 
                    fill="#ff0000"></path>
                    <polyline points="220 220 252 220 252 336" class="model-polyline" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px;">
                    </polyline><line x1="208" y1="340" x2="296" y2="340" style="fill:none;stroke:#3355dd;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px;">
                  </line><path d="M248,130a26,26,0,1,0,26,26A26,26,0,0,0,248,130Z" fill="#ff0000"></path></svg>
                </span>
                  <span class="company-list-rmve" *ngIf="inputScreenForm.controls['companyName']?.value" style="right:5%;">
                    <mat-icon class="company-list-rmve-icon" (click)="clearInput('companyName')">close</mat-icon>
                  </span>
                <mat-label class="ind-4">
                  Company Name
                </mat-label>
                <mat-autocomplete #autoCompanyList="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onCompanySelection($event)" class="mat-auto">
                  <mat-option *ngFor="let option of companyList" [value]="option.COMPANYNAME" style="text-transform: capitalize;font-size: 13px !important;" class="input-scrn">
                    {{ option.COMPANYNAME }}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
        </div>

        <!-- Company Status -->
        <div class="col-md-6 field" style="padding-top: 0%;padding-left: 1.5%;">
          <div class="material-textfield">
              <mat-form-field appearance="fill" class="companyStatus" style="width: 100%;">
                <mat-label class="ind-4">{{modelControl.inputScreen.columns.companyStatus.label}}</mat-label>
                <span class="company-list-rmve" *ngIf="inputScreenForm.controls['companyStatus']?.value.length" style="right:5%;top: 44%;">
                  <mat-icon class="company-list-rmve-icon" (click)="clearInput('companyStatus')">close</mat-icon>
                </span>
                <mat-select [(ngModel)]="selectedCompanyStatusType" [compareWith]="comparerStatusCompany" (openedChange)="onDropdownFocus($event,'companyStatus')" (selectionChange)="onDropdownChange($event,'companyStatus')" formControlName="companyStatus" multiple class="new-inp company-stat">
                  <mat-option *ngFor="let companyStatus of companyStatusType" [value]="companyStatus" class="auto-class">
                    {{ companyStatus.companystatustypename }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span class="company-status-info" [ngClass]="{'tool-class-company-stat': companyStatusDropdownFocused || companyStatusDropdownValue}" style="left: 21%;"> 
                <svg [matTooltip]="modelControl.inputScreen.columns.companyStatus.tooltip" matTooltipPosition="above" style="color: 6200ee" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 256 256"><rect  fill="none"></rect>
                  <circle cx="128" cy="128" r="96" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle>
                  <polyline points="120 124 128 124 128 176 136 176" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polyline>
                  <circle cx="126" cy="84" r="16" fill="#6200ee"></circle></svg>
              </span>
          </div>
        </div>

         <!-- Business descriptor  -->
         <div class="col-md-6 field" style="padding-top: 0%;">
          <div class="material-textfield">
            <mat-form-field appearance="fill" class="ind4" style="width: 100%;">
                <input type="text" matInput formControlName="descriptor" class="autocomplete-inp" (keyup)="filterByBusinessDescriptor($event)" [matAutocomplete]="auto" placeholder="Enter description">
                <mat-label class="ind-4">{{modelControl.inputScreen.columns.descriptor.label}}</mat-label>
                <span class="company-list-rmve" *ngIf="inputScreenForm.controls['descriptor']?.value" style="right:5%;">
                  <mat-icon class="company-list-rmve-icon" (click)="clearInput('descriptor')">close</mat-icon>
                  </span>
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelection($event)" class="mat-auto">
                  <mat-option *ngFor="let option of options" [value]="option" style="text-transform: capitalize;font-size: 13px !important;" class="input-scrn">
                    {{ option }}
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <span class="tool-class-business-desc" *ngIf="inputScreenForm.controls['descriptor'].value">
              <svg [matTooltip]="modelControl.inputScreen.columns.descriptor.tooltip" matTooltipPosition="above" style="color: 6200ee" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 256 256"><rect  fill="none"></rect>
                <circle cx="128" cy="128" r="96" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle>
                <polyline points="120 124 128 124 128 176 136 176" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polyline>
                <circle cx="126" cy="84" r="16" fill="#6200ee"></circle></svg>
            </span>
          </div>
        </div>

        <!-- SANKET (19/01/2024): This is prospective advance feature -->
        <!-- industry Name Level-4 -->
        <!-- <div class="col-md-6 field" style="padding-top: 0%;padding-left: 1.5%;padding-right: 1%;">
          <div class="material-textfield">
            <mat-form-field appearance="fill" class="ind4">
              <mat-label class="ind-4">{{modelControl.inputScreen.columns.industryL4.label}}</mat-label>
              <mat-select [(ngModel)]="selectedLevelFourIndustry" [compareWith]="comparer" (openedChange)="onDropdownFocus($event,'industryFour')" (selectionChange)="onDropdownChange($event,'industryFour')" formControlName="industryL4" multiple class="new-inp">
                <mat-option *ngFor="let industry of levelFourIndustry" [value]="industry">
                  {{ industry.GICSDescriptor }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <span class="ind-four-info" [ngClass]="{'tool-class-business-ind-four': industryFourDropdownFocused || industryFourDropdownValue}"> 
              <svg [matTooltip]="modelControl.inputScreen.columns.industryL4.tooltip" matTooltipPosition="above" style="color: 6200ee" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 256 256"><rect  fill="none"></rect>
                <circle cx="128" cy="128" r="96" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle>
                <polyline points="120 124 128 124 128 176 136 176" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polyline>
                <circle cx="126" cy="84" r="16" fill="#6200ee"></circle></svg>
            </span>
          </div>
        </div> -->
      </div>
    </ng-container>
    <ng-container *ngIf="showAswathDamodaranField">
      <div class="row">

        <!--  Beta Industry -->
        <div class="col-md-6 field" style="padding-top: 0%;padding-left: 1.5%;">
          <div class="material-textfield">

            <div class="material-textfield">
              <mat-form-field appearance="fill" class="companyStatus" style="width: 100%;">
                <mat-label class="ind-4">{{modelControl.inputScreen.columns.industryAD.label}}</mat-label>
                <span class="company-list-rmve" *ngIf="inputScreenForm.controls['industryAD']?.value" style="right:5%;top: 44%;">
                  <mat-icon class="company-list-rmve-icon" (click)="clearInput('industryAD')">close</mat-icon>
                  </span>
                <mat-select formControlName="industryAD" class="new-inp company-stat" [placeholder]="modelControl.inputScreen.columns.industryAD.placeholder">
                  <mat-option *ngFor="let doc of aswathDamodaranIndustries" [value]="doc.industry" class="auto-class">
                    {{ doc.industry }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <span class="tool-class">
                <svg [matTooltip]="modelControl.inputScreen.columns.industryAD.tooltip" matTooltipPosition="above" style="color: 6200ee" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 256 256"><rect  fill="none"></rect>
                  <circle cx="128" cy="128" r="96" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></circle>
                  <polyline points="120 124 128 124 128 176 136 176" fill="none" stroke="#6200ee" stroke-linecap="round" stroke-linejoin="round" stroke-width="24"></polyline>
                  <circle cx="126" cy="84" r="16" fill="#6200ee"></circle></svg>
              </span>
          </div>
          </div>
        </div>
      </div>
    </ng-container>
    </form>  
    <ng-container *ngIf="showCapitalIqField"> 
    <div class="loader-overlay" *ngIf="loader">
      <mat-progress-spinner diameter="40" class="table-spinner"  mode="indeterminate"></mat-progress-spinner>
  </div>
  
    <div style="padding-left: 2%;padding-top: 1%;" *ngIf="!loader" [ngClass]="!ciqIndustryData?.length ? 'display-label-flex' : ''">
      <p class="total-rec" ><span *ngIf="ciqIndustryData?.length">Showing {{ciqIndustryData?.length}} out of {{total}} records</span></p>
      <p class="sidenote" *ngIf="valuationDateNote"><i>*as on {{valuationDateNote | date:'MMM d, yyyy'}}</i></p>
    </div>
    
    <div class="header-container" *ngIf="mainIndustries?.length && !loader" (click)="toggleCollapse()">
      <h2 class="sel-companies">
        <button class="collapse-button">
          <span *ngIf="collapsed">▶</span>
          <span *ngIf="!collapsed">▼</span>
        </button>
        Selected companies
      </h2>
    </div>
    <div class="table-wrapper" *ngIf="mainIndustries?.length && !loader" style="padding-bottom: 1%;">
      <table *ngIf="!collapsed" class="table-industry-based-company" style="width: 1380px;">
        <thead>
          <tr style="text-transform: capitalize;" class="header">
            <th style="width: 4%;border: 1px solid #eeeeee">
              <i class="fa fa-filter" style="font-size:17px;vertical-align: middle;padding-left: 35%;"></i>
            </th>
            <th style="border: 1px solid #eeeeee; height: 40px;" *ngFor="let columnName of ciqIndustryHead" class="make-bold"
            [ngStyle]=" (columnName === 'EBITDA Margin %') ? { 'width':'10%' } :
            (columnName === 'Market Cap') ? { 'width':'8%' } :
            (columnName === 'Sales') ? { 'width':'7%' } :
            (columnName === 'Company Id') ? { 'width':'7%' } :
            (columnName === 'City') ? { 'width':'7%' } :
            {'width':'auto'} "
            >
              {{ columnName }}
            </th>
          </tr>
        </thead>
        <tbody style="position: relative;">
          <div class="loader-overlay" *ngIf="loader">
          </div>
          <tr *ngFor="let row of mainIndustries; let i = index" class="content">
            <td class="make-light td-checkbox">
              <input type="checkbox" style="transform: scale(.96) !important;" [id]="'checkbox_' + i" [(ngModel)]="row.isSelected" (change)="onSelectedChange(row)"/>
            </td>
            <td class="make-light company-id">{{row.COMPANYID}}</td>
            <td class="make-light company-name" (click)="companyDetails(row)">{{row.COMPANYNAME}}</td>
            <td [ngClass]="formatNumber(row.EBITDAVALUE) ? 'make-light td-ebitda' : 'add-padding-left td-ebitda'">
              {{ formatNumber(row.EBITDAVALUE) ? formatNumber(row.EBITDAVALUE) : '-'}}
            </td>
            <td [ngClass]="formatNumber(row.SALESVALUE) ? 'make-light td-sales' : 'add-padding-left td-sales'">
              {{ formatNumber(row.SALESVALUE) ? formatNumber(row.SALESVALUE) : '-'}}
            </td>
            <td [ngClass]="formatNumber(row.MARKETCAP) ? 'make-light td-market-cap' : 'add-padding-left td-market-cap'">
              {{ formatNumber(row.MARKETCAP) ? formatNumber(row.MARKETCAP) : '-' }}
            </td>
            <!-- <td style="font-size: 14px; text-transform: capitalize; border: 1px solid #eeeeee" [ngClass]="formatNumber(row.SHARESOUTSTANDING) ? 'make-light' : 'add-padding-left'">
              {{ formatNumber(row.SHARESOUTSTANDING) ? formatNumber(row.SHARESOUTSTANDING) : '-' }}
            </td> -->
            
            <!-- <td class="make-light td-city" >{{row.CITY}}</td> -->
            <td class="make-light td-industry-description">{{row.SIMPLEINDUSTRYDESCRIPTION}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-wrapper">
    <table class="table-industry-based-company" *ngIf="!loader" style="width: 1380px;">
      <thead>
        <tr style="text-transform: capitalize;" class="header">
          <th style="width: 4%;border: 1px solid #eeeeee">
            <input type="checkbox" [(ngModel)]="selectAll" style="vertical-align: middle;" (change)="onSelectAllChange()"/>
            <i class="fa fa-filter" style="font-size:17px;vertical-align: middle;padding-left: 35%;"></i>
          </th>
          <th style="border: 1px solid #eeeeee; height: 40px;" *ngFor="let columnName of ciqIndustryHead" class="make-bold"
          [ngStyle]=" (columnName === 'EBITDA Margin %') ? { 'width':'10%' } :
          (columnName === 'Market Cap') ? { 'width':'8%' } :
          (columnName === 'Sales') ? { 'width':'7%' } :
          (columnName === 'Company Id') ? { 'width':'7%' } :
          (columnName === 'City') ? { 'width':'7%' } :
          {'width':'auto'} "
          >
            {{ columnName }}
          </th>
        </tr>
      </thead>
      <tbody style="position: relative;">
        <div class="loader-overlay" *ngIf="loader">
        </div>
        <tr *ngFor="let row of ciqIndustryData; let i = index" [ngClass]="row.isSelected ? 'content highlight-row' : 'content' ">
          <td class="make-light td-checkbox">
            <input type="checkbox" style="transform: scale(.96) !important;" [id]="'checkbox_' + i" [(ngModel)]="row.isSelected" (change)="onIndustryCheck($event, row)"/>
          </td>
          <td class="make-light company-id">{{row.COMPANYID}}</td>
          <td class="make-light company-name" (click)="companyDetails(row)">{{row.COMPANYNAME}}</td>
          <td [ngClass]="formatNumber(row.EBITDAVALUE) ? 'make-light td-ebitda' : 'add-padding-left td-ebitda'">
            {{ formatNumber(row.EBITDAVALUE) ? formatNumber(row.EBITDAVALUE) : '-'}}
          </td>
          <td [ngClass]="formatNumber(row.SALESVALUE) ? 'make-light td-sales' : 'add-padding-left td-sales'">
            {{ formatNumber(row.SALESVALUE) ? formatNumber(row.SALESVALUE) : '-'}}
          </td>
          <td [ngClass]="formatNumber(row.MARKETCAP) ? 'make-light td-market-cap' : 'add-padding-left td-market-cap'">
            {{ formatNumber(row.MARKETCAP) ? formatNumber(row.MARKETCAP) : '-' }}
          </td>
          <!-- <td style="font-size: 14px; text-transform: capitalize; border: 1px solid #eeeeee" [ngClass]="formatNumber(row.SHARESOUTSTANDING) ? 'make-light' : 'add-padding-left'">
            {{ formatNumber(row.SHARESOUTSTANDING) ? formatNumber(row.SHARESOUTSTANDING) : '-' }}
          </td> -->
          
          <!-- <td class="make-light td-city" >{{row.CITY}}</td> -->
          <td class="make-light td-industry-description">{{row.SIMPLEINDUSTRYDESCRIPTION}}</td>
        </tr>
        <tr *ngIf="!ciqIndustryData?.length">
          <td colspan="9">
            <p class="total-rec empty-ciqindustrydata" >No records were found, try changing screening parameters</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <div>
      <p class="total-count" *ngIf="ciqIndustryData?.length">{{mainIndustries?.length}} selected
        <a *ngIf="mainIndustries?.length && !isNotMarketApproach()" target="_blank" class="screening-beta-val"  (click)="loadBetaWorking()">
          View beta working
          <span>
            <mat-icon>settings</mat-icon>
          </span>
        </a>
      </p>
      <mat-paginator style="float: inline-end;" *ngIf="ciqIndustryData?.length" [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      aria-label="Select page"
      class="table-paginator"
      #paginatorRef>
    </mat-paginator>
    </div>
    </ng-container>

    <div class="col-md-12 btn-prop" *ngIf="!loader">
        <button (click)="previous()" mat-raised-button class="button-back-mat">
          <span class="button-back"><mat-icon>send</mat-icon></span>
            Back
        </button>

    <button (click)="saveAndNext()" class="button-save-mat" mat-raised-button>
        Next
        <span class="button-save"><mat-icon>send</mat-icon></span>
     </button>
</div>
</div>