  ::ng-deep .my-table-fcfe .mat-mdc-header-row .mat-mdc-header-cell{
    background-color: #79fce8 !important;
  } 
  ::ng-deep .my-table-fcff .mat-mdc-header-row .mat-mdc-header-cell{
    // background-color: #93ffa5 !important; another gradiant color
    background-color: #25fdff !important;
  } 
  ::ng-deep .my-table-relativeval .mat-mdc-header-row .mat-mdc-header-cell{
    // background-color: #eca4b3 !important; another gradiant color;
    background-color: #78caa6 !important;
  } 
  .company-head-fcfe {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #54a1b2;
    background-color: #ffffff;
    border-bottom: 2px solid #54a1b2;
    border-top: 1px solid rgb(218, 218, 218);
    text-align: center;
    text-transform: uppercase;
  }
  .company-head-fcff {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #54a1b2;
    background-color: #ffffff;
    border-bottom: 2px solid #54a1b2;
    border-top: 1px solid rgb(218, 218, 218);
    text-align: center;
    text-transform: uppercase;
  }
  .company-head-relativeval {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #54a1b2;
    background-color: #ffffff;
    border-bottom: 2px solid #54a1b2;
    border-top: 1px solid rgb(218, 218, 218);
    text-align: center;
    text-transform: uppercase;
  }
  .company-head:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }

  .industry-head {
    padding-bottom: 1%;
    font-size: 15px;
    font-weight: 500;
    color: #009688;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  
  .industry-head:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }
  .table-container {
    overflow-x: auto;
    max-width: 100%; /* Optional: Set a maximum width if needed */
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style the table header row */
  thead tr {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  /* Style table header cells */
  th {
    padding: 8px;
    text-align: left;
  }
  
  /* Style table data cells */
  td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
  }
  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  
  /* Style table data cells on hover */
  tr:hover td {
    background-color: #f5f5f5;
  }
  .make-bold{
    font-weight: 500;
    text-transform: capitalize;
    border-color:  1px solid #ddd !important;
  }
  .make-light{
    font-weight: 400;
    border-color: 1px solid #ddd !important;
  }

   .my-table .mat-mdc-header-row .mat-mdc-header-cell{
    background-color: #d6d6d6 !important;
    border: 1px solid white;
  }

  .relval-table tr th{
    border: 1px solid #dedede !important;
    text-align: center !important;
  }
  .relval-table tr td{
    border: 1px solid #dedede !important;
    text-align: center !important;
  }
  .company-head-excEarn{
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #54a1b2;
    background-color: #ffffff;
    border-bottom: 2px solid #54a1b2;
    border-top: 1px solid rgb(218, 218, 218);
    text-align: center;
    text-transform: uppercase;
  }
  
  td:empty {
    border: none;
    background-color: #ffffff;
  }

  .model-btn {
    text-align: center;
    margin-top: 20px;
  }

  .exp {
    background-color: #0481dc;
    color: white;
    border: 2px solid #007bff; /* Blue border */
    font-size: 14px; /* Adjust font size */
    border-radius: 5px; /* Rounded corners for a polished look */
    cursor: pointer; /* Show a pointer cursor on hover */
  }

  /* Add hover effect for a polished look */
  .exp:hover {
    background-color: #0056b3; /* Slightly darker blue on hover */
  }

  // loader css starts
  .loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .loader-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  .loader-message {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }