<mat-table [dataSource]="assessmentDataSource" [ngClass]="contentIsBig(assessmentDataSource) ? 'increase-table-width mat-t scroll-content' : 'mat-t scroll-content'" *ngIf="excelSheetId">
    <ng-container *ngFor="let column of displayColumns;let columnIndex = index" [matColumnDef]="column">
      <mat-header-cell *matHeaderCellDef [ngClass]="column === 'Particulars' ? 'inc-width' : ''">{{ column }}</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="checkHeader(element,columnIndex) ? 'highlight-header' :  checkSubHeader(element,columnIndex) ? 'label-highlight' : checkType(element[column]) && !isNumberOrEmpty(element[column]) ? 'label-c' : '' ">
        <ng-container *ngIf="checkType(element[column]) && columnIndex === 0">
          <span>{{ element[column] }}</span>
        </ng-container>
        <ng-container *ngIf="ifOnlyNumber(element) && columnIndex !== 0">
          <span style="font-size: 13px;font-weight: 500;color: #666666;">{{ formatNegativeAndPositiveValues(element[column])}}</span>
        </ng-container>
        <!-- <mat-form-field class="assessment-field" [appearance]="appearance" style="margin-bottom: -9%;width: 100%;" *ngIf="checkIfEditable(element) && columnIndex !== 0" [floatLabel]="floatLabelType"> -->
          <!-- <input class="input-pl"  [value]="element[column]"  matInput placeholder="---" (blur)="onInputChange($event.target, column,element)"> -->
          <input class="new-inp" style="text-align: center;color: #666666 !important;font-weight: 500;" (blur)="onInputChange($event.target, column,element)" placeholder="-" type="text" [value]="formatNegativeAndPositiveValues(element[column])" *ngIf="checkIfEditable(element) && columnIndex !== 0"/>
          
        <!-- </mat-form-field> -->
    
        <!-- <ng-container *ngIf="isOnlyNull(element[column])">
            <span >{{ element[column] }}</span>
          </ng-container> -->
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
  </mat-table>

  <div class="loader-overlay" *ngIf="loadExcelTable">
    <mat-progress-spinner diameter="50" class="assessment-spinner"  mode="indeterminate"></mat-progress-spinner>
  </div>
  
  <div class="error-container" *ngIf="excelErrorMsg">
    <p class="error-message">Oops! No records found.</p>
    <p class="try-again">Please try following instruction, if issue persist contact administrator.</p>
    <ul class="instruction-list">
      <li>Try traversing between different tabs (Go back and forth between different forms)</li>
      <li>Check the uploaded Balance sheet and Profit & Loss sheet Excel, ensure the date format is correct</li>
      <li>Try re-uploading your excel once again.</li>
    </ul>
  </div>