table {
    width: 100%;
    // border-collapse: collapse;
    // border: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
    // border: 1px solid #ccc;
    font-weight: bold; 
  }
  
  td {
    padding: 10px;
    // border: 1px solid #ccc;
    border-bottom: 0px !important;
    font-family: 'AR One Sans', sans-serif;
    padding-left: 2%;

  }
  
  tr:nth-child(even) {
    background-color: #f5f5f5;
  }
  //  table .mat-mdc-header-row .mat-mdc-header-cell{
  //   background-color: #25fdff !important    ;
  // }
  .company-head {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #3498db;
    background-color: #ffffff;
    border-bottom: 2px solid #3498db;
    text-align: center;
    text-transform: uppercase;
  }
  .company-head:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }

  .industry-head {
    padding-top: 2%;
    padding-bottom: 1%;
    font-size: 18px;
    font-weight: 600;
    color: #009688;
    background-color: #fff;
    border-bottom: 2px solid #009688;
    text-align: center;
    text-transform: uppercase;
  }
  
  .industry-head:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }
  .result-table .mat-mdc-header-row .mat-mdc-header-cell{
    
      font-size: 15px;
      font-weight: 500;
      background-color: #e7faf4 ;
      color: #0f8a76 ;
      text-align: left;
      font-family: 'AR One Sans', sans-serif;
      border-bottom: 0px !important;
      padding-left: 1%;
  }

  .result-table-head {
    padding-bottom: 1%;
    font-size: 15px;
    font-weight: 500;
    color: #009688;
    background-color: #fff;
    text-align: center;
    text-transform: uppercase;
  }
  .result-table-head:hover {
    cursor: pointer;
  }

  .inc-p{
    padding-left: 2% !important;
  }

  .add-padding{
    padding-left: 3%;
  }