<div  *ngIf="modelControl.ruleElevenUa.type === 'ruleElevenUa'">
    <h4 class="card-header">{{modelControl.ruleElevenUa.header}}</h4>
    <form [formGroup]="ruleElevenUaForm" class="outer-wrapper">
        <div class="row" >
            <div class="col-md-12">
                <div class='c-decorated-header'>
                    <h3><span style="padding-left: 2%;">Tangible Assets</span></h3>
                    <div class='c-decorated-header_link-view-more'>
                    </div>
                </div>
            </div>

            <!-- Jewellery -->
            <div class="col-md-4 field" style="padding-top: 1%;">
                <div class="material-textfield">
                  <input class="new-inp" [type]="modelControl.ruleElevenUa.columns.fairValueJewellery.type" [placeholder]="modelControl.ruleElevenUa.columns.fairValueJewellery.placeholder" formControlName="fairValueJewellery"/>
                  <label>{{modelControl.ruleElevenUa.columns.fairValueJewellery.label}}</label>
                </div>
            </div>

            <!-- Aristic Work -->
            <div class="col-md-4 field" style="padding-top: 1%;">
                <div class="material-textfield">
                  <input class="new-inp" [type]="modelControl.ruleElevenUa.columns.fairValueArtistic.type" [placeholder]="modelControl.ruleElevenUa.columns.fairValueArtistic.placeholder" formControlName="fairValueArtistic"/>
                  <label>{{modelControl.ruleElevenUa.columns.fairValueArtistic.label}}</label>
                </div>
            </div>

            <!-- Shares and Securities -->
            <div class="col-md-4 field" style="padding-top: 1%;">
                <div class="material-textfield">
                  <input class="new-inp" [type]="modelControl.ruleElevenUa.columns.fairValueinvstShareSec.type" [placeholder]="modelControl.ruleElevenUa.columns.fairValueinvstShareSec.placeholder" formControlName="fairValueinvstShareSec"/>
                  <label>{{modelControl.ruleElevenUa.columns.fairValueinvstShareSec.label}}</label>
                </div>
            </div>

            <!-- Immovable Property -->
            <div class="col-md-4 field">
                <div class="material-textfield">
                  <input class="new-inp" [type]="modelControl.ruleElevenUa.columns.fairValueImmovableProp.type" [placeholder]="modelControl.ruleElevenUa.columns.fairValueImmovableProp.placeholder" formControlName="fairValueImmovableProp"/>
                  <label>{{modelControl.ruleElevenUa.columns.fairValueImmovableProp.label}}</label>
                </div>
            </div>

            <!-- contingent liability -->
            <div class="col-md-4 field">
                <div class="material-textfield">
                  <input class="new-inp" [type]="modelControl.ruleElevenUa.columns.contingentLiability.type" [placeholder]="modelControl.ruleElevenUa.columns.contingentLiability.placeholder" formControlName="contingentLiability"/>
                  <label>{{modelControl.ruleElevenUa.columns.contingentLiability.label}}</label>
                </div>
            </div>

            <div class="col-md-12 btn-prop">
                <button (click)="previous()" mat-raised-button class="button-back-mat">
                  <span class="button-back"><mat-icon>send</mat-icon></span>
                    Back
                </button>

                <button (click)="saveAndNext()" class="button-save-mat" mat-raised-button>
                    Next
                    <span class="button-save"><mat-icon>send</mat-icon></span>
                </button>
            </div>
        </div>
      </form>  
</div>